#wrapper {
	text-align: center;
	margin: 0;
	float: none; /* de-float */
}

#container {
	width: 960px; /* width not honoured on "body" */
	margin: 0 auto;
	text-align: left;
	float: none; /* de-float */
	position: relative; /* logo position relies on this */
}

#main {
	width: 551px; /* includes 40px of padding */
}

#main .article, #main .article .article {
	width: 511px; /* includes 20px padding */
}

#sidebarR .article {
	width: 199px; /* includes 20px padding */
}