<:wrap base.tmpl:><:embed start:>
<!-- START ID: <:article id:> - TEMP: <:article template:> --><:if Embedded:><:admin article_mini:><:or Embedded:><:admin:><:eif Embedded:><:if Dynamic:>
<div id="cart_sidebar">
  <:include include/cart_sidebar.tmpl:>
</div><:or Dynamic:><:eif Dynamic:>
<!-- END ID: <:article id:> - TEMP: <:article template:> -->
<:embed end:>