<:wrap base.tmpl:><:embed start:>
<!-- START ID: <:article id:> - TEMP: <:article template:> --><:if Embedded:><:admin article_mini:><:or Embedded:><:admin:><:eif Embedded:>
<div id="article_<:article id:>" class="article"><:switch:><:case Match [article flags] "T":>
<h1 id="title_<:article id:>" class="hidden"><:article title:></h1><:case Embedded:>
<h2 id="title_<:article id:>" class="embedtitle"><:article title:></h2><:case default:>
<h1 id="title_<:article id:>" class="pagetitle"><:title:></h1><:endswitch:><:if Or [article body] [ifImages]:>
<div id="body_<:article id:>" class="body">
<:body:>
</div><:or Or:><:eif Or:><:if Dynamic:>
<:dynreport 10_most_popular_products include/custom/top_10.tmpl:><:or Dynamic:><:eif Dynamic:>
</div>
<!-- END ID: <:article id:> - TEMP: <:article template:> -->
<:embed end:>
