/* @group admin */

.bse-admin {

    &.bse-admin-buttons,
    &.bse-admin-buttons-mini {
        display: block;
        overflow: hidden;
        clear: both;
        white-space: nowrap;
        
        * {
            float: left;
            margin: 0;
            padding: 0;
        }
        
        & + * {
            margin-top: 0;
        }
    }
    
    &.bse-admin-buttons-mini {
        margin-bottom: 0.25em;
    }
}

li .bse-admin-buttons-mini {
    float: right !important;
    margin-bottom: 0 !important;
    
    &:first-child {
        float: left !important;
    }
}

/* @end */
