<:wrap interest/interestbase.tmpl title=>"Thank you for your interest" nomessage=>"1" :>
<p class="alert">Your interest <:ifProduct:> in <strong><:product |h:></strong><:eif:> has been registered.</p>
<p>When this item becomes available, you will be notified by email at the following address: <strong><:email |h:></strong></p>
