<:wrap base.tmpl:>
<div align="center">
<table width="350">
  <tr> 
    <th align="center"> 
      <h3>Error</h3>
    </th>
  </tr>
  <tr> 
    <td> 
      There was an error when registering your interest:
      <p><:msg:></p>
    </td>
  </tr>
</table>
</div>