<form action="<:dyntarget interest:>" method="post" class="siteuser">
  <input type="hidden" name="product" value="<:article title:>" />
  <fieldset class="group">
    <legend>Register your interest</legend>
    <p>Receive email notification when this item becomes available.</p>
    <div class="input">
      <label for="interest_email"><:cfg "site users" display_email "Email Address":>:</label>
      <input type="text" name="email" id="interest_email" size="40" title="Enter your <:lc [cfg "site users" display_email "email address"]:>" class="required" />
    </div>
  </fieldset>
  <p class="buttons"><input type="submit" name="submit" value="Register now" accesskey="r" title="AccessKey = r" class="button" /></p>
</form>