<:.wrap "formmail/formbase.tmpl", "nomessage":1 :>
<:- ifFormcfg done_body:>
<:bodytext formcfg done_body:>
<:- eif:>
<:- iterator begin fields:>

<:- switch:>
<!-- Start special case fields //-->
<:- case Match [field htmltype] "^hidden$":>
<:- case Match [field htmltype] "^h[123]$" |x:>
  <:- switch:>
  <:- case Eq [field_number] "1":>
  <:- case default:>
</table>
  <:- endswitch:>
<<:field htmltype:> class="<:field class:>"><:field description:></<:field htmltype:>>

<:- case Match [field htmltype] "^fieldset$":>
  <:- switch:>
  <:- case Match [previous_field htmltype] "^h[123]$" |x:>
  <:- case Eq [field_number] "1":>
  <:- case default:>
</table>
  <:- endswitch:>
<table class="table">
  <caption><:field description:></caption>

<:- case default:>
  <:- switch:>
  <:- case Match [previous_field htmltype] "^h[123]$" |x:>
<table class="<:field name:> <:field class:>">
  <:- case Match [previous_field htmltype] "^fieldset$":>
  <:- case Eq [field_number] "1":>
<table>
  <:- case default:>
  <:- endswitch:>
  <tr>
    <th><:field description:></th>
    <td>
      <:- switch:>
      <!-- Start standard fields //-->
      <:- case !Field value:>
      Nil
      <:- case Match [field htmltype] "^textarea$":>
      <p><:dynreplace [dynreplace [field value] "\A\s+|\s+\z" "" g |x] "\s*\n\s*" "</p><p>" g:></p>
      <:- case Match [field htmltype] "^password$":>
      ********
      <:- case Field values:>
      <:- iterator begin values:>
      <!--<:value id:>: -->
      <:value name:>
      <:- iterator separator values:>
      <br />
      <:- iterator end values:>
      <:- case default:>
      <:field value:>
      <:- endswitch:>
    </td>
  </tr>
  <:- endswitch:>

<:- iterator end fields:>
</table>