<:if Eq [cfg rss version] "2":><?xml version="1.0" encoding="<:cfg html charset "iso-8859-1":>"?>
<rss version="2.0">
  <channel>
    <title><:cfg rss title [cfg site name] |x:></title>
    <link><:cfg site url:>/</link>
    <description><:cfg rss description [nobodytext body] |x:></description>
    <language><:cfg rss language "en":></language>
    <pubDate><:date "%a, %d %b %Y %H:%M:%S %z" article release:></pubDate>
    <lastBuildDate><:today "%a, %d %b %Y %H:%M:%S %z":></lastBuildDate>
    <docs><:cfg rss docs "http://blogs.law.harvard.edu/tech/rss":></docs>
    <generator>BSE codebase <:release:></generator>
    <managingEditor><:cfg rss managingEditor:></managingEditor>
    <webMaster><:cfg rss webMaster:></webMaster>
    <:iterator begin allkids_of [cfg rss sections 1]:>
    <item>
      <title><:nobodytext ofallkid title |x:></title>
      <link><:ifMatch [ofallkid link] "://":><:or:><:cfg site url:><:eif:><:ofallkid link:></link>
      <description><![CDATA[<:embed ofallkid rss/rssbody.tmpl:>]]></description>
      <pubDate><:date "%a, %d %b %Y %T %z" ofallkid release:></pubDate>
      <guid isPermaLink="true"><:ifMatch [ofallkid link] "://":><:or:><:cfg site url:><:eif:><:ofallkid link:></guid>
    </item>
    <:iterator end allkids_of:>
  </channel>
</rss><:or Eq:><?xml version="1.0" encoding="<:cfg html charset "iso-8859-1":>"?>

<rdf:RDF
 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
 xmlns="http://purl.org/rss/1.0/"
 xmlns:dc="http://purl.org/dc/elements/1.1/"
 xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
 xmlns:taxo="http://purl.org/rss/1.0/modules/taxonomy/"
 xmlns:content="http://purl.org/rss/1.0/modules/content/"
>

<channel rdf:about="<:cfg site url:>/index.xml">
  <title><:cfg rss title [cfg site name] |x:></title>
  <link><:cfg site url:>/</link>
  <description><:cfg rss description [nobodytext body] |x:></description>
  <dc:language><:cfg rss language "en":></dc:language>
  <dc:creator><:cfg rss creator:></dc:creator>
  <dc:date><:replace [today "%FT%T%z"] "(\d\d)$" ":$1":></dc:date>
  
  <items>
    <rdf:Seq><:iterator begin allkids_of [cfg rss sections 1]:>
      <rdf:li rdf:resource="<:ifMatch [ofallkid link] "://":><:or:><:cfg site url:><:eif:><:ofallkid link:>" /><:iterator end allkids_of:>
    </rdf:Seq>
  </items>
</channel>
<:iterator begin allkids_of [cfg rss sections 1]:>
 <item rdf:about="<:ifMatch [ofallkid link] "://":><:or:><:cfg site url:><:eif:><:ofallkid link:>">
  <title><:nobodytext ofallkid title |x:></title>
  <link><:ifMatch [ofallkid link] "://":><:or:><:cfg site url:><:eif:><:ofallkid link:></link>
  <description><:nobodytext ofallkid body |x:> [<:date "%b %d" ofallkid release:>]</description>
  <content:encoded><![CDATA[<:replace [bodytext ofallkid body] "(=\")/" [concatenate $1 [cfg site url] / ] :>]]></content:encoded>
  <dc:date><:replace [date "%FT%T%z" ofallkid release] "(\d\d)$" ":$1":></dc:date>
  <dc:creator><:ofallkid author:></dc:creator>
 </item>
<:iterator end allkids_of:>

</rdf:RDF><:eif Eq:>