<:if Dyncart:><div class="article">
              <table class="cart">
                <caption>Shopping Cart <span>(Contains <:dyncarttotalunits:> item<:if Eq [dyncarttotalunits] "1":><:or Eq:>s<:eif Eq:>)</span></caption>
                <thead>
                  <tr>
                    <th class="col1">Item</th>
                    <th class="col2">Qty</th>
                    <th class="col3">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <:iterator begin dyncart:><tr id="cart_item_<:dyncartitem id:>">
                    <td class="col1"><a href="<:dyncartitem link:>" title="<:dyncartitem title:>"><:dynreplace [dyncartitem title] "((?:&[^;]*;|[^&]){16}).*" $1...:></a></td>
                    <td class="col2"><:dyncartitem units:> &times;</td>
                    <td class="col3"><:cfg shop currency "$":><:money dyncartitem retailPrice:></td>
                  </tr><:iterator separator dyncart:>
                  <:iterator end dyncart:>
                </tbody>
              </table>
              <p class="total"><span>Sub total:</span> <:cfg shop currency "$":><:money dyncarttotalcost:></p>
              <:if Dyncarttotalcost:><form action="<:cfg site secureurl:>/cgi-bin/shop.pl" method="post"><p><input type="submit" name="checkout" value="Checkout now" accesskey="c" title="AccessKey = c" /> <input type="submit" name="cart" value="View cart" accesskey="v" title="AccessKey = v" /></p></form><:or Dyncarttotalcost:><:eif Dyncarttotalcost:>
            </div><:or Dyncart:><:eif Dyncart:>