<:if Eq [article id] 1:><:or Eq:><ul id="crumbs"><:if Ancestor 1:><:or Ancestor:><:iterator begin inlines 1:>
  <li class="home"><a href="<:ifAdmin:><:inline admin:><:or:><:cfg site url:><:inline link:><:eif:>" title="<:inline title:>"><:ifInline titleAlias:><:inline titleAlias:><:or:><:inline title:><:eif:></a></li><:iterator end inlines:><:eif Ancestor:><:iterator begin crumbs:>
  <li<:ifEq [crumb id] 1:> class="home"<:or:><:eif:>><a href="<:url crumb:>" title="<:crumb title:>"><:ifCrumb titleAlias:><:crumb titleAlias:><:or:><:crumb title:><:eif:></a></li><:iterator end crumbs:>
  <li class="hilite"><a href="#" title="<:switch:><:case ifEq [param title] "FORMTITLE":><:formcfg title:><:case Param title:><:param title |h:><:case default:><:article title:><:endswitch:>"><:switch:><:case ifEq [param title] "FORMTITLE":><:formcfg title:><:case Param title:><:param title |h:><:case article titleAlias:><:article titleAlias:><:case default:><:article title:><:endswitch:></a></li>
</ul><:eif Eq:>