<:-.if !(cfg.entry("basic", "hide_file_list") or article.flags =~ /h/ ):>
<!-- START FILES ID: <:article id:> -->
<ul class="meta files">
  <:-.set files = [ article.files ]:>
  <:-.for file in files :>
  <li <:-.if file.notes:> class="has-info"<:.end if:>>
    <span>File <:= loop.count:>:</span>
    <:-.if file.forSale:>
    <:= file.description or file.displayName:>
    <:-.else:>
    <a href="<:= cfg.user_url("user", "download_file", "file", file.id, "r", url(top)):>" title="Size: <:= (file.sizeInBytes / 1024).format("%.1f"):>KB">
      <:= file.description or file.displayName:>
    </a>
    <:-.end if:>
    <:-.if file.notes:>
    <div>
      <p>
        <:-# Make sure we implement a way to stript markup like "nobodytext" used to -:>
        <:-= (file.notes).trim().replace(/\s*\n\s*/, "</p><p>", 1) |raw -:>
      </p>
    </div>
    <:-.end if:>
  </li>
  <:-.end for:>
</ul>
<!-- END FILES ID: <:article id:> -->
<:-.end if:>