<:-.if bse.admin and article.all_visible_kids > 1 :>
<:-.set refresh = cfg.admin_url("admin", { "id": top.id }) -:>
<p class="admin sortby">Sort by: 
  <a href="<:= cfg.admin_url("reorder", { "stepparent": article.id, "sort": "title", "r": refresh }) :>" title="Sort child list in alphabetical order">title</a> |
  <a href="<:= cfg.admin_url("reorder", { "stepparent": article.id, "sort": "id", "r": refresh }) :>" title="Sort child list in date creation order">date</a> |
  <a href="<:= cfg.admin_url("reorder", { "stepparent": article.id, "sort": "shuffle", "r": refresh }) :>" title="Shuffle child list order">shuffle</a> |
  <a href="<:= cfg.admin_url("reorder", { "stepparent": article.id, "reverse": 1, "r": refresh }) :>" title="Sort child list in reverse order">reverse</a>
</p>
<:-.end if:>