<:if Admin:><:if Match [ifAllkids] "^[01]$":><:or Match:>
  <p>Sort by: <a href="/cgi-bin/admin/reorder.pl?stepparent=<:article id:>&amp;sort=title&amp;refreshto=/cgi-bin/admin/admin.pl?id=<:top id:>" title="Sort child list in alphabetical order">title</a> | <a href="/cgi-bin/admin/reorder.pl?stepparent=<:article id:>&amp;sort=id&amp;refreshto=/cgi-bin/admin/admin.pl?id=<:top id:>" title="Sort child list in date creation order">date</a> | <a href="/cgi-bin/admin/reorder.pl?stepparent=<:article id:>&amp;reverse=1&amp;refreshto=/cgi-bin/admin/admin.pl?id=<:top id:>" title="Sort child list in reverse order">reverse</a></p>
<:eif Match:><:or Admin:><:eif Admin:>