<:if User:><p><b>Hello <:ifUser name1:><:user name1:> <:user name2:> (<:user userId:>)<:or:><:user userId:><:eif:></b></p>
<p><span style="color: #999999;"><:if Or [cfg custom user_auth] [cfg "site users" nopassword]:><:or Or:>Last logged in: <:date user previousLogon:><br /><:eif Or:>
    Registered since: <:date user whenRegistered:></span></p>
<:or User:><:eif User:>