<:if User:>
<p>Hello 
<b><:user name1:> <:user name2:></b> (<a href="<:dyntarget user:>"><:user userId:></a>)<:if Or [cfg "site users" nopassword] [cfg custom user_auth]:><:or Or:>
<span class="right">(<a href="<:dyntarget user logoff:>">Logout</a>)</span><:eif Or:>
</p>
<:eif User:>