<:if User:>
<p>Hello 
<b><:user name1:> <:user name2:></b> <a href="<:script:>">(<:user userId:>)</a><:if Or [cfg "site users" nopassword] [cfg custom user_auth]:><:or Or:>
<span class="right"><a href="<:script:>?logoff=1">(Logout)</a></span><:eif Or:>
</p>
<:or User:><:eif User:>