--------------------------------------------------------------------
<:article title:>
--------------------------------------------------------------------

<:body:>

--------------------------------------------------------------------

You are receiving this message because you are subscribed to a 
<:cfg site name:> newsletter, at <:cfg site url:>.

If you don't want to receive this newsletter anymore you can
unsubscribe from this newsletter:

<:target user:>?unsub=<:user confirmSecret:>&u=<:user id:>&s=<:sub id:>

or unsubscribe from all our newsletters:

<:target user:>?unsub=<:user confirmSecret:>&u=<:user id:>&s=all
