--------------------------------------------------------------------------------
<:uc [article title]:>
--------------------------------------------------------------------------------

Hi <:ifUser name1:><:user name1:><:or:><:user userId:><:eif:>,

<:body:>

--------------------------------------------------------------------------------

You are receiving this email because you are subscribed to “<:sub name:>”
mailing list. You can manage your subscription details from your account.

ACCOUNT LOGON LINK:
  <:target user:>

UNSUBSCRIBE:
  <:target user:>?unsub=<:user confirmSecret:>&u=<:user id:>&s=<:sub id:>

--------------------------------------------------------------------------------


Regards
The team at <:cfg site name:>
(<:cfg site url:>)