<:wrap base.tmpl:><:embed start:>
<!-- START ID: <:article id:> - TEMP: <:article template:> --><:if Embedded:><:admin article_mini:><:or Embedded:><:admin:><:eif Embedded:>
<div id="article_<:article id:>" class="article"><:if Embedded:>
<h1 id="title_<:article id:>" class="embedtitle"><:article title:></h1><:or Embedded:>
<h1 id="title_<:article id:>" class="pagetitle"><:title:></h1><:eif Embedded:><:if Admin:><:if Ajax:>
<script type="text/javascript" language="javascript">
//<![CDATA[
  new Ajax.InPlaceEditor($('title_<:article id:>'), '/cgi-bin/admin/add.pl',
    {
    rows: 1,
    okText: 'Save',
    loadTextURL: '/cgi-bin/admin/add.pl?a_ajax_get=1&id=<:article id:>&field=title',
    callback: function(form, value) { return 'a_ajax_set=1&id=<:article id:>&field=title&value=' + encodeURIComponent(value) }
    });
//]]>
</script><:or Ajax:><:eif Ajax:><:or Admin:><:eif Admin:><:if Or [article body] [ifImages]:>
<div id="body_<:article id:>" class="body">
<:body:>
</div><:if Admin:><:if Ajax:>
<script type="text/javascript" language="javascript">
//<![CDATA[
  new Ajax.InPlaceEditor($('body_<:article id:>'), '/cgi-bin/admin/add.pl',
    {
    rows: 15,
    okText: 'Save',
    loadTextURL: '/cgi-bin/admin/add.pl?a_ajax_get=1&id=<:article id:>&field=body',
    callback: function(form, value) { return 'a_ajax_save_body=1&id=<:article id:>&body=' + encodeURIComponent(value) }
    });
//]]>
</script><:or Ajax:><:eif Ajax:><:or Admin:><:eif Admin:><:or Or:><:eif Or:><:if Dynamic:><:switch:><:case Dynallkids:><:include include/sortallkids.tmpl:>
<div id="children_<:article id:>" class="children">
  <ul><:iterator begin dynallkids:>
    <li<:ifDynallkid thumbImage:> class="thumbnail"<:or:><:eif:>>
      <div class="child"><:if Admin:><div class="arrows"><:include admin/adminmenu/dynallkid_mini.tmpl:><:dynmoveallkid:></div><:or Admin:><:eif Admin:><:ifDynallkid thumbImage:><div class="thumbnail"><a href="<:url dynallkid:>"><:thumbnail dynallkid:></a></div><:or:><:eif:><div class="childtitle"><a href="<:url dynallkid:>"><:dynallkid title:></a></div><:switch:>
        <:case Dynallkid summary:><div class="summary"><:dynallkid summary:></div><:endswitch:></div>
    </li><:iterator separator dynallkids:><:iterator end dynallkids:>
  </ul>
</div><:endswitch:><:if And [ifEmbedded] [cfg basic relatedsections 1]:><:or And:><:if Dynstepparents:>
<div class="relatedsections">
  <p><strong>Related sections:</strong></p>
  <ul><:iterator begin dynstepparents:>
    <li><a href="<:url dynstepparent:>"><:dynstepparent title:></a></li><:iterator end dynstepparents:>
  </ul>
</div><:or Dynstepparents:><:eif Dynstepparents:><:or Dynamic:><:switch:><:case Allkids:><:include include/sortallkids.tmpl:><:if UnderThreshold allkids:><:iterator begin allkids:>
<:movestepkid:><:embed allkid:><:iterator separator allkids:><:iterator end allkids:><:or UnderThreshold:>
<div id="children-<:article id:>" class="children">
  <ul><:iterator begin allkids:>
    <li<:ifAllkid thumbImage:> class="thumbnail"<:or:><:eif:>>
      <div class="child"><:if Admin:><div class="arrows"><:include admin/adminmenu/allkid_mini.tmpl:><:movestepkid:></div><:or Admin:><:eif Admin:><:ifAllkid thumbImage:><div class="thumbnail"><a href="<:url allkid:>"><:thumbnail allkid:></a></div><:or:><:eif:><div class="childtitle"><a href="<:url allkid:>"><:allkid title:></a></div><:switch:>
        <:case Allkid summary:><div class="summary"><:allkid summary:></div><:case Allkid summaryLength:><div class="summary"><:summary allkid:></div><:endswitch:></div>
    </li><:iterator separator allkids:><:iterator end allkids:>
  </ul>
</div><:eif UnderThreshold:><:endswitch:><:if And [ifEmbedded] [cfg basic relatedsections 1]:><:or And:><:if Stepparents:>
<div class="relatedsections">
  <p><strong>Related sections:</strong></p>
  <ul><:iterator begin stepparents:>
    <li><a href="<:url stepparent:>"><:stepparent title:></a></li><:iterator end stepparents:>
  </ul>
</div><:or Stepparents:><:eif Stepparents:><:eif Dynamic:><:eif And:><:if Files:><:if Or [cfg downloads hide_list] [ifMatch [article flags] "H"]:><:or Or:>
<:include include/files.tmpl:><:eif Or:><:or Files:><:eif Files:>
</div>
<:if And [ifDynamic] [ifMatch [article flags] "a"]:><:dynreport article_comments include/custom/article_comments [dynarticle id]:><:or And:><:eif And:>
<!-- END ID: <:article id:> - TEMP: <:article template:> -->
<:embed end:>