<:wrap base.tmpl gallery=>"lightbox":><:embed start:>
<!-- START ID: <:article id:> - TEMP: <:article template:> --><:if Embedded:><:admin article_mini:><:or Embedded:><:admin:><:eif Embedded:>
<div id="article_<:article id:>" class="article"><:if Embedded:>
<h1 id="title_<:article id:>" class="embedtitle"><:article title:></h1><:or Embedded:>
<h1 id="title_<:article id:>" class="pagetitle"><:title:></h1><:eif Embedded:><:if Or [article body] [ifImages]:>
<div id="body_<:article id:>" class="body">
<:body:>
</div><:switch:><:case Cfg popimage table:>
<table class="gallery">
  <tr><:iterator begin images named /(?<!_hide)$/ :><:if Arithmetic [image_index] && [image_index] % [cfg popimage cols 3] == 0:>
  </tr>
  <tr><:or Arithmetic:><:eif Arithmetic:>
    <td>
      <a href="/cgi-bin/thumb.pl?g=gallery_full&amp;page=<:article id:>&amp;image=<:image - id:>" rel="lightbox[group_<:article id:>]" <:ifEq [image - alt] "":><:or:>title="<:image - alt:>" <:eif:>target="bse_image"><:thumbimage gallery -:></a><:if And [cfg popimage caption 0] [image - alt]:>
      <p><:image - alt:></p><:or And:><:eif And:>
    </td><:iterator separator images:><:iterator end images:><:if Cfg popimage colspan 1:><:if Arithmetic [ifImages named /(?<!_hide)$/ ] % [cfg popimage cols 3]:>
    <td colspan="<:arithmetic [cfg popimage cols 3] - ( [ifImages named /(?<!_hide)$/ ] % [cfg popimage cols 3]) :>">&nbsp;</td><:or Arithmetic:><:eif Arithmetic:><:or Cfg:><:if Arithmetic [ifImages named /(?<!_hide)$/ ] % [cfg popimage cols 3]:><:iterator begin strepeats [arithmetic [cfg popimage cols 3] - ( [ifImages named /(?<!_hide)$/ ] % [cfg popimage cols 3] )]:>
    <td>&nbsp;</td><:iterator end strepeats:><:or Arithmetic:><:eif Arithmetic:><:eif Cfg:>
  </tr>
</table><:case default:>
<ul class="gallery"><:iterator begin images named /(?<!_hide)$/ :>
  <li<:ifArithmetic [image_index] && ([image_index] +1) % [cfg popimage cols 3] == 0:> class="row_end"<:or:><:eif:>>
    <a href="<:thumbimage gallery_full - image:>" rel="lightbox[group_<:article id:>]" <:ifEq [image - alt] "":><:or:>title="<:image - alt:>" <:eif:>target="bse_image"><:thumbimage gallery -:></a><:if And [cfg popimage caption 0] [image - alt]:>
    <p><:image - alt:></p><:or And:><:eif And:>
  </li><:iterator separator images:><:iterator end images:>
</ul><:endswitch:><:or Or:><:eif Or:><:switch:><:case And [ifAllkids] [ifUnderThreshold allkids]:><:include include/sortallkids.tmpl:><:iterator begin allkids:>
<:movestepkid:><:embed allkid:><:iterator end allkids:><:case Or [cfg basic hide_child_list] [ifMatch [article flags] "L"]:><:case Allkids:><:include include/sortallkids.tmpl:>
<div id="children_<:article id:>" class="children">
  <ul><:iterator begin allkids:>
    <li<:ifAllkid thumbImage:> class="thumbnail"<:or:><:eif:>><:ifAllkid thumbImage:>
      <a href="<:url allkid:>" class="thumbnail"><:thumbnail allkid:></a><:or:><:eif:>
      <a href="<:url allkid:>" class="title"><:allkid title:></a><:if Admin:>
      <span class="arrows"><:include admin/adminmenu/allkid_mini.tmpl:><:movestepkid:></span><:or Admin:><:eif Admin:><:switch:><:case Allkid summary:>
      <p class="summary"><:allkid summary:></p><:case Allkid summaryLength:>
      <p class="summary"><:summary allkid:></p><:endswitch:>
    </li><:iterator end allkids:>
  </ul>
</div><:endswitch:><:if Or [ifEmbedded] [cfg basic hide_stepparent_list]:><:or Or:><:if Stepparents:>
<div class="relatedsections">
  <p><strong>Related sections:</strong></p>
  <ul><:iterator begin stepparents:>
    <li><a href="<:url stepparent:>"><:stepparent title:></a></li><:iterator end stepparents:>
  </ul>
</div><:or Stepparents:><:eif Stepparents:><:eif Or:><:if Files:><:if Or [cfg basic hide_file_list] [ifMatch [article flags] "H"]:><:or Or:>
<:include include/files.tmpl:><:eif Or:><:or Files:><:eif Files:>
</div>
<script type="text/javascript" src="/js/lightbox.js"></script>
<!-- END ID: <:article id:> - TEMP: <:article template:> -->
<:embed end:>