/* @override 
	http://tandb.devbox.org/css/basic/custom.css
	http://secure.tandb.devbox.org/css/basic/custom.css
	http://www.tryandbyte.com.au/css/basic/custom.css
	http://dealers.tryandbyte.com.au/css/basic/custom.css
	https://secure.tryandbyte.com.au/css/basic/custom.css
	http://bse.devbox.org/css/basic/custom.css
	http://bse.devbox.org/css/basic/print.css
*/

/* @group body */

html {
	float: left;
	width: 100%;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 0;
	text-align: center;
	background: #666 url(/images/interface/960/page_bkg.gif) repeat-y 50% 0;
	color: #333;
	float: left;
	width: 100%;
}

a:link, a:visited {
	color: #f60;
	text-decoration: none;
}

a:hover, a:active {
	color: #f60;
	text-decoration: underline;
}
pre, tt, kbd, code, samp {
	font-family: Monaco, "Courier New", Courier, mono;
	font-size: 9px;
	line-height: 11px;
	padding: 5px;
	border: 1px dotted #ddd;
	display: block;
	background-color: #eee;
}

acronym, abbr, dfn {
	font-style: normal;
}

acronym[title], abbr[title], dfn[title] {
	border-bottom: 1px dotted #999;
	cursor: help;
}

/*h1 {
	font-size: 20px;
	margin: 10px 0;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	color: #333;
}

h2 {
	font-size: 16px;
	margin: 10px 0;
	font-weight: normal;
	color: #999;
}

h3 {
	font-size: 12px;
	margin: 10px 0 5px 0;
	padding: 0;
	font-weight: normal;
	color: #999;
}

h4 {
	font-size: 11px;
	color: #999;
}*/

h1, h2, h3, h4, h5, h6 {
 font-family: Verdana, sans-serif;
	color: #f30;
	margin: 20px 0 10px 0;
	line-height: 1.25;
}

h2 {
	font-size: 14px;
}

h3 {
	font-size: 11px;
	color: #333;
}

table {
	clear: both;
	margin: 10px 0;
	border-collapse: collapse;
}

th, td {
	font-size: 10px;
}

form {
	margin: 0;
	padding: 0;
	/* hide from mac ie \*/
	/*height: 1%; */
}

select, input, textarea {
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 11px;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

p, ul, ol, blockquote, address {
	margin-top: 10px;
	margin-bottom: 10px;
	font-style: normal;
}

p.error {
	font-size: 11px;
	line-height: 16px; 
	padding: 10px 10px 20px 10px;
	color: #fff;
	font-weight: bold;
	text-shadow: #f30 2px 2px 0;
	background: #f60 url(/images/interface/error_bkg.gif) repeat-x 0 100%;
	border: 1px solid #fff;
}

.clear {
	clear: left;
	font-size: 0;
	line-height: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

.hidden {
	/* used to hide accessibility items */
	position: absolute;
	left: -9999px;
}

p.center {
	text-align: center !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

img {
	border: none;
}

/* @end */

/* @group layout */

#wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: left;
	position: relative; /* logo position relies on this */
}

#container {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	background-color: #fff;
}

#header {
}

#nav {
	float: left;
	width: 731px;
	background-color: #333;
	margin: 10px;
	display: inline; /* combat IE6 Doubled float-margin bug */
}

#content {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

#columns {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0 0 10px 0;
}

#main {
	float: left;
	width: 511px;
	display: inline; /* combat IE6 Doubled float-margin bug */
	padding: 0px 20px 20px 20px;
	background-color: #eee;
	margin: 0;
}

#sidebarL {	
	float: left;
	width: 170px;
	display: inline; /* combat IE6 Doubled float-margin bug */
	margin: 0 10px 0 10px;
	padding: 0;
}

#sidebarR {
	float: right;
	width: 199px;
	display: inline; /* combat IE6 Doubled float-margin bug */
	margin: 59px 10px 0 10px; /* top margin used to dodge dropped logo */
	padding: 0;
}

#footer {
	float: left;
	width: 940px;
	display: inline; /* combat IE6 Doubled float-margin bug */
	font-size: 10px;
	line-height: 14px;
	padding: 7px 0;
	margin: 0 0 0 10px;
	color: #999;
	text-transform: lowercase;
	/*clear: both; apparently redundant because of width */
	background-color: #333;
}

/* @end */

/* @group header */

#header h1 {
	padding: 0;
	margin: 0;
}

#header h1 a {
	width: 199px;
	height: 89px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background: #f60 url(/images/interface/rh_logo.gif) no-repeat 50% 50%;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10; /* display above sidebarR margin-top */
}

/* @end */

/* @group nav */

/* @group lev1 header */

#header .lev1 {
	float: left;
	text-align: left;
	padding: 0 0 0 40px;
	margin: 0;
	list-style-type: none;
	font-size: 11px;
	font-family: "Lucida Grande", "Trebuchets MS", Verdana, Helvetica, sans-serif;
	text-transform: uppercase;
	background: #333 url(/images/interface/nav1_red_square.gif) repeat-y 0 50%;
}

#header .lev1 li {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	white-space: nowrap;
	line-height: 30px;
}

#header .lev1 li a:link, #header .lev1 li a:visited {
	float: left;
	display: block;
	padding: 0 10px;
	text-decoration: none;
	color: #fff;
	margin: 0;
	font-weight: normal;
	/* hide from mac ie \*/
	height: 1%; /**/
}

#header .lev1 li a:hover, #header .lev1 li a:active {
	background-color: #666;
	background-image: none;
	color: #fff;
	background: #666 url(/images/interface/nav1_hover.gif) no-repeat 50% 100%;
}

#header .lev1 li.hilite a:link, #header .lev1 li.hilite a:visited {
	background: #333 url(/images/interface/nav1_hilite.gif) no-repeat 50% 100%;
}

#header .lev1 li.hilite a:hover, #header .lev1 li.hilite a:active {
	background: #333 url(/images/interface/nav1_hover.gif) no-repeat 50% 100%;
}

/* @end */

/* @group lev1 sidebar */

#sidebarL .lev1 {
	text-align: left;
	padding: 0;
	margin: 0 0 10px 0;
	list-style-type: none;
	background: #f60 url(/images/interface/lh_mid.gif) repeat-y 50% 50%;
	font-size: 10px;
	font-family: "Lucida Grande", "Trebuchets MS", Verdana, Helvetica, sans-serif;
}

#sidebarL .lev1 li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	/*white-space: nowrap;*/
}

#sidebarL .lev1 li.first {
	background-image: url(/images/interface/lh_top.gif);
	background-position: 50% 0;
	background-repeat: no-repeat;
}

#sidebarL .lev1 li.last {
	background-image: url(/images/interface/lh_bot.gif);
	background-position: 50% 100%;
	background-repeat: no-repeat;
}

#sidebarL .lev1 li a:link, #sidebarL .lev1 li a:visited {
	display: block;
	font-size: 11px;
	line-height: 12px;
	padding: 4px 10px;
	text-decoration: none;
	color: #fff;
	margin: 0;
	font-weight: normal;
	/* hide from mac ie \*/
	height: 1%; /**/
}

#sidebarL .lev1 li.hilite, #sidebarL .lev1 li a:hover, #sidebarL .lev1 li a:active {
	background-color: #ffb27f;
	background-image: url(/images/interface/nav2_hilite_bkg.gif);
	background-position: 50% 0;
	background-repeat: repeat-y;
	color: #000;
}

#sidebarL .lev1 li.focus a:link, #sidebarL .lev1 li.focus a:visited {
	background-image: url(/images/interface/nav2_hilite.gif);
	background-position: 0 50%;
	background-repeat: no-repeat;
	color: #000;
}

#sidebarL .lev1 li.focus a:hover, #sidebarL .lev1 li.focus a:active {
	background-color: #eee;
	color: #000;
}

/* @end */

/* @end */

/* @group main */

#main .article, #main .article .article {
	line-height: 16px;
	background: #fff url(/images/interface/960/feature_body_bot.gif) no-repeat 50% 100%;
	padding: 0 10px; /* 1px padding to prevent margin collapse */
	margin: 20px 0 0 0;
	float: left; /* required to stop images escaping */
	width: 491px; /* required beause float collapses width */
	display: inline; /* combat IE6 Doubled float-margin bug */
}

#main .article .article {
	margin-left: -10px;
	margin-right: -10px;
	background: none;
}

#main .article .article .embedtitle {
	background: none;
}

/* @group home */

#main .home {
	margin: 0;
	background: none;
}

#main .home .article {
	background: #fff url(/images/interface/960/feature_body_bot.gif) no-repeat 50% 100%;
}

#main .home .article h1.embedtitle {
	background: #fff url(/images/interface/960/feature_body_top.gif) no-repeat 50% 0;
}

/* @end */

#main h1.pagetitle, #main h1.embedtitle {
	background: #fff url(/images/interface/960/feature_body_top.gif) no-repeat 50% 0;
	color: #f60;
	font-weight: bold;
	font-size: 16px;
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	margin: 0 -10px 10px -10px; /* counteract .article padding */
	padding: 10px 10px 0 10px;
}

#main .body a:link, #main .body a:visited {
	border-bottom: 1px dotted #ccc;
	text-decoration: none;
}

#main .body a:hover, #main .body a:active {
	border-bottom: 1px solid #666;
	text-decoration: none;
}

#main .body ul {
	list-style: none;
	margin: 10px 0 10px 15px;
	padding: 0;
}

#main .body ol {
	margin: 10px 0 10px 30px;
	padding: 0;
}

#main .body ul li {
	margin: 0;
	padding: 0 0 0 15px;
	background-image: url(/images/interface/bullet_square.gif);
	background-repeat: no-repeat;
	background-position: 0 5px;
}

/* @group related section */

#main .relatedsections {
	clear: left;
	border-top: 1px solid #ccc;
}

#main .relatedsections p strong {
	padding: 0;
	background: none;
	color: #666;
}

/* @end */

/* @group tables */

#main .body table {
	border: 1px solid #ccc;
	width: 100%;
}

#main .body table caption {
	display: none;
}

#main .body table td, #main .body table th {
	border: 1px solid #ccc;
	padding: 3px;
	font-size: 10px;
/* 	white-space: nowrap; */
}

#main .body table th {
	text-align: left;
	white-space: nowrap;
}

/* @end */

/* @group children */

.children ul {
	margin-left: 0;
	padding-left: 0;
	border-top: 1px solid #ddd;
	background-image: url(/images/trans_pixel.gif); /* required because IE6 loses the border on LI with summary */
	clear: both;
}

.children li {
	position: relative;
	padding: 8px 0;
	margin: 0 0 0 20px;
	border-bottom: 1px solid #ddd;
}

.children li.thumbnail {
	list-style-type: none;
	margin-left: 0;
}

.children li a:link, .children li a:visited, .children li a:hover, .children li a:active {
	font: bold 11px/13px "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-weight: bold;
}

.children li .summary  {
	/*font-size: 10px;
	line-height: 12px;*/
	font-size: 0.9em;
	line-height: 1.2;
	color: #999;
	margin: 1px 0 5px 0;
	display: block;
}

.children li .arrows {
	position: absolute;
	right: 0;
	top: 0.95em;
	z-index: 10;
}

/* @group children table */

.children table {
	border-spacing: 5px;
	width: 100%;
}

.children table td .childtitle  {
	margin-top: 0;
}

.children table td.child {
	border-collapse: collapse;
	padding: 5px;
	vertical-align: top;
	background-color: #fff;
	border: 1px solid #eee;
	width: 33.33%;
}

.children table td .summary  {
	clear: both;
	margin-bottom: 0;
}

.children table td .thumbnail {
	padding: 0;
	margin-bottom: 5px;
}

.children .details {
	font-size: 12px;
	line-height: 14px;
	margin: 0 -1px;
	padding: 0;
	border: 1px solid #ccc;
	color: #000;
	float: left;
	width: 100%;
}

.children .details .price {
	float: left;
	margin: 5px;
	padding: 0;
	font-weight: bold;
	color: #333;
}

.children .details .options {
	float: right;
	margin: 6px 5px;
	padding: 0;
}

.children .details .options a img {
	padding: 2px;
	margin: 0 0 0 5px;
	background: #eee;
	border: 1px solid #ccc;
	/*display: block;*/
	float: right;
	width: 12px;
	height: 12px;
}

.children .details .options a img:hover {
	border: 1px solid #666;
}

/* @end */

/* @end */

/* @group files */

.files {
	border: 1px solid #eee;
	margin: 5px 0;
	padding: 5px;
}

.files dl {
	margin: 0;
	padding: 0 5px;
	background-color: #f8f0cb;
}

.files dl dt {
	border: 1px solid #f8f0cb;
	border-top: 2px solid #fff;
}

.files dl dt.first {
	border: 1px solid #f8f0cb;
}

.files dl span, .files dl strong {
	display: none;
}

.files dl span.s_size {
	display: inline;
	font-weight: normal;
}

.files dl dt {
	font-weight: bold;
	margin: 0;
	padding: 3px 0 0 0;
	background-image: url(/images/interface/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: 0px 50%;
	padding-left: 16px;
}

.files dl dd {
	border: 1px solid #f8f0cb;
	margin: 0;
	padding: 0 0 5px 0;
	padding-left: 16px;
	color: #f7b82c;
	position: relative;
}

.files dl dd p {
	margin: 0;
	padding: 0;
}

.files dl dd div.s_notes {
	color: #333;
}

.files dl dd div.s_notes p {
	margin: 5px 0 0 0;
}

.files dl dd p.s_toggle {
	position: absolute;
	right: 0;
	top: 0;
	font-weight: bold;
	cursor: pointer;
}

.files dl dt.forSale {
	background-image: url(/images/interface/forSale.gif);
}

.files dl dt.requireUser {
	background-image: url(/images/interface/locked.gif);
}

/* @end */

/* @end */

/* @group sidebar */

/* @group siderbar R */

/* @group sidebar article */

#sidebarR .article {
	margin: 10px 0 0px 0;
	padding: 1px 10px 1px 10px; /* 1px padding to prevent margin collapse */
	font-size: 10px;
	line-height: 13px;
	background-color: #eee;
	color: #666;
	float: left; /* required to stop images escaping */
	width: 179px; /* required beause float collapses width */
	display: inline; /* combat IE6 Doubled float-margin bug */
}

#sidebarR h1.embedtitle {
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	color: #f30;
	padding: 0;
	margin: 10px 0;
}

#sidebarR .article p {
	padding: 0;
	margin: 10px 0;
}

#sidebarR .article em {
	font-weight: bold;
	font-style: normal;
	color: #f60;
}

#sidebarR .article .children ul, #sidebarR .article .children li {
	padding: 0;
	margin: 0;
	list-style: none;
}

#sidebarR .article ol li {
	list-style-type: decimal;
}

#sidebarR .article a:link, #sidebarR .article a:visited {
	color: #333;
	border-bottom: 1px solid #ddd;
	text-decoration: none;
}

#sidebarR .article a:hover, #sidebarR .article a:active {
	color: #f60;
	border-bottom: 1px solid #666;
	text-decoration: none;
}

#sidebarR .article form table th {
	text-align: left;
}

#sidebarR .article form table td {
	width: 100%;
}

#sidebarR .article form table td input {
	width: 100%;
	margin-bottom: 4px;
}

/* @end */

/* @group sidebar cart */

#sidebarR p.error {
	margin: 0 0 10px 0;
	float: left; /* required to stop images escaping */
	width: 179px; /* required beause float collapses width */
	display: inline; /* combat IE6 Doubled float-margin bug */
}

#sidebarR .cart, #sidebarR .logon {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	width: 100%;
}

#sidebarR .cart caption, #sidebarR .logon caption {
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	color: #f30;
	padding: 10px 0;
	margin: 0;
	text-align: left;
	caption-side: top;
}

#sidebarR .cart caption span {
	display: block;
	font-size: 11px;
	font-weight: normal;
	color: #666;
}

#sidebarR .cart th, #sidebarR .cart td {
	text-align: left;
	border-bottom: 1px solid #ccc;
	padding: 3px 0;
}

#sidebarR .cart .col1 {
	text-align: left;
	white-space: nowrap;
}

#sidebarR .cart .col2, #sidebarR .cart .col3 {
	text-align: right;
	white-space: nowrap;
}

#sidebarR .cart .col3 {
	font-weight: bold;
}

#sidebarR .total span, #sidebarR .total {
	font-weight: bold;
	font-size: 11px;
	color: #999;
}

#sidebarR .total {
	font-weight: bold;
	font-size: 11px;
	color: #000;
	text-align: right;
}

#sidebarR form input {
	font-size: 9px;
}

/* @end */

/* @end */

/* @group siderbar L & R */

#sidebarL .article ul, #sidebarL .article ol, 
#sidebarR .article ul, #sidebarR .article ol {
	margin-left: 16px;
	padding: 0;
	list-style: square;
}

#sidebarL .article ol, #sidebarR .article ol {
	margin-left: 24px;
}

#sidebarL .article li, #sidebarR .article li {
	padding: 0;
	margin: 3px 0;
}

/* @end */

/* @end */

/* @group footer */

#footer .left {
	float: left;
	color: #ccc;
	margin: 0 10px;
}

#footer .right {
	float: right;
	color: #666;
	margin: 0 10px;
}

#footer .right .sitename {
	font-weight: normal;
	color: #ccc;
}

#footer a:link, #footer a:visited {
	color: #fff;
	border-bottom: 1px dotted #666;
}

#footer a:hover, #footer a:active {
	text-decoration: none;
	border-bottom: 1px solid #000;
}

#footer a.hilite {
	border-bottom: 1px solid #000;
}

/* @end */

/* @group shop */

/* @group shopitem */

.buynow {
	margin: 10px 0;
	border:  1px solid #ddd;
	padding: 5px 10px;
	font-size: 11px;
}

.buynow p {
	margin: 5px 0;
}

.buynow label {
	color: #999;
	font-weight: bold;
}

.buynow .price span {
	padding-left: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #f30;
}

.buynow .light span {
	color: #666;
}

/* @end */

/* @group items */

.shop table.items caption {
	font-weight: bold;
	font-size: 11px;
	text-align: left;
	padding: 5px 0;
	color: #666;
}

.shop table.items {
	border: 1px solid #ccc;
	border-width: 1px 0;
	background: #fff;
	width: 100%;
}

.shop table.items tr {
	/* vertical-align: top; */
}

.shop table.items th {
	border: 2px solid #ccc;
	border-width: 0 0 2px 0;
	padding: 4px;
}

.shop table.items tr.item td {
	border: 1px solid #ccc;
	border-width: 1px 0 0 0;
	background: #fff url(/images/interface/checkout_item_bkg.gif) repeat-x 0 0px; /* background position 0 -7px using original image */
	padding: 8px 4px;
}

.shop table.items td.thumbnail img {
	float: left; /* required by ie */
	border: none;
}

.shop .items td.thumbnail a {
	float: left;
}

.shop table.items .i_description {
	padding-top: 4px;
	/*display: none;  re-instate when we have meaningful descriptions */
}

.shop .items .col1 {
	width: 75%;
	text-align: left;
}

.shop .items .col1 a {
	background: transparent url(/images/interface/checkout_item_bullet.gif) no-repeat 0 50%;
	padding-left: 17px;
}

.shop .items .col1 a.title {
	padding-left: 17px;
}

.shop .items .col2, .shop .items .col3, .shop .items .col4 {
	text-align: right;
}

.shop .items .col3 {
	font-weight: bold;
	/*white-space: nowrap;*/
}

.shop .items .col4 {
	white-space: nowrap;
}

.shop .items td.col3 {
	color: #f30;
}

.shop .items td.col3 span {
	color: #666;
}

/* @end */

/* @group checkout */

.shop h2 {
	font-size: 14px;
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	color: #f30;
	padding-bottom: 5px;
	border: 1px solid #ccc;
	border-width: 0 0 1px 0;
}

.shop h2 label {
	font-weight: bold;
}

.shop p strong {
	display: block;
	padding: 8px 10px;
	background-color: #f60;
	color: #fff;
}

.shop th, .shop label {
	font-weight: bold;
	text-align: left;
}

.shop th, .shop td {
	font-size: 11px;
}

.shop p.alert {
	margin: 40px 0 20px 0;
	padding: 5px 10px;
	background: #eee;
	border: 1px solid #ccc;
	border-width: 2px 0;
}

/* @group payments */

.shop dl, .shop dt, .shop dd {
	margin-top: 10px;
	margin-bottom: 10px;
}

.shop dd {
	margin-left: 40px;
	border-left: 5px solid #ffb27f;
	padding-left: 10px;
}

.shop dd table caption {
	display: none;
}

.shop dd table th, .shop dd table td {
	padding: 0 5px;
}

.shop dd table th {
	text-align: right;
	border-right: 1px solid #ccc;
	white-space: nowrap;
	padding-left: 0;
}

.shop dd table td img {
	margin-bottom: -3px;
}

/* @end */

/* @end */

/* @group checkout & cart */

.shop .totals {
	border-bottom: 2px solid #ccc;
	text-align: right;
	margin-bottom: 10px;
}

.shop .totals p {
	margin: 10px 4px;
	font-weight: bold;
}

.shop .totals span {
	color: #999;
}

.shop .noitems {
	padding: 10px;
	text-align: center;
}

/* @end */

/* @group users */

.shop table.orders {
	position: relative;
	width: 100%;
}

.shop table.orders th, .shop table.orders td {
	width: 25%;/**/
	white-space: nowrap;
}

.shop .orders .col1 {
	width: 25%;
	font-weight: bold;
}

.shop .orders td.col4 {
	font-weight: bold;
	text-align: right;
}

/* @end */

/* @group tabs */

#main ul.tabs , #main ul.tabs li, #main ul.tabs li a {
	margin: 0;
	padding: 0;
	float: left;
}

#main ul.tabs {
	margin-top: 10px;
	width: 100%;	
	line-height: 1.5;
	overflow: visible;
	border-bottom: 1px solid #ccc;
}

#main ul.tabs li {
	list-style: none;
	border: 1px solid #ccc;
	margin-right: 5px !important;
	margin-bottom: -1px !important;
	background: #eee url(/images/interface/tab_bkg.png) repeat-x 50% 100%;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	position: relative;
}

#main ul.tabs li.active {
	background: #fff;
	border-bottom-color: #fff;
}

#main ul.tabs li a {
	color: #666;
	font-weight: bold;
	padding: 10px;
	border: none;
	outline: none;
}

.js-enabled #main .tabs .catalog .embedtitle,
.js-enabled #main .tabs .catalog .items caption,
.js-enabled #main .tabs .catalog .items thead {
	display: none;
}

#main .tabs .catalog {
	margin: 0;
}

#main .tabs .container {
	clear: left;
	margin-left: -10px;
	margin-right: -10px;
}

/* @end */

/* @end */

/* @group search */

/* @group request */

.search table  {
	margin: 0;
	padding: 10px 0;
}

.search th, .search td {
	font-size: 10px;
	text-align: left;
}

.search th {
	padding: 5px 3px 5px 0;
}

.search .help {
	color: #666;
	line-height: 13px;
}

/* @end */

/* @group results */

/* @group title */

.search dt {
	font-weight: bold;
	margin: 5px 0;
}

.search dt a {
	color: #f30;
	text-decoration: none;
}

.search dt a:hover {
	text-decoration: none;
	border-bottom: 1px solid #333;
}

/* @end */

.search dd {
	margin-left: 20px;
}

.search dd .s_excerpt {
	font-size: 10px;
	color: #666;
	line-height: 13px;
}

.search dd strong, .search dd b, .search dt b {
	font-weight: bold;
	color: #333;
	border-bottom: 1px dotted #666;
	background-color: #fe9;
}

/* @group score */

.search p.s_scoreC, .search span.s_scoreB {
	font-size: 1px;
	height: 8px;
	display: block;
}

.search p.s_scoreC {
	position: absolute;
	right: 15px; /* pc ie workaround */
	top: 5px;
	width: 50px;
	border: 1px solid #ccc;
	background-color: #fff;
}

html>body .search p.s_scoreC {
	right: 0; /* override for everything but ie */
}

.search span.s_scoreB {
	background: #f60 url(/images/interface/score.gif) repeat-x 0px 50%;
	border-right: 1px solid #f30;/**/
}

/* @end */

.search dd p {
	color: #333;
}

.search dd div {
	border: 1px solid #eee;
	margin-top: 5px;
}

.search dd div div {
	background-color: #eee;
	border: 1px solid #eee;
	margin: 5px;
	padding: 2px 0;
	position: relative;
}

.search dd div p, .search dd div div p {
	margin: 5px;
}

.search dd div div div {
	border-top: 2px solid #fff;
	margin: 5px 5px 0 5px;
}

.search dd div div p {
	font-size: 10px;
	margin: 0 5px;
	color: #000;
}

.search dd div div p span {
	font-weight: bold;
	color: #545e6b;
}

/* @group files */

.search dd div div div p {
	color: #000;
	margin: 0;
	background: url(/images/interface/arrow_right.gif) no-repeat 0px 50%;
	padding-left: 16px;
}

.search dd div div div p.s_notes, .search dd div div div p.s_filename {
	background: 0;
}

.search dd div div div p a {
	text-decoration: none;
	border-bottom: 0;
	font-weight: bold;
}

.search dd div div div p a:hover {
	text-decoration: none;
	border-bottom: 1px solid #333;
}

.search dd div div div p span {
	font-weight: bold;
	color: #48146a;
	display: none;
}

.search dd div p.s_description {
	font-weight: bold;
	color: #333;
}

.search dd div p.s_description span.s_size {
	font-weight: normal;
	display: inline;
	color: #000;
}

.search dd div div div p.s_filename {
	color: #f7b82c;
	font-weight: normal;
}

/* @end */

/* @end */

/* @group pagination */

.search .pages {
	padding: 10px 0;
	border-top: 1px solid #ddd;
}

.search p.pages a {
	font-weight: bold;
}

.search p.pages strong {
	color: #666;
}

/* @end */

/* @end */

/* @group sitemap */

.sitemap {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

.sitemap li {
	padding: .2em 0;
	margin: 0;
}

.sitemap li li {
	padding: 0;
	margin: 0;
}

.sitemap ul ul {
	list-style: inherit;
}

/* @end */

/* @group formmail */

.formmail table {
	border-top: 1px solid #eee;
	border-collapse: collapse;
	width: 100%;
}

.formmail th, .formmail td {
	font-size: 11px;
	padding: 3px;
	border-bottom: 1px solid #eee;
	text-align: left;
	border-collapse: collapse;
}

.formmail th {
	padding-top: 7px;
	font-size: 10px;
	color: #999;
	border-right: 1px solid #eee;
	vertical-align: top;
	white-space: nowrap;
}

/* @end */

/* @group gallery */

.gallery div {
	float: left;
	/*margin: 0 28px 28px 0;*/
	margin: 0 10px 10px 0;
}
.gallery div.row_end {
	/*margin: 0 0 28px 0;*/
	margin: 0 0 10px 0;
}

/* @end */

/* @group InPlaceEditor */

/* @group common */

.editor_control {
	width: 24px;
	height: 17px;
	text-indent: -9999px;
	background: transparent url(/images/admin/vtc/buttons/inplace.gif) no-repeat 100% 50%;
	z-index: 1000;
	margin: 0;
	padding: 0;
	left: -29px;
}

.editor_control_hilite {
	width: 48px;
	background-image: url(/images/admin/vtc/buttons/inplaceH.gif);
	left: -53px;
}

.inplaceeditor-form {
	margin-bottom: 10px;
	clear: both;
}

.inplaceeditor-form .editor_field {
	width: 100%;
	/*width: 461px;*/
	margin: 0;
	padding: 0;
	border: 0;
}

.inplaceeditor-form .editor_cancel {
	font-weight: bold;
}

.inplaceeditor-form .editor_ok_button {
	margin-right: 5px;
}

/* @end */

/* @group main */

#main .body .editor_control, #main .body .editor_container {
	margin: 0;
	padding: 0;
}

#main .inplaceeditor-form input.editor_field {
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #f60;
	background-color: #fff;
	margin: 10px 0;
}

#main .inplaceeditor-form textarea.editor_field {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	line-height: 16px;
	background-color: #fff;
	margin-bottom: 10px;
}

/* @end */

/* @group sidebar */

#sidebarR .inplaceeditor-form input.editor_field {
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	color: #f30;
	background-color: #eee;
	margin: 10px 0;
}

#sidebarR .inplaceeditor-form textarea.editor_field {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	line-height: 13px;
	color: #666;
	background-color: #eee;
	margin-bottom: 10px;
}

/* @end */

/* @end */

/* @group tooltips */

.tooltip-container {
	/*width: 125px;*/
	min-width: 90px;
	max-width: 125px;
	max-width: 140px;
	padding: 6px 10px;
	/*background-color: rgba(50,47,46,0.9);*/
	background-color: #fff;
	border: 1px solid #ccc;
	color: #333 !important;
	text-align: left;
	z-index: 1000;
	position: relative;
	overflow: visible;
}

.tooltip-container .tooltip-title {
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	text-transform: none; /* cancel global header uppercase */
	color: #666 !important;
}

.tooltip-container .tooltip-image {
	display: block;
	margin: 8px 0 4px 0;
	padding: 0;
	width: 140px;
	height: 140px;
	background: transparent url(/images/interface/spinner-lrg.gif) no-repeat 50% 50%;
}

.tooltip-container .tooltip-stem {
	position: absolute;
	/*background: transparent url(/images/tooltips/tooltip-stems.png) no-repeat;*/
	background: transparent no-repeat;
	width: 10px;
	height: 10px;
}

/* @group top */

.tooltip-container.top .tooltip-stem,
.tooltip-container.topleft .tooltip-stem,
.tooltip-container.topright .tooltip-stem {
	background-image: url(/images/tooltips/tooltip-stem-v.png);
	top: -10px;
}

.tooltip-container.top .tooltip-stem {
	left: 0;
	width: 100%;
	background-position: center top;
}

.tooltip-container.topleft .tooltip-stem {
	left: -1px;
	background-position: left top;
}

.tooltip-container.topright .tooltip-stem {
	right: -1px;
	background-position: right top;
}

/* @end */

/* @group bottom */

.tooltip-container.bottom .tooltip-stem,
.tooltip-container.bottomleft .tooltip-stem,
.tooltip-container.bottomright .tooltip-stem {
	background-image: url(/images/tooltips/tooltip-stem-v.png);
	bottom: -10px;
}

.tooltip-container.bottom .tooltip-stem {
	left: 0;
	width: 100%;
	background-position: center bottom;
}

.tooltip-container.bottomleft .tooltip-stem {
	left: -1px;
	background-position: left bottom;
}

.tooltip-container.bottomright .tooltip-stem {
	right: -1px;
	background-position: right bottom;
}

/* @end */

/* @group left */

.tooltip-container.left .tooltip-stem,
.tooltip-container.lefttop .tooltip-stem,
.tooltip-container.leftbottom .tooltip-stem {
	background-image: url(/images/tooltips/tooltip-stem-h.png);
	left: -10px;
}

.tooltip-container.left .tooltip-stem {
	top: 0;
	height: 100%;
	background-position: left center;
}

.tooltip-container.lefttop .tooltip-stem {
	top: -1px;
	background-position: left top;
}

.tooltip-container.leftbottom .tooltip-stem {
	bottom: -1px;
	background-position: left bottom;
}

/* @end */

/* @group right */

.tooltip-container.right .tooltip-stem,
.tooltip-container.righttop .tooltip-stem,
.tooltip-container.rightbottom .tooltip-stem {
	background: url(/images/tooltips/tooltip-stem-h.png);
	right: -10px;
}

.tooltip-container.right .tooltip-stem {
	top: 0;
	height: 100%;
	background-position: right center;
}

.tooltip-container.righttop .tooltip-stem {
	top: -1px;
	background-position: right top;
}

.tooltip-container.rightbottom .tooltip-stem {
	bottom: -1px;
	background-position: right bottom;
}

/* @end */

/* @end */

.zoomer {
	/*float: right;*/
	border: none !important;
	margin-left: 10px;
}