<:wrap user/pubbase.tmpl title=>"Affiliate Home" nomessage=>"1" :>
<h2><:ifSiteuser affiliate_name:><:siteuser affiliate_name:><:or:><:siteuser userId:><:eif:>’s public profile</h2>
<:ifSiteuser_image photo:>
<p><img src="<:siteuser_image photo url:>" width="<:siteuser_image photo width:>" height="<:siteuser_image photo height:>" alt="<:siteuser_image photo alt:>" /></p><:or:><:eif:>
      
<:ifSiteuser_image logo:>
<p><img src="<:siteuser_image logo url:>" width="<:siteuser_image logo width:>" height="<:siteuser_image logo height:>" alt="<:siteuser_image logo alt:>" /></p><:or:><:eif:>

<:ifCfg affiliate remote_affiliate:>
<p><a href="<:cfg affiliate remote_affiliate:>/cgi-bin/affiliate.pl?a_set=1&amp;id=<:siteuser userId:>">Make a purchase in our store</a></p><:or:>
<p><a href="<:cfg site url:>/cgi-bin/affiliate.pl?a_set=1&amp;id=<:siteuser userId:>">Make a purchase in our store</a></p><:eif:>
