<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="<:cfg site language en:>" xml:lang="<:cfg site language en:>">
<head>
<title><:switch:><:case ifEq [param title] "FORMTITLE":><:formcfg title:><:case Param title:><:param title |h:><:case article pageTitle:><:article pageTitle:><:case default:><:article title:><:endswitch:> - <:cfg site name |h:></title>
<meta http-equiv="Content-Type" content="<:cfg site format text/html:>; charset=<:cfg html charset iso-8859-1:>" />
<meta name="robots" content="<:cfg site robots all:>" /><:if Article release:>
<meta name="author" content="<:article author:>" />
<meta name="keywords" content="<:article metaKeywords:>" />
<meta name="description" content="<:article metaDescription:>" /><:if Cfg metadata dublincore:>
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<meta name="DC.creator" content="<:article author:>" />
<meta name="DC.publisher" content="<:cfg site name |h:>" />
<meta name="DC.title" content="<:ifArticle pageTitle:><:article pageTitle:><:or:><:article title:><:eif:>" />
<meta name="DC.date" content='<:replace [date "%FT%T%z" article lastModified] "(\d\d)$" ":$1":>' />
<meta name="DC.identifier" content="<:cfg site url:><:article link:>" />
<meta name="DC.keywords" content="<:article metaKeywords:>" />
<meta name="DC.description" content="<:article metaDescription:>" />
<meta name="DC.format" content="<:cfg site format text/html:>" />
<meta name="DC.language" content="<:cfg site language en:>" /><:or Cfg:><:eif Cfg:><:or Article:><:eif Article:>
<meta name="VTC.generated" content='<:replace [today "%FT%T%z"] "(\d\d)$" ":$1":>' />
<meta name="VTC.generator" content="BSE codebase <:release:>" />
<meta name="VTC.release" content="<:include include/release.tmpl:>" /><:ifCfg rss enabled:>
<link rel="alternate" type="application/rss+xml" title="RSS" href="<:cfg site url:>/index.xml" /><:or:><:eif:><:ajax includes:>
<link rel="stylesheet" type="text/css" media="screen" title="screen" href="/css/<:cfg theme name:>custom.css" />
<link rel="stylesheet" type="text/css" media="print" href="/css/<:cfg theme name:>print.css" />
</head>
<body>
<p class="hidden"><a href="#main" accesskey="S">Skip to main content</a>.</p>
<div id="wrapper">
  <div id="container">
    <div id="header">
      <h1><a href="<:cfg site url:>/" title="<:cfg site name |h:>" accesskey="1"><:cfg site name |h:></a></h1>
      <div id="nav">
        <h1 class="hidden">Main Menu</h1>
        <ul class="lev1">
          <:iterator begin allkids_of -1 filter: [menu] == 0 && [listed] != 2 :><li class="i_<:ofallkid_number:><:ifAncestor ofallkid:> hilite<:or:><:eif:><:ifFirstOfallkid:> first<:or:><:eif:><:ifLastOfallkid:> last<:or:><:eif:>"><a href="<:url ofallkid:>"><:ifOfallkid titleAlias:><:ofallkid titleAlias:><:or:><:ofallkid title:><:eif:></a></li><:iterator separator allkids_of:>
          <:iterator end allkids_of:>
          <li class="search<:ifMatch [article title] Search:> hilite<:or:><:eif:>"><a href="<:cfg site url:>/cgi-bin/search.pl" accesskey="4">Search</a></li>
        </ul>
      </div>
    </div>
    <div id="content">
      <div id="columns">
        <div id="sidebarL"><:if Allkids_of 3 :>
          <h1 class="hidden">Topic Menu</h1>
          <ul class="lev2">
            <:iterator begin allkids_of 3 filter: [listed] != 2:><li class="i_<:ofallkid_number:><:ifAncestor ofallkid:> hilite<:or:><:eif:><:ifFirstOfallkid:> first<:or:><:eif:><:ifLastOfallkid:> last<:or:><:eif:>"><a href="<:url ofallkid:>"><:ifOfallkid titleAlias:><:ofallkid titleAlias:><:or:><:ofallkid title:><:eif:></a></li><:iterator separator allkids_of:>
            <:iterator end allkids_of:>
          </ul><:or Allkids_of:><:eif Allkids_of:><:if Imagen imgleft:>
          <p class="imgleft"><:imagen imgleft:></p><:or Imagen:><:if Gimage imgleft:>
          <p class="imgleft"><:gimage imgleft:></p><:or Gimage:><:eif Gimage:><:eif Imagen:>
          <div class="clear"><!-- prevent bottom margin collapse on ie --></div>
        </div>
        <div id="sidebarR"><:if Allkids_of -1 filter: [menu] == 2 && [listed] != 2 :>
          <h1 class="hidden">Topic Menu</h1>
          <ul class="lev2">
            <:iterator begin allkids_of -1 filter: [menu] == 2 && [listed] != 2 :><li class="i_<:ofallkid_number:><:ifAncestor ofallkid:> hilite<:or:><:eif:><:ifFirstOfallkid:> first<:or:><:eif:><:ifLastOfallkid:> last<:or:><:eif:>"><a href="<:url ofallkid:>"><:ifOfallkid titleAlias:><:ofallkid titleAlias:><:or:><:ofallkid title:><:eif:></a></li><:iterator separator allkids_of:>
            <:iterator end allkids_of:>
          </ul><:or Allkids_of:><:eif Allkids_of:><:if Cfg shop sidebar_cart 1:><:if Dynamic:>
          <div id="cart_sidebar">
            <:include include/cart_sidebar.tmpl:>
          </div><:or Dynamic:><:eif Dynamic:><:or Cfg:><:eif Cfg:>
          <:embed 4:><:if Dynamic:>
          <div class="article"><:if User:>
            <h1 class="embedtitle">Your Account</h1>
            <p><a href="<:cfg site secureurl:>/cgi-bin/user.pl"><:user name1:> <:user name2:> - (<:user userId:>)</a></p><:or User:>
            <form action="<:cfg site secureurl:>/cgi-bin/user.pl" method="post">
              <input type="hidden" name="r" value="<:switch:><:case Match [script] "page":><:cfg site url:><:url article:><:case Script:><:cfg site url:><:script:><:case default:><:cfg site url:><:url article:><:endswitch:>" />
              <table class="logon">
                <caption>Your Account</caption>
                <tbody>
                  <tr><th><label for="userid"><:cfg "site users" userid_description "Username":>:</label></th><td><input type="text" id="userid" name="userid" value="<:old userid:>" /></td></tr>
                  <tr><th><label for="password">Password:</label></th><td><input type="password" id="password" name="password" value="<:old password:>" /></td></tr>
                </tbody>
              </table>
              <p>
                <input type="submit" name="logon" value="Logon" accesskey="l" title="AccessKey = l" />
                <input type="submit" name="show_register" value="Register" accesskey="r" title="AccessKey = r" />
              </p>
            </form><:eif User:>
          </div><:or Dynamic:><:eif Dynamic:><:if Imagen imgright:>
          <p class="imgright"><:imagen imgright:></p><:or Imagen:><:if Gimage imgright:>
          <p class="imgright"><:gimage imgright:></p><:or Gimage:><:eif Gimage:><:eif Imagen:>
          <div class="clear"><!-- prevent bottom margin collapse on ie --></div>
        </div>
        <div id="main">
          <:wrap here:>
          <div class="clear"><!-- prevent bottom margin collapse on ie --></div>
        </div>
      </div>
    </div>
    <div id="footer"><span class="left"><:iterator begin allkids_of -1 filter: [menu] == 3 && [listed] != 2 :><a href="<:url ofallkid:>" class="i_<:ofallkid_number:><:ifAncestor ofallkid:> hilite<:or:><:eif:><:ifFirstOfallkid:> first<:or:><:eif:><:ifLastOfallkid:> last<:or:><:eif:>"><:ifOfallkid titleAlias:><:ofallkid titleAlias:><:or:><:ofallkid title:><:eif:></a> | <:iterator separator allkids_of:><:iterator end allkids_of:><a href="<:cfg site url:>/cgi-bin/search.pl" class="search <:ifMatch [article title] Search:>hilite<:or:><:eif:>" accesskey="4">Search</a></span> <span class="right"><span class="sitename"><:cfg site name |h:></span> &copy;1989-<:today "%Y":> - Site by <a href="http://www.visualthought.com.au/" title="Design, templates and coding by visual thought communication">vtc</a></span></div>
  </div>
</div>
</body>
</html>
