<:wrap shopbase.tmpl title=>"Shopping Cart" :>
<p><b>Contains</b> - <:dyncarttotalunits:> item<:if Eq [dyncarttotalunits] "1":><:or Eq:>s<:eif Eq:></p>
<form action="<:target shop |h:>" method="post">
<table class="items">
  <caption>Order items</caption><:ifTotal:>
  <thead>
    <tr>
      <th class="item">Item</th>
      <th class="quantity">Qty</th>
      <th class="price">Price</th>
      <th class="extended">Extended</th>
      <th class="action">Action</th>
    </tr>
  </thead><:eif:>
  <tbody><:if Count:><:iterator begin items:>
    <tr id="item_<:item id:>">
      <td class="item">
        <a href="<:item link:>" class="title"><:item title:></a><:ifOptions:>
        <span><:options:></span><:eif:><:if And [item description] [cfg shop product_description 1]:>
        <div class="description"><:item description:></div><:eif And:>
      </td>
      <td class="quantity"><:if Match [item generator] "Seminar":>
        <input type="hidden" name="quantity_<:index:>" value="<:item units:>" /><:ifTotal:><:item units:><:eif:><:or Match:>
        <input type="text" name="quantity_<:index:>" size="2" value="<:item units:>" /><:eif Match:> &times;
      </td>
      <td class="price"><:if Item price:><:cfg shop currency "$":><:number money [item price]:><:eif Item:></td>
      <td class="extended"><:cfg shop currency "$":><:number money [arithmetic [item units] * [item price]]:></td>
      <td class="action"><input type="image" name="delete_<:index:>" id="delete_<:index:>" src="/bse-display/images/buttons/delete.gif" title="Remove this item" /></td>
    </tr><:iterator end items:><:or Count:>
    <tr>
      <td colspan="4" class="noitems">Your shopping <:cfg shop cart_name cart:> is empty</td>
    </tr><:eif Count:>
  </tbody>
</table><:if Count:><:if Total:>
<div class="totals">
  <p class="total"><abbr><:cfg shop currency_code "AUD":></abbr> <label>Sub total:</label> <:cfg shop currency "$":><:number money [total]:></p>
</div><:eif Total:>
<p class="buttons">
  <:if Total:><input type="submit" name="checkout" value="Checkout now" accesskey="c" title="AccessKey = c" />
  <input type="submit" name="recalc" value="Update" accesskey="u" title="AccessKey = u" /><:ifCfg shop emptycart:>
  <input type="submit" name="a_emptycart" value="Empty cart" accesskey="e" title="AccessKey = e" /><:eif:><:or Total:>
  <input type="submit" name="a_order" value="Checkout now" accesskey="c" title="AccessKey = c" /><:eif Total:>
</p><:if Total:><:or Total:>
<input type="hidden" name="delivFirstName" id="delivFirstName" value="<:user name1:>" />
<input type="hidden" name="delivLastName" id="delivLastName" value="<:user name2:>" />
<input type="hidden" name="delivStreet" id="delivStreet" value="<:user street:>" />
<input type="hidden" name="delivStreet2" id="delivStreet2" value="<:user street2:>" />
<input type="hidden" name="delivSuburb" id="delivSuburb" value="<:user suburb:>" />
<input type="hidden" name="delivPostCode" id="delivPostCode" value="<:user postcode:>" />
<input type="hidden" name="delivState" id="delivState" value="<:user state:>" />
<input type="hidden" name="delivCountry" id="delivCountry" value="<:user country:>" />
<input type="hidden" name="telephone" id="telephone" value="<:user telephone:>" />
<input type="hidden" name="facsimile" id="facsimile" value="<:user facsimile:>" />
<input type="hidden" name="delivMobile" id="mobile" value="<:user mobile:>" />
<input type="hidden" name="emailAddress" id="emailAddress" value="<:user email:>" /><:eif Total:><:eif Count:>
</form>