<:wrap shopbase.tmpl title=>"Checkout Complete" :>
<p><b>Thank you <:ifOrder billFirstName:><:order billFirstName:><:or:><:order delivFirstName:><:eif:>, your order number is: <:order id |%06d:></b></p>
<p>Please refer to your order number when making enquiries regarding this purchase.</p>
<p>Confirmation of this order has been emailed to: <a href="mailto:<:order emailAddress:>"><:order emailAddress:></a></p>
<:if Payment CC:>
<dl>
  <dt><:if Order ccOnline:>Your credit card payment was processed online<:or Order:>Your credit card will be debited at time of shipping<:eif Order:>:</dt>
  <dd>
    <table>
      <caption>Credit Card Details</caption>
      <:if Order ccOnline:><tr>
        <th>Receipt No.:</th><td><:order ccReceipt:></td>
      </tr>
      <:or Order:><:eif Order:><tr>
        <th><:cfg shop display_cardHolder "Name on Card":>:</th><td><:order ccName:></td>
      </tr>
      <tr>
        <th><:cfg shop display_cardType "Card Type":>:</th><td><:order ccType:></td>
      </tr>
    </table>
  </dd>
</dl>
<:or Payment:><:eif Payment:>
<:if Payment Cheque:>
<dl>
  <dt>Please send a cheque to:</dt>
  <dd>
    <address>
      <b><:cfg shop address1 |h:></b><br />
      <:cfg shop address2 |h:><br />
      <:cfg shop address3 |h:><br />
      <:cfg shop address4 |h:>
    </address>
  </dd>
</dl>
<:or Payment:><:eif Payment:>
<:if Payment DirectDeposit:>
<dl>
  <dt>Please transfer the funds to:</dt>
  <dd>
    <table>
      <caption>Electronic Fund Transfer Details</caption>
      <tr>
        <th>Name:</th><td><:cfg shop accountname |h:></td>
      </tr>
      <tr>
        <th>BSB:</th><td><:cfg shop bsb:></td>
      </tr>
      <tr>
        <th>Account:</th><td><:cfg shop accountno:></td>
      </tr>
      <tr>
        <th>Reference:</th><td><:order id |%06d:></td>
      </tr>
    </table>
  </dd>
</dl>
<:or Payment:><:eif Payment:>
<:if Payment CallMe:>
<p>We will contact you to make arrangements for payment.</p>
<:or Payment:><:eif Payment:>
<:if Payment PayPal:>
<dl>
  <dt>Your payment was processed through PayPal:</dt>
  <dd>
    <table>
      <caption>PayPal Details</caption>
      <tr>
        <th>Transaction Id:</th><td><:order paypal_tran_id:></td>
      </tr>
    </table>
  </dd>
</dl>
<:or Payment:><:eif Payment:>
<:include include/custom/payment_type_checkoutfinal.tmpl optional:>
<:if Cfg "site users" nopassword:><:or Cfg:><:if User:>
<p class="alert">
  This purchase will be added to your order history. You can track the status of your purchases and maintain your account details in your <a href="<:dyntarget user userpage:>">account manager</a>.
</p><:or User:><:eif User:><:eif Cfg:>
<table class="items">
  <caption>Order items</caption>
  <thead>
    <tr> 
      <th class="col1">Item</th>
      <th class="col2">Qty</th>
      <th class="col3">Price</th>
    </tr>
  </thead>
  <tbody><:iterator begin items:>
    <tr class="item"> 
      <td class="col1">
        <a href="<:product link:>" class="title"><:item title:></a> <:options:><:if Cfg tryandbyte aufreight:><:if Overseas:><:or Overseas:><:ifFreeShipProduct item:> - (free shipping)<:or:><:eif:><:eif Overseas:><:or Cfg:><:eif Cfg:><:if And [item description] [cfg shop product_description 1]:>
        <div class="description"><:item description:></div><:or And:><:eif And:>
      </td>
      <td class="col2"><:item units:> &times;</td>
      <td class="col3"><:cfg shop currency "$":><:number money [item retailPrice]:></td>
    </tr><:iterator end items:>
  </tbody>
</table>
<div class="totals">
  <:switch:>
  <:case Shipping_cost:>
  <p class="freight"><span>(<:shipping_method:><:if delivery_in:>, delivery in <:delivery_in:> days<:or delivery_in:><:eif delivery_in:>)</span> <label>Freight:</label> <:cfg shop currency "$":><:number money [shipping_cost]:></p>
  <:case Eq [order shipping_name] contact:>
  <p class="freight"><span>(<:shipping_method:>)</span> <label>Freight:</label> TBA</p>
  <:case default:>
  <:endswitch:>
  <p class="total"><abbr><:cfg shop currency_code "AUD":></abbr> <label>Total:</label> <:cfg shop currency "$":><:number money [order total]:></p>
</div><:if Cfg tryandbyte aufreight:><:if Overseas:>
<p><b>We will contact you with a quote for shipping cost</b></p><:or Overseas:><:ifFreeShippingCart:>
<p><b>This order qualifies for free shipping within Australia</b></p><:or:><:eif:><:eif Overseas:><:or Cfg:><:eif Cfg:>
<:if Orderpaidfiles:>
<h2>Download files</h2>
<p>Your purchase includes file downloads, for your convenience they are available below. You can download your files later from the <a href="<:dyntarget user userpage _t files:>">File downloads</a> section of your account.</p>
<table class="items orders">
  <caption>Files available</caption>
  <thead>
    <tr>
      <th class="col1">Filename/Title</th>
      <th class="col2">Date</th>
      <th class="col3">Size</th>
    </tr>
  </thead>
  <tbody>
    <:iterator begin orderpaidfiles sort: -modwhen:>
    <tr class="item">
      <td class="col1"><a href="<:orderpaidfile url:>" title="<:orderpaidfile description:>"><:orderpaidfile displayName:></a></td>
      <td class="col2"><:date orderpaidfile whenUploaded:></td>
      <td class="col3"><:kb orderpaidfile sizeInBytes:>b</td>
    </tr>
    <:iterator end orderpaidfiles:>
  </tbody>
</table>
<:or Orderpaidfiles:><:eif Orderpaidfiles:>
