<:wrap shopbase.tmpl title=>"Shop Checkout" :>
<p>The <:siteName |h:> store is run on a secure encrypted server, your details are securely processed.</p>
<table class="items">
  <caption>Selected Order Items</caption>
  <thead>
    <tr> 
      <th class="col1">Item:</th>
      <th class="col2">Qty:</th>
      <th class="col3">Price:</th>
    </tr>
  </thead>
  <tbody><:iterator begin items:>
    <tr class="item"> 
      <td class="col1">
        <a href="<:item link:>" class="title"><:item title:></a> <:options:><:if Cfg tryandbyte aufreight:><:if Overseas:><:or Overseas:><:ifFreeShipProduct item:> - (free shipping)<:or:><:eif:><:eif Overseas:><:or Cfg:><:eif Cfg:><:if And [item description] [cfg shop product_description 1]:>
        <div class="i_description"><:item description:></div><:or And:><:eif And:>
      </td>
      <td class="col2"><:item units:> &times;</td>
      <td class="col3"><:cfg shop currency "$":><:money item retailPrice:></td>
    </tr><:iterator end items:>
  </tbody>
</table>
<div class="totals">
  <:switch:>
  <:case Eq [cfg shop shipping] 0:>
  <:case Or [cfg freight enabled] [cfg tryandbyte aufreight]:>
  <p class="freight"><span>Freight:</span> <:ifOverseas:>To be quoted<:or:><:if Freight:><:cfg shop currency "$":><:money freight:><:or Freight:><:cfg freight zero_value "None":><:eif Freight:><:eif:></p>
  <:case Shipping_cost:>
  <p class="freight"><span>(<:shipping_method:><:if delivery_in:>, delivery in <:delivery_in:> days<:or delivery_in:><:eif delivery_in:>):</span> <:cfg shop currency "$":><:money shipping_cost:></p>
  <:case Eq [shipping_name] contact:>
  <p class="freight"><span>(Shipping charges to be quoted later):</span> <:cfg shop currency "$":>X.XX</p>
  <:case default:>
  <:endswitch:>
  <p class="total"><span>Total:</span> <:cfg shop currency "$":><:money total:></p>
</div><:if Cfg "site users" nopassword:><:or Cfg:>
<p class="alert">
  <:if User:>This purchase will be added to the <a href="<:cfg site secureurl:>/cgi-bin/user.pl?userpage=1&amp;_t=orders&amp;r=<:dyntarget shop:>%3Fcheckout=1"><b>order history</b></a> in your account. You can maintain the <a href="<:cfg site secureurl:>/cgi-bin/user.pl?show_opts=1&amp;r=<:dyntarget shop:>%3Fcheckout=1<:ifCgi need_billing:>%26need_billing=1<:or:><:eif:>"><b>shipping</b></a> and <a href="<:cfg site secureurl:>/cgi-bin/user.pl?show_opts=1&amp;_t=billing&amp;r=<:dyntarget shop:>%3Fcheckout=1<:ifCgi need_billing:>%26need_billing=1<:or:><:eif:>"><b>billing</b></a> details in your user <a href="<:cfg site secureurl:>/cgi-bin/user.pl?userpage=1&amp;r=<:dyntarget shop:>%3Fcheckout=1<:ifCgi need_billing:>%26need_billing=1<:or:><:eif:>"><b>account manager</b></a>.
  <:or User:>If you wish to track the status of your order you must <:if Or [cfg "site users" user_register]:>either <a href="<:cfg site secureurl:>/cgi-bin/user.pl?show_register=1&amp;r=<:dyntarget shop:>%3Fcheckout=1<:ifCgi need_billing:>%26need_billing=1<:or:><:eif:>"><b>Register</b></a> or <:or Or:><:eif Or:><a href="<:cfg site secureurl:>/cgi-bin/user.pl?show_logon=1&amp;r=<:dyntarget shop:>%3Fcheckout=1<:ifCgi need_billing:>%26need_billing=1<:or:><:eif:>"><b>Logon</b></a> before you continue with this purchase.<:eif User:>
</p><:eif Cfg:>
<form action="<:dyntarget shop:>" method="post">
  <h2>Shipping Details:</h2>
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th><label for="delivFirstName"><:cfg shop display_delivFirstName "First Name":>:</label></th>
      <td><input type="text" name="delivFirstName" id="delivFirstName" size="34" value="<:old delivFirstName:>" /> *</td>
      <td><:error_img delivFirstName:></td>
    </tr>
    <tr>
      <th><label for="delivLastName"><:cfg shop display_delivLastName "Last Name":>:</label></th>
      <td><input type="text" name="delivLastName" id="delivLastName" size="34" value="<:old delivLastName:>" /> *</td>
      <td><:error_img delivLastName:></td>
    </tr>
    <tr>
      <th><label for="delivOrganization"><:cfg shop display_delivOrganization "Organisation":>:</label></th>
      <td><input type="text" name="delivOrganization" id="delivOrganization" size="34" value="<:old delivOrganization:>" /></td>
      <td><:error_img delivOrganization:></td>
    </tr>
    <tr>
      <th><label for="delivStreet"><:cfg shop display_delivStreet "Address":>:</label></th>
      <td><input type="text" name="delivStreet" id="delivStreet" size="34" value="<:old delivStreet:>" /> *</td>
      <td><:error_img delivStreet:></td>
    </tr>
    <tr>
      <th><label for="delivStreet2"><:cfg shop display_delivStreet2 "Address 2":>:</label></th>
      <td><input type="text" name="delivStreet2" id="delivStreet2" size="34" value="<:old delivStreet2:>" /></td>
      <td><:error_img delivStreet2:></td>
    </tr>
    <tr>
      <th><label for="delivSuburb"><:cfg shop display_delivSuburb "Suburb":>:</label></th>
      <td><input type="text" name="delivSuburb" id="delivSuburb" size="34" value="<:old delivSuburb:>" /> *</td>
      <td><:error_img delivSuburb:></td>
    </tr>
    <tr> 
      <th><label for="delivPostCode"><:cfg shop display_delivPostCode "Postcode":>:</label></th>
      <td><input type="text" name="delivPostCode" id="delivPostCode" size="10" value="<:old delivPostCode:>" /> *</td>
      <td><:error_img delivPostCode:></td>
    </tr>
    <tr>
      <th><label for="delivState"><:cfg shop display_delivState "State":>:</label></th>
      <td><input type="text" name="delivState" id="delivState" size="10" value="<:old delivState:>" /></td>
      <td><:error_img delivState:></td>
    </tr>
    <tr>
      <th><label for="delivCountry"><:cfg shop display_delivCountry "Country":>:</label></th>
      <td><:if Cfgsection "country selector":>
        <select name="delivCountry" id="delivCountry" onchange="this.form.checkupdate.click();">
          <option value="">Please select a country</option>
          <:iterator begin dyncfgsection "country selector" sort=key:>
          <option value="<:uc [dyncfgentry key]:>"<:if Eq [old delivCountry] [uc [dyncfgentry key]]:> selected="selected"<:or Eq:><:eif Eq:>><:dyncfgentry value:></option>
          <:iterator end dyncfgsection:>
        </select><:or Cfgsection:>
        <input type="text" name="delivCountry" id="delivCountry" size="20" value="<:old delivCountry:>" /><:eif Cfgsection:> *</td>
      <td><:error_img delivCountry:></td>
    </tr>
    <tr>
      <th><label for="telephone"><:cfg shop display_telephone "Telephone":>:</label></th>
      <td><input type="text" name="telephone" id="telephone" size="20" value="<:old telephone:>" /> *</td>
      <td><:error_img telephone:></td>
    </tr>
    <tr> 
      <th><label for="facsimile"><:cfg shop display_facsimile "Facsimile":>:</label></th>
      <td><input type="text" name="facsimile" id="facsimile" size="20" value="<:old facsimile:>" /></td>
      <td><:error_img facsimile:></td>
    </tr>
    <tr> 
      <th><label for="delivMobile"><:cfg shop display_delivMobile "Mobile":>:</label></th>
      <td><input type="text" name="delivMobile" id="delivMobile" size="20" value="<:old delivMobile:>" /></td>
      <td><:error_img delivMobile:></td>
    </tr>
    <:if Cgi need_billing:><:or Cgi:><tr>
      <th><label for="emailAddress"><:cfg shop display_emailAddress "Email":>:</label></th>
      <td><input type="text" name="emailAddress" id="emailAddress" size="34" value="<:old emailAddress:>" /> *</td>
      <td><:error_img emailAddress:></td>
    </tr><:eif Cgi:>
    <:if Cfg shop shipping:><tr> 
      <th><label for="shipping_name"><:cfg shop display_shipping_name "Shipping Method":>:</label></th>
      <td><:shipping_select:></td>
      <td><:error_img shipping_name:></td>
    </tr><:or Cfg:><:eif Cfg:>
    <tr valign="top">
      <th><label for="instructions"><:cfg shop display_instructions "Instructions":>:</label></th>
      <td><textarea name="instructions" id="instructions" cols="34" rows="5"><:old instructions:></textarea></td>
      <td><:error_img instructions:></td>
    </tr>
  </table>
  <p class="small">* Required information for order to be shipped</p>
  <:if Cgi need_billing:>
  <h2><input type="checkbox" name="need_billing" id="need_billing" <:ifCgi need_billing:>checked="checked" <:or:><:eif:>onclick="this.form.checkupdate.click()" /> <label for="need_billing">Billing Details:</label></h2>
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th><label for="billFirstName"><:cfg shop display_billFirstName "First Name":>:</label></th>
      <td><input  type="text" name="billFirstName" id="billFirstName" value="<:old billFirstName:>" size="34" /> *</td>
      <td><:error_img billFirstName:></td>
    </tr>
    <tr>
      <th><label for="billLastName"><:cfg shop display_billLastName "Last Name":>:</label></th>
      <td><input name="billLastName" type="text" id="billLastName" value="<:old billLastName:>" size="34" /> *</td>
      <td><:error_img billLastName:></td>
    </tr>
    <tr>
      <th><label for="billOrganization"><:cfg shop display_billOrganization "Organisation":>:</label></th>
      <td><input type="text" name="billOrganization" id="billOrganization" size="34" value="<:old billOrganization:>" /></td>
      <td><:error_img billOrganization:></td>
    </tr>
    <tr>
      <th><label for="billStreet"><:cfg shop display_billStreet "Address":>:</label></th>
      <td><input name="billStreet" type="text" id="billStreet" value="<:old billStreet:>" size="34" /> *</td>
      <td><:error_img billStreet:></td>
    </tr>
    <tr>
      <th><label for="billStreet2"><:cfg shop display_billStreet2 "Address 2":>:</label></th>
      <td><input name="billStreet2" type="text" id="billStreet2" value="<:old billStreet2:>" size="34" /> *</td>
      <td><:error_img billStreet2:></td>
    </tr>
    <tr> 
      <th><label for="billSuburb"><:cfg shop display_billSuburb "Suburb":>:</label></th>
      <td><input name="billSuburb" type="text" id="billSuburb" value="<:old billSuburb:>" size="34" /> *</td>
      <td><:error_img billSuburb:></td>
    </tr>
    <tr>
      <th><label for="billPostCode"><:cfg shop display_billPostCode "Postcode":>:</label></th>
      <td><input name="billPostCode" type="text" id="billPostCode" value="<:old billPostCode:>" size="10" /> *</td>
      <td><:error_img billPostCode:></td>
    </tr>
    <tr>
      <th><label for="billState"><:cfg shop display_billState "State":>:</label></th>
      <td><input name="billState" type="text" id="billState" value="<:old billState:>" size="10" /> *</td>
      <td><:error_img billOrganization:></td>
    </tr>
    <tr>
      <th><label for="billCountry"><:cfg shop display_billCountry "Country":>:</label></th>
      <td><input name="billCountry" type="text" id="billCountry" value="<:old billCountry:>" size="20" /> *</td>
      <td><:error_img billCountry:></td>
    </tr>
    <tr>
      <th><label for="billTelephone"><:cfg shop display_billTelephone "Telephone":>:</label></th>
      <td><input type="text" name="billTelephone" id="billTelephone" size="20" value="<:old billTelephone:>" /> *</td>
      <td><:error_img billTelephone:></td>
    </tr>
    <tr> 
      <th><label for="billFacsimile"><:cfg shop display_billFacsimile "Facsimile":>:</label></th>
      <td><input type="text" name="billFacsimile" id="billFacsimile" size="20" value="<:old billFacsimile:>" /></td>
      <td><:error_img billFacsimile:></td>
    </tr>
    <tr> 
      <th><label for="billMobile"><:cfg shop display_billMobile "Mobile":>:</label></th>
      <td><input type="text" name="billMobile" id="billMobile" size="20" value="<:old billMobile:>" /></td>
      <td><:error_img billMobile:></td>
    </tr>
    <!--//<tr>
      <td><:cfg shop display_emailAddress "Email":>:</td>
      <td><input type="text" name="billEmail" size="34" value="<:old billEmail:>" /> *</td>
    </tr>//-->
    <tr>
      <th><label for="emailAddress"><:cfg shop display_emailAddress "Email":>:</label></th>
      <td><input type="text" name="emailAddress" id="emailAddress" size="34" value="<:old emailAddress:>" /> *</td>
      <td><:error_img emailAddress:></td>
    </tr>
  </table>
  <p class="small">* Only required if different to shipping address</p>
  <:or Cgi:>
  <p><input type="checkbox" name="need_billing" id="need_billing" onclick="this.form.checkupdate.click()" />
    <label for="need_billing">Billing details different to shipping</label></p>
  <:eif Cgi:>
  <:if Cfg affiliate enabled:><h2>Referrer Details:</h2>
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th nowrap="nowrap"><label for="affiliate_code">Referrer Id:</label></th>
      <td><:ifAffiliate_code:><a href="<:cfg site secureurl:>/cgi-bin/affiliate.pl?lo=<:affiliate_code:>"><:affiliate_code:></a><input type="hidden" name="affiliate_code" value="<:affiliate_code:>" /><:or:><input type="text" name="affiliate_code" id="affiliate_code" size="30" value="<:old affiliate_code:>" /><:eif:></td>
      <td><:error_img affiliate_code:></td>
    </tr>
  </table>
  <:or Cfg:><:eif Cfg:>
  <:include include/custom/checkout_custom.tmpl optional:><:include include/checkout_custom.tmpl optional:>
  <p class="buttons">
    <input type="submit" value="Purchase now" name="a_order" accesskey="p" title="AccessKey = p" />
    <input type="submit" value="Update" name="checkupdate" accesskey="u" title="AccessKey = u" />
    <input type="submit" value="Go back" name="cart" accesskey="b" title="AccessKey = b" />
  </p>
</form>

