<a href="<:prefix:><:file:>.html#<:entry:>" onclick="var userhelp=window.open(this.href, 'userhelp', 'width=520,height=440,location=no,status=no,menubar=no,scrollbars=yes'); userhelp.focus(); return false;"><img src="<:stylecfg icon /images/basic/user/help.gif:>" width="<:stylecfg iconwidth 16:>" height="<:stylecfg iconheight 16:>" border="0" alt="help on <:entry:>" title="help on <:entry:>" /></a>