<a href="<:prefix:><:file:>.html#<:entry:>" onclick="window.open('<:prefix:><:file:>.html#<:entry:>', 'userhelp', 'width=400,height=300,location=no,status=no,menubar=no,scrollbars=yes'); return false;"><img src="<:stylecfg icon /images/basic/user/help.gif:>" width="<:stylecfg iconwidth 16:>" height="<:stylecfg iconheight 16:>" border="0" alt="help on <:entry:>" title="help on <:entry:>" /></a>