<?xml version="1.0" encoding="<:cfg html charset "iso-8859-1":>"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="<:cfg site language "en":>" xml:lang="<:cfg site language "en":>">
<head>
<title><:ifImage alt:><:image alt:><:or:>Image<:eif:> - <:cfg site name |h:></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<style type="text/css">
<!--
body {
	margin: 0;
}
p {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	background-color: #000;
	font-size: 11px;
	font-family: verdana, sans-serif;
	font-weight: bold;
	padding: 5px;
	margin: 0;
	display: inline;
}
/* hide from mac ie \*/
div {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -<:arithmetic ([image height] /2):>px;
	margin-left: -<:arithmetic ([image width] /2):>px;
}
/**/
-->
</style>
</head>
<body>
<div><img src="/images/<:image image:>" border="0" width="<:image width:>" height="<:image height:>" alt="<:image alt:>" /></div><:if And [cfg popimage popcaption "1"] [image alt]:>
<p><:image alt:></p><:or And:><:eif And:>
</body>
</html>
