<:wrap base.tmpl:><:embed start:>
<!-- START ID: <:article id:> - TEMP: <:article template:> --><:if Embedded:><:admin article_mini:><:or Embedded:><:admin:><:eif Embedded:>
<div id="article_<:article id:>" class="article home"><:if Or [article body] [ifImages]:>
<div id="body_<:article id:>" class="body">
<:body:>
</div><:or Or:><:eif Or:><:switch:><:case And [ifAllkids] [ifUnderThreshold allkids]:><:include include/sortallkids.tmpl:><:iterator begin allkids:>
<:movestepkid:><:embed allkid:><:iterator end allkids:><:case Or [cfg basic hide_child_list] [ifMatch [article flags] "L"]:><:case Allkids:><:include include/sortallkids.tmpl:>
<div id="children-<:article id:>" class="children">
  <ul><:iterator begin allkids:>
    <li<:ifAllkid thumbImage:> class="thumbnail"<:or:><:eif:>>
      <div class="child"><:if Admin:><div class="arrows"><:include admin/adminmenu/allkid_mini.tmpl:><:movestepkid:></div><:or Admin:><:eif Admin:><:ifAllkid thumbImage:><div class="thumbnail"><a href="<:url allkid:>"><:thumbnail allkid:></a></div><:or:><:eif:><div class="childtitle"><a href="<:url allkid:>"><:allkid title:></a></div><:switch:>
        <:case Allkid summary:><div class="summary"><:allkid summary:></div><:case Allkid summaryLength:><div class="summary"><:summary allkid:></div><:endswitch:></div>
    </li><:iterator separator allkids:><:iterator end allkids:>
  </ul>
</div><:endswitch:><:if Or [ifEmbedded] [cfg basic hide_stepparent_list]:><:or Or:><:if Stepparents:>
<div class="relatedsections">
  <p><strong>Related sections:</strong></p>
  <ul><:iterator begin stepparents:>
    <li><a href="<:url stepparent:>"><:stepparent title:></a></li><:iterator end stepparents:>
  </ul>
</div><:or Stepparents:><:eif Stepparents:><:eif Or:><:if Files:><:if Or [cfg downloads hide_list] [ifMatch [article flags] "H"]:><:or Or:>
<:include include/files.tmpl:><:eif Or:><:or Files:><:eif Files:>
</div>
<!-- END ID: <:article id:> - TEMP: <:article template:> -->
<:embed end:>