<:wrap email/base.tmpl title=>"Order details" :>

<p>This order is now awaiting processing.</p>

<div class="group">
<table class="vertical left">
  <caption>Order details</caption>
  <tbody>
    <tr>
      <th>Order No.:</th>
      <td><b><:order id |%06d:></b></td>
    </tr>
    <tr>
      <th>Order Date:</th>
      <td><:date order orderDate:></td>
    </tr><:ifOrder purchase_order:>
    <tr>
      <th>Purchase Order:</th>
      <td><:order purchase_order |h:></td>
    </tr><:eif:><:ifOrder freight_tracking:>
    <tr>
      <th>Tracking Code:</th>
      <td>
        <:- if Cfg "shipping tracking urls" [order shipping_name]:>
        <a href="<:cfg "shipping tracking urls" [order shipping_name] |h:><:order freight_tracking |h:>"><:order freight_tracking |h:></a>
        <:- or Cfg:>
        <:order freight_tracking |h:>
        <:- eif Cfg:>
      </td>
    </tr><:eif:><:ifOrder shipping_method:>
    <tr>
      <th>Shipping Method:</th>
      <td><:order shipping_method |h:></td>
    </tr><:eif:><:ifOrder userId:>
    <tr>
      <th><:cfg "site user" display_userid "Username":>:</th>
      <td><:order userId |h:></td>
    </tr><:eif:><:ifOrder affiliate_code:>
    <tr>
      <th><:cfg shop display_affiliate_code "Referrer":>:</th>
      <td><:order affiliate_code |h:></td>
    </tr><:eif:>
  </tbody>
</table>

<table class="vertical right">
  <caption>Payment details <span class="<:ifOrder paidFor:>paid<:or:>unpaid<:eif:>"><:ifOrder paidFor:>Paid<:or:>Unpaid<:eif:></span></caption>
  <tbody>
   <tr>
      <th>Payment Method:</th><:switch:>
      <:case Eq [order paymentType] "0":>
      <td><b>Credit Card</b></td>
    </tr>
    <:ifOrder ccOnline:><tr>
      <th>Receipt No.:</th>
      <td><:order ccReceipt:></td>
    </tr>
    <:or:><tr>
      <th><:cfg shop display_cardNumber "Card Number":>:</th>
      <td><:cardNumber:></td>
    </tr>
    <tr>
      <th><:cfg shop display_cardExpiry "Expiry Date":>:</th>
      <td><:cardNumber:></td>
    </tr>
    <tr>
      <th><:cfg shop display_cardVerify "CVV2":>:</th>
      <td><:cardVerify:></td>
    </tr>
    <:eif:><tr>
      <th><:cfg shop display_ccName "Name on Card":>:</th>
      <td><:order ccName |h:></td>
    </tr><:ifOrder ccPAN:>
    <tr>
      <th><:cfg shop display_ccPAN "Card Number":>:</th>
      <td>**** **** **** <:order ccPAN:></td>
    </tr><:eif:>
    <tr>
      <th><:cfg shop display_ccType "Card Type":>:</th>
      <td><:order ccType |h:></td>
    </tr>
      <:case Eq [order paymentType] "1":>
      <td><b>Cheque</b></td>
    </tr>
    <tr>
      <th>Payee:</th>
      <td>
        <b><:cfg shop address1 |h:></b>
      </td>
    </tr>
    <tr>
      <th>Address:</th>
      <td>
        <:cfg shop address2 |h:><br />
        <:cfg shop address3 |h:><br />
        <:cfg shop address4 |h:>
      </td>
    </tr>
      <:case Eq [order paymentType] "2":>
      <td><b>Contact</b></td>
    </tr>
      <:case Eq [order paymentType] "4":>
      <td><b>PayPal</b></td>
    </tr>
    <tr>
      <th>Transaction Id:</th>
      <td><:order paypal_tran_id:></td>
    </tr>
      <:case Eq [order paymentType] "10":>
      <td><b>EFT</b></td>
    </tr>
    <tr>
      <th>Name:</th>
      <td><:cfg shop accountname |h:></td>
    </tr>
    <tr>
      <th>BSB:</th>
      <td><:cfg shop bsb |h:></td>
    </tr><:ifCfg shop swiftcode:>
    <tr>
      <th>SWIFT Code:</th>
      <td><:cfg shop swiftcode |h:></td>
    </tr><:eif:>
    <tr>
      <th>Account:</th>
      <td><:cfg shop accountno |h:></td>
    </tr>
    <tr>
      <th>Reference:</th>
      <td><:order id |%06d:></td>
    </tr>
<:include include/order_payment_type.tmpl optional:>
      <:case default:>
      <td><b>None</b></td>
    </tr>
    <:endswitch:>
  </tbody>
</table>
</div>

<table class="items">
  <caption>Order items</caption>
  <thead>
    <tr>
      <th class="item">Item</th>
      <th class="code">Code</th>
      <th class="quantity">Qty</th>
      <th class="price">Price</th>
      <th class="extended">Extended</th>
    </tr>
  </thead>
  <tbody><:iterator begin items:>
    <tr>
      <td class="item"><:item title |h:><:ifOptions:> <span><:options |h:></span><:eif:></td>
      <td class="code"><:item product_code |h:></td>
      <td class="quantity"><:item units:> &times;</td>
      <td class="price"><:cfg shop currency "$":><:number money [item price]:></td>
      <td class="extended"><:cfg shop currency "$":><:number money [extended price]:></td>
    </tr><:iterator end items:>
  </tbody>
</table>

<div class="totals">
  <:if Order shipping_cost:>
  <p class="freight"><span>(<:order shipping_method |h:>) </span> <label>Freight:</label> <:cfg shop currency "$":><:number money [order shipping_cost]:></p><:eif Order:>
  <p class="total"><abbr><:cfg shop currency_code "AUD":> </abbr> <label>Total:</label> <:cfg shop currency "$":><:number money [order total]:></p>
</div>

<div class="group">
<:if Order billStreet:>
<table class="vertical left">
  <caption>Billing details</caption>
  <tbody>
    <tr>
      <th>Name:</th>
      <td><b><:order billFirstName |h:> <:order billLastName |h:></b></td>
    </tr>
    <tr>
      <th>Address:</th>
      <td><:ifOrder billOrganization:>
        <:order billOrganization |h:><br /><:eif:>
        <:order billStreet |h:><br /><:ifOrder billStreet2:>
        <:order billStreet2 |h:><br /><:eif:>
        <:order billSuburb |h:> <:order billState |h:> <:order billPostCode |h:><br /><:ifCfgsection "country selector":>
        <:cfg "country selector" [order billCountry] |h:><:or:><:order billCountry:><:eif:>
      </td>
    </tr>
    <:ifOrder billTelephone:><tr>
      <th><:cfg "site users" display_telephone "Telephone":>:</th>
      <td><:order billTelephone |h:></td>
    </tr><:eif:>
    <:ifOrder billFacsimile:><tr>
      <th><:cfg "site users" display_facsimile "Facsimile":>:</th>
      <td><:order billFacsimile |h:></td>
    </tr><:eif:>
    <:ifOrder billMobile:><tr>
      <th><:cfg "site users" display_mobile "Mobile":>:</th>
      <td><:order billMobile |h:></td>
    </tr><:eif:>
    <:ifOrder billEmail:><tr>
      <th><:cfg "site users" display_email "Email Address":>:</th>
      <td><:order billEmail |h:></td>
    </tr><:eif:>
    <:ifOrder instructions:><tr>
      <th>Instructions:</th>
      <td><:order instructions |h:></td>
    </tr><:eif:>
  </tbody>
</table>
<:eif Order:>
<:if Order delivStreet:>
<table class="vertical right">
  <caption>Shipping details</caption>
  <tbody>
    <tr>
      <th>Name:</th>
      <td><b><:order delivFirstName |h:> <:order delivLastName |h:></b></td>
    </tr>
    <tr>
      <th>Address:</th>
      <td><:ifOrder delivOrganization:>
        <:order delivOrganization |h:><br /><:eif:>
        <:order delivStreet |h:><br /><:ifOrder delivStreet2:>
        <:order delivStreet2 |h:><br /><:eif:>
        <:order delivSuburb |h:> <:order delivState |h:> <:order delivPostCode |h:><br /><:ifCfgsection "country selector":>
        <:cfg "country selector" [order delivCountry] |h:><:or:><:order delivCountry:><:eif:>
      </td>
    </tr>
    <:ifOrder telephone:><tr>
      <th><:cfg "site users" display_telephone "Telephone" |h:>:</th>
      <td><:order telephone |h:></td>
    </tr><:eif:>
    <:ifOrder facsimile:><tr>
      <th><:cfg "site users" display_facsimile "Facsimile" |h:>:</th>
      <td><:order facsimile |h:></td>
    </tr><:eif:>
    <:ifOrder delivMobile:><tr>
      <th><:cfg "site users" display_mobile "Mobile" |h:>:</th>
      <td><:order delivMobile |h:></td>
    </tr><:eif:>
    <:ifOrder emailAddress:><tr>
      <th><:cfg "site users" display_email "Email Address" |h:>:</th>
      <td><:order emailAddress |h:></td>
    </tr><:eif:>
  </tbody>
</table>
<:eif Order:>
</div>
