<:uc [cfg site name]:> SHOP ADMINISTRATION.

This order is now awaiting processing.

--------------------------------------------------------------------------------
                                  ORDER DETAILS
--------------------------------------------------------------------------------

Order No.    : <:order id |%06d:>
Order Date   : <:date order orderDate:><:ifOrder userId:>
Username     : <:order userId:><:eif:><:ifOrder affiliate_code:>
Referrer     : <:order affiliate_code:><:eif:><:ifOrder purchase_order:>
Purchase No. : <:order purchase_order:><:eif:><:ifOrder coupon_code:>
Coupon Code  : <:order coupon_code:> (<:order coupon_code_discount_pc:>%)<:eif:>

--------------------------------------------------------------------------------

BILLING DETAILS:

Address      : <:order billFirstName:> <:order billLastName:><:ifOrder billOrganization:>
               <:order billOrganization:><:eif:>
               <:order billStreet:><:ifOrder billStreet2:>
               <:order billStreet2:><:eif:>
               <:order billSuburb:> <:order billPostCode:> <:order billState:><:ifCfgsection "country selector":>
               <:cfg "country selector" [order billCountry]:><:or:>
               <:order billCountry:><:eif:><:ifOrder billTelephone:>
Telephone    : <:order billTelephone:><:eif:><:ifOrder billFacsimile:>
Facsimile    : <:order billFacsimile:><:eif:><:ifOrder billMobile:>
Mobile       : <:order billMobile:><:eif:><:ifOrder billEmail:>
Email        : <:order billEmail:><:eif:>
<:if Order delivStreet:>

SHIPPING DETAILS:

Address      : <:order delivFirstName:> <:order delivLastName:><:ifOrder delivOrganization:>
               <:order delivOrganization:><:eif:>
               <:order delivStreet:><:ifOrder delivStreet2:>
               <:order delivStreet2:><:eif:>
               <:order delivSuburb:> <:order delivPostCode:> <:order delivState:><:ifCfgsection "country selector":>
               <:cfg "country selector" [order delivCountry]:><:or:>
               <:order delivCountry:><:eif:><:ifOrder telephone:>
Telephone    : <:order telephone:><:eif:><:ifOrder facsimile:>
Facsimile    : <:order facsimile:><:eif:><:ifOrder delivMobile:>
Mobile       : <:order delivMobile:><:eif:><:ifOrder emailAddress:>
Email        : <:order emailAddress:><:eif:>
<:eif Order:>

Item                                       Code         Qty     Price   Extended
--------------------------------------------------------------------------------
<:iterator begin items:><:item title |40:>   <:item product_code |12:> <:item units |%3d:> <:item price |m9:> <:extended price |m10:><:ifOptions:>
   <:options:><:eif:>
<:iterator end items
:>--------------------------------------------------------------------------------
<:ifOrder coupon_code
:>                                                            Discount: -<:order product_cost_discount |m9:><:eif:>
<:if Cfg shop shipping
:>                                                             Freight: <:switch:><:case Order shipping_cost:><:order shipping_cost |m10:><:case Match [order shipping_name] ^contact$
:>       TBA<:case default
:>      None<:endswitch:>
<:or Cfg:><:eif Cfg
:>                                                               Total: <:order total |m10:>
<:ifOrder gst
:>                                                                 GST: <:order gst |m10:><:or
:>                                                                 GST: <:arithmetic [order total] - ([order total] / (1 + [cfg shop gst_rate 10] / 100)) |m10:><:eif
:>

<:if Eq [order paymentType] "0":><:if Order ccOnline
:>This credit card payment was processed online:

             Receipt No.  : <:order ccReceipt:>
             <:cfg shop display_ccName "Name on Card" |12:> : <:order ccName:><:ifOrder ccPAN:>
             <:cfg shop display_ccPAN "Card Number" |12:> : **** **** **** <:order ccPAN:><:eif:><:ifOrder ccType:>
             <:cfg shop display_ccType "Card Type" |12:> : <:order ccType:><:eif:>

<:or Order
:>Debit this credit card at time of shipping:

             <:cfg shop display_ccName "Name on Card" |12:> : <:order ccName:>
             <:cfg shop display_cardNumber "Card Number" |12:> : <:cardNumber:>
             <:cfg shop display_cardExpiry "Expiry Date" |12:> : <:cardExpiry:>
             <:cfg shop display_cardVerify "CVV2" |12:> : <:cardVerify:><:ifOrder ccType:>
             <:cfg shop display_ccType "Card Type" |12:> : <:order ccType:><:eif:>
<:eif Order
:><:or Eq:><:eif Eq
:><:ifEq [order paymentType] "1"
:>The customer will pay by cheque.<:or:><:eif
:><:ifEq [order paymentType] "2"
:>Please contact the customer to make arrangements for payment.<:or:><:eif
:><:ifEq [order paymentType] "4"
:>Payment was processed through PayPal:

             Transaction No.: <:order paypal_tran_id:><:or:><:eif
:><:ifEq [order paymentType] "10"
:>The customer will pay by electronic funds transfer.<:or:><:eif
:><:ifEq [order paymentType] "11"
:>Please send and invoice to the customer for payment.<:or:><:eif
:><:ifEq [order paymentType] "12"
:>Please add this order to the customer account.<:or:><:eif
:><:if Cfg tryandbyte aufreight:><:if Order customInt1:>

Please contact the customer to quote the shipping costs.<:or Order:><:ifFreeShippingCart:>

This order qualifies for free shipping within Australia.<:eif:><:eif Order:><:eif Cfg:><:if Order instructions:>

<:with begin wrap 80:>Instructions: <:order instructions:><:with end wrap:><:eif Order:>

--------------------------------------------------------------------------------

<:set_subject [concatenate "New order details (No.: " [order id |%06d] ")"]:>