<div class="popfile">
<:iterator begin files:><:if And [ifEq [file download] "0"] [ifMatch [file name] "_popfile"]:><div>
  <a href="/cgi-bin/user.pl?download_file=1&amp;file=<:file id:>" onclick="return bse_popup_file(<:file id:>, <:cfg popfile width 320:>, <:cfg popfile height 240:>, <:switch:><:case Match [file contentType] "flash":>1, 'SRC'<:case Match [file contentType] "wmv":>1, 'FileName'<:case default:>'', ''<:endswitch:>, '<:file contentType:>');" title="<:file description:>" target="bse_file"><:if Imagen [file name]:><:imagen [file name]:><:or Imagen:><:file displayName:><:eif Imagen:></a>
<:ifAnd [cfg popfile caption "1"] [file description]:>  <p><:file description:></p>
<:or:><:eif:></div>
<:or And:><:eif And:><:iterator end files:>
</div>

<script type="text/javascript" language="javascript">
//<![CDATA[
<!--
// Popfile popup handler

var extrawidth = <:cfg popfile extrawidth 0:>;
var extraheight =  <:cfg popfile extraheight 0:>;
var popmiddle =  <:cfg popfile popmiddle 0:>;
var resizable = '<:cfg popfile resizable yes:>';
var bse_file_popup;

function init_bse_popup_file(init_extrawidth, init_extraheight, init_popmiddle, init_resizable) {
  extrawidth = init_extrawidth;
  extraheight = init_extraheight;
  popmiddle = init_popmiddle;
  resizable = init_resizable;
}

function bse_popup_file(file_id, width, height, known_type, param_name, file_type) {
  var url = "/cgi-bin/user.pl?download_file=1&file=" + file_id;
  var work_width = width + extrawidth;
  var work_height = height + extraheight;
  var features = 'width=' + work_width + ',height=' + work_height + ',location=no,status=no,menubar=no,scrollbars=no,resizable=' + resizable;

  // lose the old one if it exists
  if(popmiddle) {
    if(bse_file_popup != null && !bse_file_popup.closed) {
      bse_file_popup.close();
    }
    var left = window.screenX + (window.outerWidth - work_width) / 2;
    var top = window.screenY + (window.outerHeight - work_height) / 2;
    features = features + ",top=" + top + ",left=" + left;
  }
  else if(bse_file_popup != null && !bse_file_popup.closed) {
    var left = bse_file_popup.screenX;
    var top = bse_file_popup.screenY;
    features = features + ",top=" + top + ",left=" + left;
    bse_file_popup.close();
  }
  if (known_type) {
    bse_file_popup = window.open('', 'bse_file', features, 0);
    bse_file_popup.document.writeln(
        '<html><head><title><:cfg site name |h:><\/title><\/head>'
      + '<body onload="self.focus()">'
      + '<style type="text/css">body { margin: 0; background-color: <:cfg popfile popup_bkg_color "#000":>; color: <:cfg popfile popup_font_color "#fff":>; }<:ifOr [ifMatch [cfg popfile obj_width 100%] "%"] [ifMatch [cfg popfile obj_height 100%] "%"]:><:or:> object { position: absolute; top: 50%; left: 50%; margin-top: -<:arithmetic i:([cfg popfile obj_height 240] /2):>px; margin-left: -<:arithmetic i:([cfg popfile obj_width 320] /2):>px; }<:eif:><\/style>'
      + '<object type="' + file_type + '" data="' + url + '" width="<:cfg popfile obj_width "100%":>" height="<:cfg popfile obj_height "100%":>">'
      + '<param name="' + param_name + '" value="' + url + '" />'
      + '<p>You do not have a plugin capable of handling this file type: ' + file_type + '<\/p>'
      + '<\/object>'
      + '<\/body><\/html>'
    );
    bse_file_popup.document.close();
  }
  else {
    bse_file_popup = window.open(url, 'bse_file', features, 0);
  }
  return false;
}
//-->
//]]>
</script>

<style type="text/css">
#main .body .popfile div {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 0 10px 10px 0;
	float: left;
	background-color: #fff;
}
#main .body .popfile div p {
	margin: 10px 0 0 0;
	padding: 0;
}
</style>