<:wrap base.tmpl:><:embed start:>
<!-- START ID: <:article id:> - TEMP: <:article template:> --><:if Embedded:><:admin article_mini:><:or Embedded:><:admin:><:eif Embedded:>
<div id="article_<:article id:>" class="article product"><:if Embedded:>
<h1 id="title_<:article id:>" class="embedtitle"><:article title:></h1><:or Embedded:>
<h1 id="title_<:article id:>" class="pagetitle"><:title:></h1><:eif Embedded:><:if Product retailPrice:>
<div class="buynow">
<form id="add_form_<:article id:>" action="/cgi-bin/shop.pl" method="post">
  <input type="hidden" name="id" value="<:product id:>" />
  <input type="hidden" name="r" value="<:url top:>" /><:if Options:>
  <table>
    <tr><:iterator begin options:>
      <th valign="middle"><:option desc:>:</th>
      <td><:option popup:></td><:iterator separator options:>
      <:iterator end options:>
    </tr>
  </table><:or Options:><:eif Options:><:ifProduct leadTime:> 
  <p class="leadTime"><label>Usually ships in:</label> <:product leadTime:> <:if Eq [product leadTime] "1":>day<:or Eq:>days<:eif Eq:></p><:or:><:eif:><:ifProduct product_code:>
  <p class="pcode"><label>Product Code:</label> <:product product_code:></p><:or:><:eif:>
  <p class="price"><label>Price:</label> <span><:cfg shop currency "$":><:money product retailPrice:></span> (inc GST)</p>
  <p class="buy">
    <label for="qty<:article id:>">Qty:</label> <input type="text" id="qty<:article id:>" name="quantity" value="1" size="2" />
    <input type="submit" id="add<:article id:>" name="add" value="Add to cart" accesskey="a" title="AccessKey = a" class="shop_addshopitem" />
    <input type="submit" name="cart" value="View cart" accesskey="v" title="AccessKey = v" />
  </p>
</form>
</div><:or Product:>
<div class="price">
  <form name="notifyme" method="post" action="/cgi-bin/interest.pl">
    <b>Coming soon!</b> <input type="hidden" name="product" value="<:product title:>" />
    <p>To register your interest in this product and receive notification when it becomes available, please enter and submit your email address below.</p>
    <b>Email:</b> <input type="text" name="email" size="40" /> <input type="submit" name="Submit" value="Register my interest" />
  </form>
</div><:eif Product:><:if Cfg tryandbyte aufreight:><:ifFreeShipping:>
<p><b>This product qualifies for free shipping if purchased before <:date product customDate1:></b></p><:or:><:eif:><:or Cfg:><:eif Cfg:><:if Or [article body] [ifImages]:>
<div id="body_<:article id:>" class="body">
<:body:>
</div><:or Or:><:eif Or:><:if Cfg tryandbyte aufreight:><:ifFreeShipping:>
<p><b>This product qualifies for free shipping if purchased before <:date product customDate1:></b></p><:or:><:eif:><:or Cfg:><:eif Cfg:><:if Or [ifStepparents] [ifStepkids]:> 
<div class="relatedsections">
  <p><b>Related categories:</b></p>
  <ul><:iterator begin stepparents:>
    <li><a href="<:url stepparent:>"><:stepparent title:></a></li><:iterator separator stepparents:><:iterator end stepparents:><:iterator begin stepkids:>
    <li><a href="<:url stepkid:>"><:stepkid title:></a></li><:iterator separator stepkids:><:iterator end stepkids:>
  </ul>
</div><:or Or:><:eif Or:><:if Files:><:if Or [cfg downloads hide_list] [ifMatch [article flags] "H"]:><:or Or:>
<:include include/files.tmpl:><:eif Or:><:or Files:><:eif Files:>
</div>
<!-- END ID: <:article id:> - TEMP: <:article template:> -->
<:embed end:>