<:wrap base.tmpl:><:embed start:>
<!-- START ID: <:article id:> - TEMP: <:article template:> --><:if Embedded:><:admin article_mini:><:or Embedded:><:admin:><:eif Embedded:>
<div id="article_<:article id:>" class="article"><:switch:><:case Match [article flags] "t":>
<h1 id="title_<:article id:>" class="hidden"><:article title:></h1><:case Embedded:>
<h2 id="title_<:article id:>" class="embedtitle"><:article title:></h2><:case default:>
<h1 id="title_<:article id:>" class="pagetitle"><:title:></h1><:endswitch:><:if Or [article body] [ifImages]:>
<div id="body_<:article id:>" class="body">
<:body:>
</div><:or Or:><:eif Or:><:if Files:><:if Or [cfg basic hide_file_list] [ifMatch [article flags] "l"]:><:or Or:>
<:include include/files.tmpl:><:eif Or:><:or Files:><:eif Files:>
<ul class="sitemap"><:iterator begin children_of -1:>
  <li class="i<:ofchild level:><:ifFirstOfchild:> first<:or:><:eif:><:ifLastOfchild:> last<:or:><:eif:><:ifAllkids_of ofchild filter: [flags] !~ /s/ :> parent<:or:><:eif:>"><:switch:><:case Ofchild link:>
    <a href="<:url ofchild:>"><:ifOfchild titleAlias:><:ofchild titleAlias:><:or:><:ofchild title:><:eif:></a><:case default:>
    <span><:ifOfchild titleAlias:><:ofchild titleAlias:><:or:><:ofchild title:><:eif:></span><:endswitch:><:if Allkids_of ofchild filter: [flags] !~ /s/ :>
    <ul><:iterator begin allkids_of ofchild filter: [flags] !~ /s/ :>
      <:embed ofallkid include/lowmap.tmpl 3:><:iterator end allkids_of:>
    </ul>
  <:or Allkids_of:><:eif Allkids_of:></li><:iterator separator children_of:><:iterator end children_of:>
  <li><a href="<:target search:>">Search</a></li>
</ul>
</div>
<!-- END ID: <:article id:> - TEMP: <:article template:> -->
<:embed end:>