<:wrap user/pubbase.tmpl title=>"Thank you for sharing" nomessage=>"1" :>
<p class="alert">An email notification has been sent to your friend on <strong><:tarticle title:></strong>.</p>
<p class="group"><a href="<:tarticle link:>">Continue browsing</a></p>