<:uc [cfg site name]:> ACCOUNT SERVICES.

Hello <:to_name:>,

Your friend, <:from_name:> (<:from_email:>) thought you would be interested in one of our articles.

ARTICLE OF INTEREST:

  Title: <:tarticle title:>
  Link:  <:link:>

<:ifNote:>FRIEND’S MESSAGE:
  <:note:>

<:or:><:eif:>Requested from this IP: <:sender_ip:>


Regards
The team at <:cfg site name:>
(<:cfg site url:>)
