<:wrap email/base.tmpl title=>[article title] :>

<p>Hi <:ifUser name1:><:user name1 |h:><:or:><:user userId |h:><:eif:>,</p>

<:body:>

<p>You are receiving this email because your are subscribed to “<:sub name:>” mailing list. You can manage your subscription details from your account.</p>

<!--<a href="<:target user |h:>"><table cellspacing="0" border="0" cellpadding="0" class="bse-button"><tr><td>Login now</td></tr></table></a>//-->

<p class="bse-buttons"><a href="<:target user |h:>" class="bse-button">Login now</a></p>

<p>If you don’t want to receive these emails anymore you can <a href="<:target user |h:>?unsub=<:user confirmSecret:>&u=<:user id:>&s=<:sub id:>">unsubscribe</a>.</p>