<?xml version="1.0" encoding="<:cfg html charset "iso-8859-1":>"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style type="text/css">
<!--
a {
	color: #999;
}
a:hover {
	color: #666;
}
a:visited {
	color: #999;
}
body {
	font: 12px "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	background: #999;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
}
#main {
	width: 600px;
	background: #fff;
	border: 1px solid #666;
	margin: 30px auto;
	text-align: left;
}
#content {
	background: #fff;
	padding: 15px;
}
.masthead {
	font-size: 16px;
	background: #666;
	color: #fff;
	padding: 5px 15px;
	text-align: left;
	margin: 0;
}
h1 {
	font-size: 16px;
}
h2 {
	font-size: 14px;
}
h3 {
	font-size: 12px;
}
small {
	font-size: 9px;
}
.pullquoteLeft {
	font-size: 11px;
	float: left;
	width: 150px;
	padding: 10px;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	background: #eee;
	margin: 5px 10px 5px 0;
}
.pullquoteRight {
	font-size: 11px;
	float: right;
	width: 150px;
	padding: 10px;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	background: #eee;
	margin: 5px 0 5px 10px;
}
-->
</style>
<title><:article title:></title>
</head>
<body>
<div id="main">
<h1 class="masthead"><:title:></h1>
<div id="content">
<:body:>
<hr size="1" noshade="noshade"> 
<p><small>You are receiving this message because you are subscribed to a <:cfg site name |h:> newsletter, at <a href="<:cfg site url:>"><:cfg site url:></a>.</small></p>
<p><small>If you don't want to receive this newsletter anymore you can <a href="<:target user:>?unsub=<:user confirmSecret:>&amp;u=<:user id:>&amp;s=<:sub id:>">unsubscribe from this newsletter</a> or <a href="<:target user:>?unsub=<:user confirmSecret:>&amp;u=<:user id:>&amp;s=all">unsubscribe from all our newsletters</a>.</small></p>
</div>
</div>
</body>
</html>