<:wrap user/userbase.tmpl title=>"User Services" :>
<:include include/usernav.tmpl:>
<h2>External CME Points</h2>
<div id="user">
<:include include/usermessage.tmpl:>
<table width="100%">
  <tr>
    <th>Date</th>
    <th width="100%">Description</th>
    <th>Points</th>
    <td>&nbsp;</td>
  </tr>
<:if Cmeentries:>
<:iterator begin cmeentries:>
  <tr>
    <td nowrap="nowrap"><:date "%d/%m/%Y" cmeentry date_at:></td>
    <td><:cmeentry description:></td>
    <td align="center"><:cmeentry points:></td>
    <td nowrap="nowrap">
      <a href="<:script:>?a_cmeedit=1&amp;id=<:cmeentry id:>">Edit</a>
      <a href="<:script:>?a_cmedeleteform=1&amp;id=<:cmeentry id:>">Delete</a>
    </td>
  </tr>
<:iterator end cmeentries:>
<:or Cmeentries:>
  <tr>
    <td colspan="4">No entries</td>
  </tr>
<:eif Cmeentries:>
</table>
<form method="get" action="<:script:>" name="add">
<p><input type="submit" name="a_cmeaddform" value="Add course" /></p>
</form>
</div>