<:wrap user/userbase.tmpl title=>"User Services" :>
<h2>Enter Email Address</h2>
<div id="user">
<:include include/usermessage.tmpl:>
<p>When you supplied your details to us, your email address was
missing, please enter your email address to complete your AZ Academy
registration.</p>

<form method="post" action="<:script:>">
<table>
  <tr>
    <th nowrap="nowrap">Email Address:</th>
    <td><input type="text" name="email" value="<:old email:>" size="40" /></td>
    <td><:error_img email:></td>
  </tr>
</table>
<p align="right"><input type="submit" name="a_fixemail" value="Save changes" title="AccessKey = s" accesskey="u" /></p>
</form>
</div>