<:iterator begin level1:>
<h3>Year: <:level1_byname year:></h3>
<:dynreport aza_soa_real aza/repsoareal [user id] [level1_byname year]:>

<:dynreport aza_soa_custom aza/repsoacustom [user id] [level1_byname year]:>

<:iterator end level1:>