<:if Level1_count:>
<h4>External courses</h4>
<table width="100%">
  <tr>
    <th>Date</th>
    <th width="100%">Course</th>
    <th>CME Points</th>
  </tr>
<:iterator begin level1:>
  <tr>
    <td><:date "%d/%m/%Y" level1_byname date_at:></td>
    <td><:level1_byname description:></td>
    <td align="center"><:level1_byname points:></td>
  </tr>
<:iterator end level1:>
    <tr>
      <td align="right" colspan="2">Total:</td>
      <td align="center"><:level1_sum points:></td>
    </tr>
</table>
<:or Level1_count:><:eif Level1_count:>