<:wrap user/pubbase.tmpl title=>"Oops! You have already unsubscribed" nomessage=>"1" :>
<p>You have already unsubscribed <b><:email:></b> permenantly from all our mailing lists. If in future you change your mind, you will need to resubscribe with a different email address.</p>
<p><a href="<:script:>?userpage=<:ifCfg "site users" nopassword:><:user password:>&amp;u=<:user id:><:or:>1<:eif:>">User account manager</a></p>