<:wrap user/userbase.tmpl title=>"Edit Seminar Booking":>
<:include include/usermessage.tmpl:>
<h2><:seminar title:></h2>
<form action="/cgi-bin/nuser.pl/user/savebooking" method="post"><:ifCgi r:>
<input type="hidden" name="r" value="<:cgi r:>" /><:or:><:eif:>
<div class="sessions">
  <h2>Sessions</h2>              
  <!--<select name="session_id">
    <option value="">(select a session)</option><:iterator begin sessions:>
    <option value="<:session session_id:>" <:ifEq [old session_id] [session session_id]:>selected="selected"<:or:><:eif:>><:date "%I:%M %p %d/%m/%Y" session when_at:> - <:session description:></option><:iterator end sessions:>
  </select>--><:session_popup:> <:error_img session_id:>
</div>
<div class="buynow">
  <input type="hidden" name="id" value="<:booking id:>" />
  <:if Options:><div class="options">
    <table>
      <caption>Options</caption>
      <:iterator begin options:><tr>
        <th><:option desc:>:</th>
	    <td><:option_popup:></td>
      </tr><:iterator end options:>
    </table>
  </div><:or Options:><:eif Options:>
  <div class="instructions">
    <h2>Special Instructions</h2>
    <textarea name="customer_instructions" cols="60" rows="10"><:old customer_instructions booking customer_instructions:></textarea> <:error_img customer_instructions:>
  </div>
  <div class="instructions">
    <h2>Booking Notes</h2>
    <textarea name="support_notes" cols="60" rows="10" readonly="readonly"><:old support_notes booking support_notes:></textarea> <:error_img support_notes:>
  </div>
  <p class="buy"><input type="submit" value="Save changes" /></p>
</div>
</form>