<:wrap user/userbase.tmpl title=>"You are leaving [cfg site name |h]" :>
<p>The link you are about to follow is provided as convenient reference only, the linked page is not necessarily affiliated with or managed by <:cfg site name |h:>.  User discretion is advised.</p>
<form action="/cgi-bin/nuser.pl/redirect" class="redirect">
<dl><:ifOr [ifMatch [text] [targeturl]] [cfg redirect hide_link_text]:>
  <dt><:dynreplace [targeturl] "((?:&[^;]*;|[^&]){60}).*" $1...:></dt><:or:>
  <dt><:text:></dt>
  <dd><:dynreplace [targeturl] "((?:&[^;]*;|[^&]){60}).*" $1...:></dd><:eif:>
</dl>
<input type="hidden" name="targeturl" value="<:targeturl:>" />
<input type="hidden" name="urlhash" value="<:urlhash:>" />
<input type="hidden" name="referer" value="<:referer:>" />
<input type="hidden" name="referhash" value="<:referhash:>" />
<p><input type="submit" name="a_doit" value="Proceed" tabindex="1" accesskey="p" title="AccessKey = p" /> <input type="submit" name="a_cancel" value="Cancel" tabindex="2" accesskey="." title="AccessKey = ." /></p>
</form>