<:wrap user/pubbase.tmpl title=>"Change Password" userpage=>"lostprompt" :>
<:include include/usermessage.tmpl:>
<form action="<:target user |h:>" method="post" class="siteuser"><:if User:> 
  <p class="alert">You are already logged in as <a href="<:target user |h:>"><:user userId:></a>, if this is not you, please <a href="<:target user logoff |h:>">logout now</a>.</p><:eif User:><:if Cgi r:>
  <input type="hidden" name="r" value="<:cgi r:>" /><:eif Cgi:>
  <input type="hidden" name="id" value="<:lostid:>" />
  <fieldset class="password">
    <legend>Password</legend>
    <div class="input password<:ifError_img password:> error<:eif:>">
      <label for="password"><:error_img password:> <:cfg "site users" display_new_password "New Password":>: <span class="required">*</span></label>
      <input type="password" name="password" id="password" size="40" value="<:old password:>" title="<:cfg "site users" display_new_password "New Password":>" class="required<:ifError_img password:> error<:eif:>" />
    </div>
    <div class="input confirm<:ifError_img confirm:> error<:eif:>">
      <label for="confirm"><:error_img confirm:> <:cfg "site users" display_confirm_password "Confirm Password":>: <span class="required">*</span></label>
      <input type="password" name="confirm" id="confirm" size="40" value="<:old confirm:>" title="<:cfg "site users" display_confirm_password "Confirm Password":>" class="required<:ifError_img confirm:> error<:eif:>" />
      <small>
        Please enter a memorable <:lc [cfg "site users" display_new_password "New Password"]:> and once again to confirm that it’s correct.
      </small>
    </div>
  </fieldset>
  <p class="buttons group"><input type="submit" name="a_lost_save" value="Save changes" accesskey="s" title="AccessKey = s" /></p>
</form>
<p class="group">
  <span class="left"><a href="<:target user show_logon |h:>">Found your password?</a></span><:if Cfg "site users" user_register:>
  <span class="right"><a href="<:dyntarget user show_register r [cgi r] :>">Need an account?</a></span><:eif Cfg:>
</p>