<:wrap user/userbase.tmpl title=>"User Services" :>
<:include include/usernav.tmpl:>
<table border="0" cellpadding="5" cellspacing="1">
  <tr>
    <td><img src="/images/<:cfg theme name:>user/subscr.gif" width="32" height="32" border="0" alt="Seminar Bookings" /></td>
    <td width="100%">
      <h2>Your seminar bookings</h2>
    </td>
  </tr>
</table>
<div id="user">
<:include include/usermessage.tmpl:>
<:if Bookings:>
<form action="/cgi-bin/user.pl" method="post">
<table border="0" cellspacing="1" cellpadding="2">
  <tr> 
    <th width="50%">Seminar</th>
    <th width="50%">Location</th>
    <th>Time</th>
    <th>Date</th>
    <th>Modify</th>
  </tr>
<:iterator begin bookings:><tr> 
    <td><a href="<:booking link:>"><:booking title:></a></td>
    <td><a href="/cgi-bin/shop.pl?a_location=1&amp;location_id=<:booking location_id:>" onclick="return show_location(<:booking location_id:>)"><:booking loc_description:></a></td>
    <td nowrap="nowrap"><:date "%I:%M %p" booking when_at:></td>
    <td nowrap="nowrap"><:date booking when_at:></td>
    <td nowrap="nowrap">
      <a href="<:script:>/user/editbooking?id=<:booking booking_id:>">Edit</a>
      <a href="<:script:>/user/cancelbooking?id=<:booking booking_id:>" onclick="return window.confirm('Are you sure you want to cancel this Booking?');">Cancel</a>
    </td>
  </tr><:iterator end bookings:>
</table>
<:or Bookings:>
<p class="hasnone">You are not booked for any seminars.</p>
<:eif Bookings:>
</form>
</div>
<script type="text/javascript" language="javascript">
//<![CDATA[
function show_location(locationid) {
  window.open('/cgi-bin/shop.pl?a_location=1&amp;location_id='+locationid, 
              'location', 
              'width=600,height=300,location=no,status=no,menubar=no,scrollbars=yes');
  return false;
}
//]]>
</script>