<:wrap user/userbase.tmpl title=>"Booking Complete":>
<:include include/usermessage.tmpl:>
<h2><:seminar title:></h2>
<div class="sessions">
  <h2>Session</h2>              
  <p><:date "%I:%M %p %d/%m/%Y" session when_at:> - <:location description:></p>
</div>
<div class="buynow">
  <:if Options:><div class="options">
    <table>
      <caption>Options</caption>
      <:iterator begin options:><tr>
        <th><:option desc:>:</th>
	    <td><:option display:></td>
      </tr><:iterator end options:>
    </table>
  </div><:or Options:><:eif Options:>
  <:ifBooking customer_instructions:><div class="instructions">
    <h2>Special Instructions</h2>
    <textarea name="customer_instructions" cols="60" rows="10" readonly="readonly"><:booking customer_instructions:></textarea>
  </div><:or:><:eif:>
</div>