<:wrap user/pubbase.tmpl title=>"Goodbye! You have unsubscribed" nomessage=>"1" :>
<p>You have unsubscribed <b><:email:></b> permanently from all our mailing lists. We’re sorry to see you go, if in future you change your mind, you will need to resubscribe with a different email address.</p>
<p><a href="<:script:>?userpage=<:ifCfg "site users" nopassword:><:user password:>&amp;u=<:user id:><:or:>1<:eif:>">User account manager</a></p>