<:wrap user/userbase.tmpl title=>"User Services" nomessage=>"1" :>
  <table width="350" align="center">
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td nowrap="nowrap"><img src="/images/basic/user/subs.gif" width="32" height="32" border="0" alt="Not Unsubscribed" />&nbsp;&nbsp;</td>
            <td width="100%"><h2>Not Unsubscribed</h2></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td colspan="2"> 
        Your attempt to unsubscribe failed.  The subscription identifier was missing or invalid.
      </td>
    </tr>
    <tr> 
      <td colspan="2"> <br />
        <a href="<:script:>?userpage=<:ifCfg "site users" nopassword:><:user password:>&amp;u=<:user id:><:or:>1<:eif:>">User account manager</a>
      </td>
    </tr>
  </table>