<:wrap user/pubbase.tmpl title=>"Please check your email" nomessage=>"1" :>
<p>To ensure we have your details correct, we have sent you an email to confirm your email address (<b><:user email:></b>).</p>
<p>Subscriptions will not be sent until confirmation is complete.</p>
<p><a href="<:script:>?userpage=<:ifCfg "site users" nopassword:><:user password:>&amp;u=<:user id:><:or:>1<:eif:>">User account manager</a>
</p>