<:wrap user/pubbase.tmpl title=>"Success! Email address confirmed" nomessage=>"1" :>
<p>Thank you for subscribing to our mailing list. Your email address <b><:user email:></b> has now been confirmed. If in future you change your email address, confirmation will again be requested.</p>
<p><a href="<:script:>?userpage=<:ifCfg "site users" nopassword:><:user password:>&amp;u=<:user id:><:or:>1<:eif:>">User account manager</a></p>