<:wrap user/pubbase.tmpl title=>"User Services" nomessage=>"1" :>
  <table width="350" align="center">
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td nowrap="nowrap"><img src="/images/basic/user/subs.gif" width="32" height="32" border="0" alt="Email Confirmation" />&nbsp;&nbsp;</td>
            <td width="100%"><h2>Confirmation Sent</h2></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td colspan="2"> 
        A confirmation email message has been sent to your email address, <b><:user email:></b>.<br /><br />
        Once you follow the confirmation link included in that email any future newsletters that you have subscribed to will be sent to your address.<br /><br />
        This message also includes a link you can use to go back and change your details.
      </td>
    </tr>
    <tr> 
      <td colspan="2"> <br />
        <a href="<:script:>?userpage=<:ifCfg "site users" nopassword:><:user password:>&amp;u=<:user id:><:or:>1<:eif:>">User account manager</a>
      </td>
    </tr>
  </table>