<:wrap user/userbase.tmpl title=>"User Services" :>
  <table width="350" align="center">
    <tr> 
      <th colspan="2" align="center"> 
        <h2>Cannot Send Confirmation</h2>
      </th>
    </tr>
    <tr> 
      <td colspan="2"> 
        <p>I attempted to send a confirmation email message to your email address, <b><:user email:></b>.</font></p>
        <p>The following error occurred: <b><:mailerror:></b>.</p>
      </td>
    </tr>
    <tr> 
      <td colspan="2" align="center"><br />
        <a href="<:script:>?userpage=<:ifCfg "site users" nopassword:><:user password:>&amp;u=<:user id:><:or:>1<:eif:>">Return to User Profile page</a></td>
    </tr>
  </table>