<:uc [cfg site name]:> ACCOUNT SERVICES.

Hi <:ifUser name1:><:user name1:><:or:><:user userId:><:eif:>,

Thanks for registering a new account on our web site.

You can maintain your account details, such as password, email address, etc, 
simply login using the following account details.

ACCOUNT LOGON DETAILS:

  Username: <:user userId:>

ACCOUNT LOGON LINK:
  <:target user:>


Regards
The team at <:cfg site name:>
(<:cfg site url:>)

<:set_subject "Welcome to your new account":>