<:wrap email/base.tmpl title=>"Welcome to your new account" :>

<p>Hi <:ifUser name1:><:user name1 |h:><:or:><:user userId |h:><:eif:>,</p>

<p>Thanks for registering a new account on our web site.</p>

<p>You can maintain your account details, such as password, email address, etc, simply login using the following account details.</p>

<dl>
  <dt>Account Login Details:</dt>
  <dd><span><:cfg "site users" display_userid "Username":>:</span> <:user userId:></dd>
</dl>

<!--<a href="<:target user |h:>"><table cellspacing="0" border="0" cellpadding="0" class="bse-button"><tr><td>Login now</td></tr></table></a>//-->

<p class="bse-buttons"><a href="<:target user |h:>" class="bse-button">Login now</a></p>

<p><small>Registered from this IP: <:host:></small></p>
