<:wrap email/base.tmpl title=>"Confirm your email address" :>

<p>Hi <:ifUser name1:><:user name1 |h:><:or:><:user userId |h:><:eif:>,</p>

<p>Thank you for subscribing to our mailing list. To ensure we have your details correct, please confirm your <:lc [cfg "site users" display_email "email address"]:> (<:user email |h:>). Subscriptions will not be sent until confirmation is complete.</p>

<p class="bse-buttons"><a href=<:target user |h:>?confirm=<:user confirmSecret:>&amp;u=<:user id:>" class="bse-button">Confirm email address</a></p>

<p>At anytime you can update your email address and manage your subscription details in your <a href="<:target user |h:>">user account</a>.</p>