<:uc [cfg site name]:> ACCOUNT SERVICES.

Hi <:ifUser name1:><:user name1:><:or:><:user userId:><:eif:>,

Thank you for subscribing to our mailing list. To ensure we have your details 
correct, please confirm your <:lc [cfg "site users" display_email "email address"]:>. Subscriptions will not be sent until 
confirmation is complete.


CONFIRM EMAIL ADDRESS:
  <:target user:>?confirm=<:user confirmSecret:>&u=<:user id:>

To confirm your subscription please load the above link in your web browser.


EDIT ACCOUNT DETAILS:
  <:target user:>

You can update your email address and manage your subscription details in your 
user account by loading the above link in your web browser.


Regards
The team at <:cfg site name:>
(<:cfg site url:>)

<:set_subject "Confirm your subscription":>