<:uc [cfg site name]:> ACCOUNT SERVICES.

Hello <:ifUser name1:><:user name1:><:or:><:user userId:><:eif:>,

You can maintain your account details, such as password, email address, etc, 
simply login using the following account details.

ACCOUNT LOGON DETAILS:

  Username: <:user userId:>
  Password: <:user password:>

ACCOUNT LOGON LINK:
  <:cfg site secureurl:>/cgi-bin/user.pl


Regards
The team at <:cfg site name:>
(<:cfg site url:>)