<:wrap user/pubbase.tmpl title=>"Account Login" userpage=>"login" :>
<:include include/usermessage.tmpl:>
<form action="<:dyntarget user:>" method="post" class="siteuser"><:if User:> 
  <p class="alert">You are already logged in as <a href="<:dyntarget user:>"><:user userId:></a>, if this is not you, please <a href="<:dyntarget user:>?logoff=1">logout now</a>.</p><:or User:><:eif User:><:if Cgi r:>
  <input type="hidden" name="r" value="<:cgi r:>" /><:or Cgi:><:eif Cgi:>
  <fieldset class="logon">
    <legend>Account</legend>
    <div class="input userid<:ifError_img userid:> error<:or:><:eif:>">
      <label for="userid"><:error_img userid:> <:cfg "site users" display_userid "Username":>: <span class="required">*</span></label>
      <input type="text" name="userid" id="userid" size="34" value="<:old userid:>" title="<:cfg "site users" display_userid "Username":>" class="input required<:ifError_img userid:> error<:or:><:eif:>" />
    </div>
    <div class="input password<:ifError_img password:> error<:or:><:eif:>">
      <label for="password"><:error_img password:> <:cfg "site users" display_password "Password":>: <span class="required">*</span></label>
      <input type="password" name="password" id="password" size="34" value="<:old password:>" title="<:cfg "site users" display_password "Password":>" class="input required<:ifError_img password:> error<:or:><:eif:>" />
    </div>
  </fieldset>
  <p class="buttons group"><input type="submit" name="logon" value="Login now" accesskey="l" title="AccessKey = l" /></p>
</form>
<p class="group">
  <span class="left"><a href="<:dyntarget user:>?show_lost_password=1">Lost your password?</a></span><:if Cfg "site users" user_register:>
  <span class="right"><a href="<:dyntarget user:>?show_register=1<:ifCgi r:>&amp;r=<:cgi r |u:><:or:><:eif:>">Need an account?</a></span><:or Cfg:><:eif Cfg:>
</p>