<:wrap user/pubbase.tmpl title=>"Retrieve Password" userpage=>"lostpassword" :>
<:include include/usermessage.tmpl:>
<form action="<:dyntarget user:>" method="post" class="siteuser"><:if User:> 
  <p class="alert">You are already logged in as <a href="<:dyntarget user:>"><:user userId:></a>, if this is not you, please <a href="<:dyntarget user:>?logoff=1">logout now</a>.</p><:or User:><:eif User:>
  <fieldset class="logon">
    <legend>Account</legend>
    <div class="input userid<:ifError_img userid:> error<:or:><:eif:>">
      <label for="userid"><:error_img userid:> <:cfg "site users" display_userid "Username":>: <span class="required">*</span></label>
      <input type="text" name="userid" id="userid" size="34" value="<:old userid:>" title="<:cfg "site users" display_userid "Username":>" class="required<:ifError_img userid:> error<:or:><:eif:>" />
      <span class="notes"><:if Cfg "site users" nopassword:>
        Please enter the <:lc [cfg "site users" email_description "email address"]:> provided when your account was created. Access to your account will be sent to this address.<:or Cfg:><:eif Cfg:>
        Please enter your <:lc [cfg "site users" display_userid "username"]:>. An email containing a password reminder will be sent to the email address of this account.
      </span>
    </div>
  </fieldset>
  <p class="buttons group"><input type="submit" name="lost_password" value="Retrieve now" accesskey="s" title="AccessKey = s" /></p>
</form>
<p class="group">
  <span class="left"><a href="<:dyntarget user:>?show_logon=1">Found your password?</a></span><:if Cfg "site users" user_register:>
  <span class="right"><a href="<:dyntarget user:>?show_register=1<:ifCgi r:>&amp;r=<:cgi r |u:><:or:><:eif:>">Need an account?</a></span><:or Cfg:><:eif Cfg:>
</p>