<:wrap user/pubbase.tmpl title=>"Retrieve Password" userpage=>"retrievepassword" :>

<p class="alert">Your <:if Cfg "site users" nopassword:>options link<:or Cfg:>password<:eif Cfg:> has been emailed to <strong><:user email:></strong>.</p>

<p class="group"><a href="<:dyntarget user:>?userpage=<:ifCfg "site users" nopassword:><:user password:>&amp;u=<:user id:><:or:>1<:eif:>">Ready to login?</a></p>
