<:wrap user/pubbase.tmpl title=>"Retrieve Password" userpage=>"retrievepassword" :>

<p class="alert">Your <:if Cfg "site users" nopassword:>options link<:or Cfg:>password<:eif Cfg:> has been emailed to <strong><:user email:></strong>.</p>

<p class="group"><a href="<:ifCfg "site users" nopassword:><:dyntarget user userpage [user password] u [user id] :><:or:><:dyntarget user userpage:><:eif:>">Ready to login?</a></p>
