<:wrap user/userbase.tmpl title=>"User Services" :>
<:include include/usermessage.tmpl:><form action="/cgi-bin/user.pl" method="post">
  <table width="350" align="center">
    <tr>
      <td colspan="3">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td nowrap="nowrap"><img src="/images/basic/user/lock.gif" width="32" height="32" border="0" alt="Lost Password" />&nbsp;&nbsp;</td>
            <td width="100%"><h2><:if Cfg "site users" nopassword:>Lost Options Link<:or Cfg:>Lost Password<:eif Cfg:></h2></td>
          </tr>
        </table>
      </td>
    </tr>
<:if Cfg "site users" nopassword:>
      <tr> 
        <td colspan="2">Please enter your email address that you provided for registration to this site. The link to access your account details will be sent to that address.</td>
      </tr>
<:or Cfg:>
      <tr> 
        <td colspan="2">Please enter your <:cfg "site users" userid_description "Username":>. Your password will be emailed to the address you entered when you <:ifCfg "site users" user_register 0:><:or:>were <:eif:>registered.</td>
      </tr>
<:eif Cfg:>
      <tr> 
        <td colspan="2" align="center">&nbsp;</td>
      </tr>
      <tr> 
        <th align="left" nowrap="nowrap"><b><:if Cfg "site users" nopassword:>Email Address<:or Cfg:><:cfg "site users" userid_description "Username":><:eif Cfg:>:</b></th>
        <td width="100%"> 
          <input type="text" name="userid" value="<:old userid:>" size="40" tabindex="1" />
        </td>
      </tr>
      <tr> 
        <td colspan="2" align="right"> 
          <input type="submit" name="lost_password" value="<:if Cfg "site users" nopassword:>Send link<:or Cfg:>Send password<:eif Cfg:>" accesskey="s" title="AccessKey = s" tabindex="2" />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr> 
              <td align="left" nowrap="nowrap"><br />
                <a href="/cgi-bin/user.pl?show_logon=1">Found your password?</a></td>
                <:if Cfg "site users" user_register 1:><td align="right" nowrap="nowrap"><br />
                <a href="/cgi-bin/user.pl?show_register=1<:ifCgi r:>&amp;r=<:cgi r |u:><:or:><:eif:>">Not yet registered?</a></td><:or Cfg:><:eif Cfg:>
            </tr>
          </table>
        </td>
      </tr>
    </table>
</form>