<:uc [cfg site name]:> ACCOUNT SERVICES.

Hi <:ifUser name1:><:user name1:><:or:><:user userId:><:eif:>,

<:if Cfg "site users" nopassword
:>We have received a request to send you a reminder of the link used to access 
your account details.

If you did not make this request, don’t worry, this reminder email is only ever 
sent to the email address of the account owner.

ACCOUNT ACCESS LINK:
  <:target user:>?userpage=<:user password:>&u=<:user id:>

<:or Cfg
:>We have received a request indicating that you’ve lost or forgotten your password.

If you did not make this request, don’t worry, simply ignore this email, a reset 
link is time limited and only ever sent to the email address of the account owner.

PASSWORD RESET LINK:
  <:target user lost id [user lost_id] |U:>
  
This reset link will remain active for <:cfg "lost password" age_limit 7:> day<:ifArithmetic [cfg "lost password" age_limit 7] > 1:>s<:or:><:eif:>.

<:eif Cfg
:>
Regards
The team at <:cfg site name:>
(<:cfg site url:>)

Requested from this IP: <:host:>

<:set_subject "Your password reset":>