<:wrap user/pubbase.tmpl title=>"Account Recovery" userpage=>"lostpassword" :>
<:include include/usermessage.tmpl:>
<form action="<:target user |h:>" method="post" class="siteuser"><:if User:>
  <p class="alert">You are already logged in as <a href="<:target user |h:>"><:user userId:></a>, if this is not you, please <a href="<:target user logoff |h:>">logout now</a>.</p><:eif User:>
  <fieldset class="logon">
    <legend>Account</legend>
    <div class="input userid<:ifError_img userid:> error<:eif:>">
      <label for="lostpassword_userid"><:error_img userid:> <:cfg "site users" display_userid "Username":>: <span class="required">*</span></label>
      <input type="text" name="userid" id="lostpassword_userid" size="40" value="<:old userid:>" title="<:cfg "site users" display_userid "Username":>" class="required<:ifError_img userid:> error<:eif:>" />
      <small><:if Cfg "site users" nopassword:>
        Please enter the <:lc [cfg "site users" display_email "email address"]:> provided when your account was created. Access to your account will be sent to this address.<:or Cfg:>
        Please enter your account <:lc [cfg "site users" display_userid "username"]:>. A password reset link will be sent to the email address of this account.<:eif Cfg:>
      </small>
    </div>
  </fieldset>
  <p class="buttons group"><input type="submit" name="lost_password" value="Recover now" accesskey="r" title="AccessKey = r" /></p>
</form>
<p class="group">
  <span class="left"><a href="<:target user show_logon |h:>">Found your password?</a></span><:if Cfg "site users" user_register:>
  <span class="right"><a href="<:dyntarget user show_register r [cgi r] :>">Need an account?</a></span><:eif Cfg:>
</p>