<:wrap user/userbase.tmpl title=>"User Services" :>
  <table width="350" align="center">
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td nowrap="nowrap"><img src="/images/basic/user/lock.gif" width="32" height="32" border="0" alt="Not Authenticated" />&nbsp;&nbsp;</td>
            <td width="100%"><h2>Not Authenticated</h2></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td colspan="2"> 
        Please use the link included in your confirmation email to access your personal details.<br /><br ?>
	    <:ifCfg "site users" user_register 1:>If you haven't yet registered you can <a href="<:script:>?show_register=1">register</a>, or if<:or:>If<:eif:> you've lost the email containing your options link, you can <a href="<:script:>?show_lost_password=1">request it again</a>.
      </td>
    </tr>
  </table>