<:wrap user/pubbase.tmpl title=>"Sorry! You are not authenticated" nomessage=>"1" :>

<p id="message" class="error">You must use the link included in your confirmation email to access your account details.</p>

<p><:ifCfg "site users" user_register:>If you haven’t yet created an account, you can <a href="<:dyntarget user show_register:>">register now</a>, or if<:or:>If<:eif:> you’ve lost the email containing your options link, you can <a href="<:dyntarget user show_lost_password:>">request it again</a>.
