<:wrap user/userbase.tmpl subtitle=>"Billing details" userpage=>"billing" :>
<h2><:param subtitle |h:></h2>
<form action="<:dyntarget user:>" method="post" class="siteuser"><:if Cgi r:>
<input type="hidden" name="r" value="<:cgi r:>"><:or Cgi:>
<input type="hidden" name="r" value="<:dyntarget user show_opts _t billing message "User billing details saved successfully":>" /><:eif Cgi:>
<input type="hidden" name="_t" value="billing" />
  <fieldset class="name">
    <legend>Name</legend>
    <div class="input name1<:ifError_img billFirstName:> error<:or:><:eif:>">
      <label for="billFirstName"><:error_img billFirstName:> <:cfg "site users" display_name1 "First Name":>:</label>
      <input type="text" name="billFirstName" id="billFirstName" size="40" value="<:old billFirstName user billFirstName:>" title="<:cfg "site users" display_name1 "First Name":>" class="<:ifError_img billFirstName:>error<:or:><:eif:>" />
    </div>
    <div class="input name2<:ifError_img billLastName:> error<:or:><:eif:>">
      <label for="billLastName"><:error_img billLastName:> <:cfg "site users" display_name2 "Last Name":>:</label>
      <input type="text" name="billLastName" id="billLastName" size="40" value="<:old billLastName user billLastName:>" title="<:cfg "site users" display_name2 "Last Name":>" class="<:ifError_img billLastName:>error<:or:><:eif:>" />
    </div>
  </fieldset>

  <fieldset class="company">
    <legend>Company</legend>
    <div class="input organization<:ifError_img billOrganization:> error<:or:><:eif:>">
      <label for="billOrganization"><:error_img billOrganization:> <:cfg "site users" display_organization "Organisation":>:</label>
      <input type="text" name="billOrganization" id="billOrganization" size="40" value="<:old billOrganization user billOrganization:>" title="<:cfg "site users" display_organization "Organisation":>" class="<:ifError_img billOrganization:>error<:or:><:eif:>" />
    </div>
    <!--<div class="input billTitle<:ifError_img billTitle:> error<:or:><:eif:>">
      <label for="billTitle"><:error_img billTitle:> <:cfg "site users" display_title "Title / Role":>:<:ifRequired billTitle:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="billTitle" id="billTitle" size="40" value="<:old billTitle user billTitle:>" title="<:cfg "site users" display_title "Title / Role":>" class="<:ifError_img billTitle:>error<:or:><:eif:>" />
    </div>//-->
  </fieldset>

  <fieldset class="address">
    <legend>Address</legend>
    <div class="input address<:ifError_img billStreet:> error<:or:><:eif:>">
      <label for="billStreet"><:error_img billStreet:> <:cfg "site users" display_address "Address":>:</label>
      <input type="text" name="billStreet" id="billStreet" size="40" value="<:old billStreet user billStreet:>" title="<:cfg "site users" display_address "Address":>" class="<:ifError_img billStreet:>error<:or:><:eif:>" />
    </div>
    <div class="input delivStreet2<:ifError_img billStreet2:> error<:or:><:eif:>">
      <label for="billStreet2"><:error_img billStreet2:> <:cfg "site users" display_delivStreet2 "Address 2":>:</label>
      <input type="text" name="billStreet2" id="billStreet2" size="40" value="<:old  billStreet2 user billStreet2:>" title="<:cfg "site users" display_delivStreet2 "Address 2":>" class="<:ifError_img billStreet2:>error<:or:><:eif:>" />
    </div>
    <div class="input city<:ifError_img billSuburb:> error<:or:><:eif:>">
      <label for="billSuburb"><:error_img billSuburb:> <:cfg "site users" display_city "Suburb":>:</label>
      <input type="text" name="billSuburb" id="billSuburb" size="40" value="<:old billSuburb user billSuburb:>" title="<:cfg "site users" display_city "Suburb":>" class="<:ifError_img billSuburb:>error<:or:><:eif:>" />
    </div>
    <div class="input state<:ifError_img billState:> error<:or:><:eif:>">
      <label for="billState"><:error_img billState:> <:cfg "site users" display_state "State":>:</label>
      <input type="text" name="billState" id="billState" size="10" value="<:old billState user billState:>" title="<:cfg "site users" display_state "State":>" class="<:ifError_img billState:>error<:or:><:eif:>" />
    </div>
    <div class="input postcode<:ifError_img billPostCode:> error<:or:><:eif:>">
      <label for="billPostCode"><:error_img billPostCode:> <:cfg "site users" display_postcode "Postcode":>:</label>
      <input type="text" name="billPostCode" id="billPostCode" size="10" value="<:old billPostCode user billPostCode:>" title="<:cfg "site users" display_postcode "Postcode":>" class="<:ifError_img billPostCode:>error<:or:><:eif:>" />
    </div>
    <div class="input country<:ifError_img billCountry:> error<:or:><:eif:>">
      <label for="billCountry"><:error_img billCountry:> <:cfg "site users" display_country "Country":>:</label><:if Cfgsection "country selector":>
      <select name="billCountry" id="billCountry" onchange="this.form.checkupdate.click();" title="<:cfg "site users" display_country "Country":>" class="<:ifError_img billCountry:>error<:or:><:eif:>">
        <option value="">Please select a country</option><:iterator begin dyncfgsection "country selector" sort=value:>
        <option value="<:uc [dyncfgentry key]:>"<:if Or [ifEq [old billCountry user billCountry] [uc [dyncfgentry key]]] [ifEq [old billCountry user billCountry] [uc [dyncfgentry value]]]:> selected="selected"<:or Or:><:eif Or:>><:dyncfgentry value:></option>
        <:iterator end dyncfgsection:>
      </select><:or Cfgsection:>
      <input type="text" name="billCountry" id="billCountry" size="20" value="<:old billCountry user billCountry:>" title="<:cfg "site users" display_country "Country":>" class="<:ifError_img billCountry:>error<:or:><:eif:>" /><:eif Cfgsection:> 
    </div>
  </fieldset>

  <fieldset class="contact">
    <legend>Contact</legend>
    <div class="input telephone<:ifError_img billTelephone:> error<:or:><:eif:>">
      <label for="telephone"><:error_img billTelephone:> <:cfg "site users" display_telephone "Telephone":>:</label>
      <input type="text" name="billTelephone" id="billTelephone" size="20" value="<:old billTelephone user billTelephone:>" title="<:cfg "site users" display_telephone "Telephone":>" class="<:ifError_img billTelephone:>error<:or:><:eif:>" />
    </div>
    <div class="input facsimile<:ifError_img billFacsimile:> error<:or:><:eif:>">
      <label for="billFacsimile"><:error_img billFacsimile:> <:cfg "site users" display_facsimile "Facsimile":>:</label>
      <input type="text" name="billFacsimile" id="billFacsimile" size="20" value="<:old billFacsimile user billFacsimile:>" title="<:cfg "site users" display_facsimile "Facsimile":>" class="<:ifError_img billFacsimile:>error<:or:><:eif:>" />
    </div>
    <div class="input delivMobile<:ifError_img billMobile:> error<:or:><:eif:>">
      <label for="billMobile"><:error_img billMobile:> <:cfg "site users" display_delivMobile "Mobile":>:</label>
      <input type="text" name="billMobile" id="billMobile" size="20" value="<:old billMobile user billMobile:>" title="<:cfg "site users" display_delivMobile "Mobile":>" class="<:ifError_img billMobile:>error<:or:><:eif:>" />
    </div>
    <!--<div class="input email<:ifError_img billEmail:> error<:or:><:eif:>">
      <label for="billEmail"><:error_img billEmail:> <:cfg "site users" display_email "Email Address":>:</label>
      <input type="text" name="billEmail" id="billEmail" size="40" value="<:old billEmail user billEmail:>" title="<:cfg "site users" display_email "Email Address":>" class="<:ifError_img billEmail:>error<:or:><:eif:>" />
    </div>//-->
  </fieldset>
<:include include/custom/user_options_billiing_custom.tmpl optional:>
  <p><span class="required">* Required.</span> <:cfg "site users" required_text "Please provide information for all marked fields.":></p>
  <p class="buttons"><input type="submit" name="saveopts" value="Save changes" accesskey="s" title="AccessKey = s" /></p>
</form>