<:wrap user/userbase.tmpl subtitle=>"Account details" userpage=>"account" :>
<h2><:param subtitle |h:></h2>
<form action="<:target user |h:>" method="post" enctype="multipart/form-data" class="siteuser"><:if Cfg "site users" nopassword:>
<input type="hidden" name="u" value="<:user id:>" />
<input type="hidden" name="p" value="<:user password:>" />
<input type="hidden" name="r" value="<:dyntarget user show_opts [user password] u [user id] message "User account details saved successfully":>" /><:or Cfg:><:if Cgi r:>
<input type="hidden" name="r" value="<:cgi r:>"><:or Cgi:>
<input type="hidden" name="r" value="<:target user show_opts message "User account details saved successfully":>" /><:eif Cgi:><:eif Cfg:>

<:if Partial_logon:><:or Partial_logon:>
  <fieldset class="account">
    <legend>Account</legend>
    <:if Cfg "site users" nopassword:><:or Cfg:>
    <div class="input old_password<:ifError_img old_password:> error<:or:><:eif:>">
      <label for="old_password"><:error_img old_password:> <:cfg "site users" display_old_password "Old Password":>:</label>
      <input type="password" name="old_password" id="old_password" size="40" value="<:old old_password:>" title="<:cfg "site users" display_old_password "Old Password":>" class="<:ifError_img old_password:>error<:or:><:eif:>" />
    </div>
    <div class="input password<:ifError_img password:> error<:or:><:eif:>">
      <label for="password"><:error_img password:> <:cfg "site users" display_new_password "New Password":>:</label>
      <input type="password" name="password" id="password" size="40" value="<:old password:>" title="<:cfg "site users" display_new_password "New Password":>" class="<:ifError_img password:>error<:or:><:eif:>" />
    </div>
    <div class="input confirm_password<:ifError_img confirm_password:> error<:or:><:eif:>">
      <label for="confirm_password"><:error_img confirm_password:> <:cfg "site users" display_confirm_password "Confirm Password":>:</label>
      <input type="password" name="confirm_password" id="confirm_password" size="40" value="<:old confirm_password:>" title="<:cfg "site users" display_confirm_password "Confirm Password":>" class="<:ifError_img confirm_password:>error<:or:><:eif:>" />
    </div>
    <:eif Cfg:>
    <:if Cfg "site users" nopassword:>
    <div class="input email<:ifError_img email:> error<:or:><:eif:>">
      <label for="email"><:error_img email:> <:cfg "site users" display_email "Email Address":>: <span class="required">*</span></label>
      <input type="text" name="email" id="email" size="40" value="<:old email user email:>" title="<:cfg "site users" display_email "Email Address":>" class="required<:ifError_img email:> error<:or:><:eif:>" />
    </div>
    <div class="input confirmemail<:ifError_img confirmemail:> error<:or:><:eif:>">
      <label for="confirmemail"><:error_img confirmemail:> <:cfg "site users" display_confirmemail "Confirm Email":>:</label>
      <input type="text" name="confirmemail" id="confirmemail" size="40" value="<:old confirmemail:>" title="<:cfg "site users" display_confirmemail "Confirm Email":>" class="<:ifError_img confirmemail:>error<:or:><:eif:>" />
    </div>
    <:or Cfg:><:eif Cfg:>
  </fieldset>
<:eif Partial_logon:>

  <fieldset class="profile">
    <legend>Profile</legend>
    <div class="input affiliate_name<:ifError_img affiliate_name:> error<:or:><:eif:>">
      <label for="affiliate_name"><:error_img affiliate_name:> <:cfg "site users" display_affiliate_name "Screen Name":>:<:ifRequired affiliate_name:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="affiliate_name" id="affiliate_name" size="40" value="<:old affiliate_name user affiliate_name:>" title="<:cfg "site users" display_affiliate_name "Screen Name":>" class="required<:ifError_img affiliate_name:> error<:or:><:eif:>" />
    </div>
    <:if Imagetemplates:>
    <:iterator begin imagetemplates:>
    <:if Siteuser_image [imagetemplate id]:>
    <div class="image">
      <label><:imagetemplate description:>: (<a href="<:dyntarget user saveopts id [user id] [concatenate image_ [imagetemplate id] _delete] 1 r [dyntarget user show_opts message "Image deleted successfully"] :>" onclick="return window.confirm('Are you sure you want to delete this image?')">Delete</a>)</label>
      <img src="<:siteuser_image [imagetemplate id] url:>" width="<:siteuser_image [imagetemplate id] width:>" height="<:siteuser_image [imagetemplate id] height:>" alt="<:siteuser_image [imagetemplate id] alt:>" />
    </div>
    <:or Siteuser_image:>
    <div class="file image_<:imagetemplate id:>_file">
      <label for="image_<:imagetemplate id:>_file"><:imagetemplate description:>:</label>
      <input type="file" name="image_<:imagetemplate id:>_file" id="image_<:imagetemplate id:>_file" size="40" title="<:imagetemplate description:>" />
      <input type="hidden" name="image_<:imagetemplate id:>_alt" value="<:imagetemplate description:>" />
    </div>
    <:eif Siteuser_image:>
    <:iterator end imagetemplates:>
    <:or Imagetemplates:><:eif Imagetemplates:>
  </fieldset>

  <fieldset class="name">
    <legend>Name</legend>
    <div class="input name1<:ifError_img name1:> error<:or:><:eif:>">
      <label for="name1"><:error_img name1:> <:cfg "site users" display_name1 "First Name":>:<:ifRequired name1:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="name1" id="name1" size="40" value="<:old name1 user name1:>" title="<:cfg "site users" display_name1 "First Name":>" class="<:ifRequired name1:>required<:or:><:eif:><:ifError_img name1:> error<:or:><:eif:>" />
    </div>
    <div class="input name2<:ifError_img name2:> error<:or:><:eif:>">
      <label for="name2"><:error_img name2:> <:cfg "site users" display_name2 "Last Name":>:<:ifRequired name2:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="name2" id="name2" size="40" value="<:old name2 user name2:>" title="<:cfg "site users" display_name2 "Last Name":>" class="<:ifRequired name2:>required<:or:><:eif:><:ifError_img name2:> error<:or:><:eif:>" />
    </div>
  </fieldset>

  <fieldset class="company">
    <legend>Company</legend>
    <div class="input organization<:ifError_img organization:> error<:or:><:eif:>">
      <label for="organization"><:error_img organization:> <:cfg "site users" display_organization "Organisation Name":>:<:ifRequired organization:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="organization" id="organization" size="40" value="<:old organization user organization:>" title="<:cfg "site users" display_organization "Organisation Name":>" class="<:ifRequired organization:>required<:or:><:eif:><:ifError_img organization:> error<:or:><:eif:>" />
    </div>
    <div class="input title<:ifError_img title:> error<:or:><:eif:>">
      <label for="title"><:error_img confirm_password:> <:cfg "site users" display_title "Title / Role":>:<:ifRequired title:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="title" id="title" size="40" value="<:old title user title:>" title="<:cfg "site users" display_title "Title / Role":>" class="<:ifRequired title:>required<:or:><:eif:><:ifError_img title:> error<:or:><:eif:>" />
    </div>
  </fieldset>

  <fieldset class="address">
    <legend>Address</legend>
    <div class="input street<:ifError_img street:> error<:or:><:eif:>">
      <label for="street"><:error_img street:> <:cfg "site users" display_street "Address":>:<:ifRequired street:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="street" id="street" size="40" value="<:old street user street:>" title="<:cfg "site users" display_street "Organisation":>" class="<:ifRequired street:>required<:or:><:eif:><:ifError_img street:> error<:or:><:eif:>" />
    </div>
    <div class="input address2<:ifError_img street2:> error<:or:><:eif:>">
      <label for="street2"><:error_img street2:> <:cfg "site users" display_street2 "Address 2":>:<:ifRequired street2:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="street2" id="street2" size="40" value="<:old street2 user street2:>" title="<:cfg "site users" display_street2 "Address 2":>" class="<:ifRequired street2:>required<:or:><:eif:><:ifError_img street2:> error<:or:><:eif:>" />
    </div>
    <div class="input suburb<:ifError_img addresuburbss:> error<:or:><:eif:>">
      <label for="suburb"><:error_img suburb:> <:cfg "site users" display_suburb "Suburb":>:<:ifRequired suburb:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="suburb" id="suburb" size="40" value="<:old suburb user suburb:>" title="<:cfg "site users" display_suburb "Suburb":>" class="<:ifRequired suburb:>required<:or:><:eif:><:ifError_img suburb:> error<:or:><:eif:>" />
    </div>
    <div class="input state<:ifError_img state:> error<:or:><:eif:>">
      <label for="state"><:error_img state:> <:cfg "site users" display_state "State":>:<:ifRequired state:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="state" id="state" size="10" value="<:old state user state:>" title="<:cfg "site users" display_state "State":>" class="<:ifRequired state:>required<:or:><:eif:><:ifError_img state:> error<:or:><:eif:>" />
    </div>
    <div class="input postcode<:ifError_img postcode:> error<:or:><:eif:>">
      <label for="postcode"><:error_img postcode:> <:cfg "site users" display_postcode "Postcode":>:<:ifRequired postcode:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="postcode" id="postcode" size="10" value="<:old postcode user postcode:>" title="<:cfg "site users" display_postcode "Postcode":>" class="<:ifRequired postcode:>required<:or:><:eif:><:ifError_img postcode:> error<:or:><:eif:>" />
    </div>
    <div class="input country<:ifError_img country:> error<:or:><:eif:>">
      <label for="country"><:error_img country:> <:cfg "site users" display_country "Country":>:<:ifRequired country:> <span class="required">*</span><:or:><:eif:></label><:if Cfgsection "country selector":>
      <select name="country" id="country" title="<:cfg "site users" display_country "Country":>" class="<:ifRequired userid:>required<:or:><:eif:><:ifError_img country:> error<:or:><:eif:>">
        <option value="">Please select a country</option><:iterator begin dyncfgsection "country selector" sort=value:>
        <option value="<:uc [dyncfgentry key]:>"<:if Or [ifEq [old country user country] [uc [dyncfgentry key]]] [ifEq [old country user country] [uc [dyncfgentry value]]]:> selected="selected"<:or Or:><:eif Or:>><:dyncfgentry value:></option>
        <:iterator end dyncfgsection:>
      </select><:or Cfgsection:>
      <input type="text" name="country" id="country" size="40" value="<:old country user country:>" title="<:cfg "site users" display_country "Country":>" class="<:ifRequired country:>required<:or:><:eif:><:ifError_img country:> error<:or:><:eif:>" /><:eif Cfgsection:> 
    </div>
  </fieldset>

  <fieldset class="contact">
    <legend>Contact</legend>
    <div class="input telephone<:ifError_img telephone:> error<:or:><:eif:>">
      <label for="telephone"><:error_img telephone:> <:cfg "site users" display_telephone "Telephone":>:<:ifRequired telephone:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="telephone" id="telephone" size="20" value="<:old telephone user telephone:>" title="<:cfg "site users" display_telephone "Telephone":>" class="<:ifRequired telephone:>required<:or:><:eif:><:ifError_img telephone:> error<:or:><:eif:>" />
    </div>
    <div class="input facsimile<:ifError_img facsimile:> error<:or:><:eif:>">
      <label for="facsimile"><:error_img facsimile:> <:cfg "site users" display_facsimile "Facsimile":>:<:ifRequired facsimile:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="facsimile" id="facsimile" size="20" value="<:old facsimile user facsimile:>" title="<:cfg "site users" display_facsimile "Facsimile":>" class="<:ifRequired facsimile:>required<:or:><:eif:><:ifError_img facsimile:> error<:or:><:eif:>" />
    </div>
    <div class="input mobile<:ifError_img mobile:> error<:or:><:eif:>">
      <label for="mobile"><:error_img mobile:> <:cfg "site users" display_mobile "Mobile":>:<:ifRequired mobile:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="mobile" id="mobile" size="20" value="<:old mobile user mobile:>" title="<:cfg "site users" display_mobile "Mobile":>" class="<:ifRequired mobile:>required<:or:><:eif:><:ifError_img mobile:> error<:or:><:eif:>" />
    </div>
    <div class="input email<:ifError_img email:> error<:or:><:eif:>">
      <label for="email"><:error_img email:> <:cfg "site users" display_email "Email Address":>: <span class="required">*</span></label>
      <input type="text" name="email" id="email" size="40" value="<:old email user email:>" title="<:cfg "site users" display_email "Email Address":>" class="required<:ifError_img email:> error<:or:><:eif:>" />
    </div>
    <div class="checkbox textOnlyMail<:ifError_img textOnlyMail:> error<:or:><:eif:>">
      <input type="hidden" name="saveTextOnlyMail" value="1" /> 
      <label><input type="checkbox" name="textOnlyMail" value="1"<:ifOld textOnlyMail user textOnlyMail:> checked="checked"<:or:><:eif:> /> Plain text email (only)</label>
    </div>
  </fieldset>
  
<:if Subscriptions:>
  <fieldset class="subscribe">
    <legend>Subscribe</legend>
    <input type="hidden" name="saveSubscriptions" value="1" />
    <:iterator begin subscriptions:>
    <div class="checkbox">
      <label><input type="checkbox" name="subscription" value="<:subscription id:>"<:ifSubscribed:> checked="checked"<:or:><:eif:> /> <:subscription name:><:switch:><:case Match [cgi subinfo] [subscription id]:>
        (<a href="<:target user show_opts |h:>">hide info</a>)<:case default:>
        (<a href="<:target user show_opts subinfo [subscription id] |h:>">info</a>)<:endswitch:>
      </label><:switch:><:case Match [cgi subinfo] [subscription id]:>
      <div class="subinfo">
        <b>Description</b>
        <p><:replace [replace [subscription description] "\A\s+|\s+\z" "" g |x] "\s*\n\s*" "</p><p>" g:></p>
        <b>Frequency</b>
        <p><:subscription frequency:></p><:ifMatch [subscription lastSent] "^0000":><:or:>
        <b>Last Published</b>
        <p><:date subscription lastSent:></p><:eif:>
      </div><:endswitch:>
    </div>
    <:iterator end subscriptions:>
    <small><:switch:><:case User confirmed:>
      Confirmation has been completed.<:case User confirmSecret:>
      Confirmation has been requested, but not completed.<:case default:>
      Confirmation will be sent to your email address.<:endswitch:>
    </small>
  </fieldset>
<:or Subscriptions:><:eif Subscriptions:>

<:if Cfg "notify files" active:>
  <fieldset class="notification">
    <legend>Upload Notification</legend>
    <input type="hidden" name="save_file_subs" value="1" />
    <:iterator begin filecats:>
    <div class="checkbox">
      <label><input type="checkbox" name="file_subscriptions" value="<:filecat id:>"<:ifFilecat subscribed:> checked="checked"<:or:><:eif:> /> <:filecat name:></label>
    </div>
    <:iterator end filecats:>
    <small>Receive email notification when file downloads are added to your account in the selected categories.</small>
  </fieldset>
<:or Cfg:><:eif Cfg:>

<:include include/custom/user_options_custom.tmpl optional:>
  <p><span class="required">* Required.</span> <:cfg "site users" required_text "Please provide information for all marked fields.":></p>
  <p class="buttons"><input type="submit" name="saveopts" value="Save changes" accesskey="s" title="AccessKey = s" /></p>
</form>