<:wrap user/userbase.tmpl title=>"User Services" :>
  <table width="350" align="center">
    <tr> 
      <th colspan="2" align="center"> 
        <h2>Options Saved</h2>
      </th>
    </tr>
    <tr> 
      <td colspan="2"> 
        <p>Your options have been saved.</p>
	    <p>You may <a href="<:script:>?userpage=<:ifCfg "site users" nopassword:><:user password:>&amp;u=<:user id:><:or:>1<:eif:>">return</a> to the options page to make further changes.</p>
      </td>
    </tr>
  </table>