<:wrap user/userbase.tmpl title=>"User Services" :>
<:include include/usernav.tmpl:>
<table border="0" cellpadding="5" cellspacing="1">
  <tr>
    <td><img src="/images/<:cfg theme name:>user/lock.gif" width="32" height="32" border="0" alt="Password Manager" /></td>
    <td width="100%">
      <h2>Password manager</h2>
    </td>
  </tr>
</table>
<:include include/usermessage.tmpl:>
<form action="/cgi-bin/user.pl" method="post">
<:if Cfg "site users" nopassword:>
<input type="hidden" name="u" value="<:user id:>" />
<input type="hidden" name="p" value="<:user password:>" />
<input type="hidden" name="r" value="<:script:>?userpage=<:user password:>&amp;u=<:user id:>&amp;message=User+password+saved+successfully" />
<:or Cfg:><:if Cgi r:><input type="hidden" name="r" value="<:cgi r:>"><:or Cgi:><input type="hidden" name="r" value="<:script:>?userpage=1&amp;message=User+password+saved+successfully" /><:eif Cgi:><:eif Cfg:>
<input type="hidden" name="_t" value="password" />
<table border="0" cellpadding="1" cellspacing="1">
  <tr>
    <td colspan="3" align="left" height="20">To change your password please enter your old password, and your new password</td>
  </tr>
  <tr>
    <th nowrap="nowrap" align="left">Old Password:</th>
    <td width="100%">
      <input type="password" name="old_password" size="40" maxlength="40" tabindex="1" />
    </td>
    <td nowrap="nowrap"><:error_img old_password:></td>
  </tr>
  <tr>
    <th nowrap="nowrap" align="left">New Password:</th>
    <td width="100%">
      <input type="password" name="password" value="" size="40" maxlength="40" tabindex="2" />
    </td>
    <td nowrap="nowrap"><:error_img password:></td>
  </tr>
  <tr>
    <th nowrap="nowrap" align="left">Confirm Password:</th>
    <td width="100%">
      <input type="password" name="confirm_password" value="" size="40" maxlength="40" tabindex="3" />
    </td>
    <td nowrap="nowrap"><:error_img confirm_password:></td>
  </tr>
</table>
<p align="right"><input type="submit" name="saveopts" value="Save changes" class="user-buttons" accesskey="s" title="AccessKey = s" tabindex="4"/></p>
</form>