<:wrap user/userbase.tmpl title=>"User Services" :>
<:include include/usernav.tmpl:>
<table border="0" cellpadding="5" cellspacing="1">
  <tr>
    <td><img src="/images/<:cfg theme name:>user/subs.gif" width="32" height="32" border="0" alt="Email Manager" /></td>
    <td width="100%">
      <h2>Email manager</h2>
    </td>
  </tr>
</table>
<:include include/usermessage.tmpl:>
<:if Subscriptions:>
<form action="<:target user:>" method="post">
<:if Cfg "site users" nopassword:>
<input type="hidden" name="u" value="<:user id:>" />
<input type="hidden" name="p" value="<:user password:>" />
<input type="hidden" name="r" value="<:script:>?userpage=<:user password:>&amp;u=<:user id:>&amp;message=User+newsletters+saved+successfully" />
<:or Cfg:><:if Cgi r:><input type="hidden" name="r" value="<:cgi r:>"><:or Cgi:><input type="hidden" name="r" value="<:script:>?userpage=1&amp;message=User+newsletters+saved+successfully" /><:eif Cgi:><:eif Cfg:>
<input type="hidden" name="_t" value="subs" />
<input type="hidden" name="saveSubscriptions" value="1" />
<table border="0" cellpadding="1" cellspacing="1">
  <tr>
    <td nowrap="nowrap" valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th nowrap="nowrap" align="left">Newsletters:</th>
        </tr>
      </table>
    </td>
    <td width="100%">
      <table border="0" cellspacing="0" cellpadding="0">
        <:iterator begin subscriptions:>
        <tr>
          <td><input type="checkbox" name="subscription" id="subscription_<:subscription id:>" value="<:subscription id:>"<:ifSubscribed:> checked="checked"<:or:><:eif:> accesskey="<:arithmetic [subscription_index] + 1:>" title="AccessKey = <:arithmetic [subscription_index] + 1:>" tabindex="<:arithmetic [subscription_index] + 1:>" /></td>
          <td nowrap="nowrap"><label for="subscription_<:subscription id:>"><:subscription name:></label>&nbsp;&nbsp;</td>
          <td nowrap="nowrap"><a href="#" onclick="javascript:window.open('<:siteUrl:><:script:>?subinfo=1&amp;id=<:subscription id:>', 'subscription_info','width=350,height=200,location=no,status=no,menubar=no,scrollbars=yes'); return 0"><img src="/images/<:cfg theme name:>user/info.gif" width="16" height="16" border="0" title="Newsletter Info" alt="Newsletter Info" /></a></td>
        </tr>
        <:iterator end subscriptions:>
      </table>
      <:if AnySubs:><:if User confirmed:><:or User:>
      <br />
      <div><b>Note:</b> You haven't confirmed your newsletter subscription. You will not receive any newsletters until you go to the URL provided in the confirmation email sent to your email address.</div>
      <:eif User:><:or AnySubs:><:if User confirmed:>
      <!-- possible note that subscriptions will be enabled immediately -->
      <:or User:>
      <br />
      <div><b>Note:</b> If you select any newsletters, they will not be sent until you confirm your newsletter subscription. If you change your email address you will need to reconfirm your subscription.</div>
      <:eif User:><:eif AnySubs:>
    </td>
  </tr>
</table>
<:or Subscriptions:>
<p class="hasnone">This site currently has no newsletters available.</p>
<:eif Subscriptions:>
<:if Filecats:>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
	<th nowrap="nowrap" align="left" valign="top">File notifications:</th>
	<td>
	  <input type="hidden" name="save_file_subs" value="1" />
 	  <:iterator begin filecats:>
	    <input type="checkbox" name="file_subscriptions" value="<:filecat id:>" <:ifFilecat subscribed:>checked="checked" <:or:><:eif:> /> <:filecat name:>
	  <:iterator separator filecats:>
	    <br />
	  <:iterator end filecats:>
	</td>
  </tr>
</table>
<input type="hidden" name="saveTextOnlyMail" value="1" />
<!--//<input type="radio" name="textOnlyMail" value="" <:ifLast textOnlyMail:><:or:>checked="checked" <:eif:>/><label for="textOnlyMail" accesskey="h">HTML Formatted</label> &nbsp; 
<input type="radio" name="textOnlyMail" value="1" <:ifLast textOnlyMail:>checked="checked" <:or:><:eif:>/><label for="textOnlyMail" accesskey="t">Plain Text Formatted</label>//-->
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th nowrap="nowrap">Email format: &nbsp;</th>
    <td>
      <select name="textOnlyMail" tabindex="100">
        <option value=""<:ifLast textOnlyMail:><:or:>selected="selected"<:eif:>>HTML</option>
        <option value="1"<:ifLast textOnlyMail:> selected="selected"<:or:><:eif:>>Plain Text</option>
      </select>
    </td>
  </tr>
</table>
<:or Filecats:><:eif Filecats:><:if Or [ifSubscriptions] [ifFilecats]:>
<p align="right"><input type="submit" name="saveopts" value="Save changes" class="user-buttons" accesskey="s" title="AccessKey = s" tabindex="101" /></p><:or Or:><:eif Or:>
</form>