<:wrap user/userbase.tmpl title=>"User Services" :><:if Partial_logon:><:or Partial_logon:>
<:include include/usernav.tmpl:><:eif Partial_logon:>
<table border="0" cellpadding="5" cellspacing="1">
  <tr>
    <td><img src="/images/<:cfg theme name:>user/card.gif" width="32" height="32" border="0" alt="Your Billing Details" /></td>
    <td width="100%">
      <h2>Your billing details</h2>
    </td>
  </tr>
</table><:if Partial_logon:>
<p>When your account was created, not all of the required details were entered.  Please provide at least the fields marked as required to complete your account activation.</p><:or Partial_logon:>
<:include include/usermessage.tmpl:><:eif Partial_logon:>
<form action="/cgi-bin/user.pl" method="post">
<:if Cfg "site users" nopassword:>
<input type="hidden" name="u" value="<:user id:>" />
<input type="hidden" name="p" value="<:user password:>" />
<input type="hidden" name="r" value="<:script:>?userpage=<:user password:>&amp;u=<:user id:>&amp;message=User+billing+details+saved+successfully" />
<:or Cfg:><:if Cgi r:><input type="hidden" name="r" value="<:cgi r:>"><:or Cgi:><input type="hidden" name="r" value="<:script:>?userpage=1&amp;message=User+billing+details+saved+successfully" /><:eif Cgi:><:eif Cfg:>
<input type="hidden" name="_t" value="billing" />
<table border="0" cellpadding="1" cellspacing="1">
  <tr> 
    <th nowrap="nowrap" align="left">First Name:</th>
    <td width="100%" nowrap="nowrap"> 
      <input type="text" name="billFirstName" value="<:last billFirstName:>" size="40" maxlength="127" tabindex="1" /> <:ifRequired billFirstName:>*<:or:><:eif:></td>
    <td nowrap="nowrap"><:error_img billFirstName:></td>
  </tr>
  <tr> 
    <th nowrap="nowrap" align="left">Last Name:</th>
    <td width="100%" nowrap="nowrap"> 
      <input type="text" name="billLastName" value="<:last billLastName:>" size="40" maxlength="127" tabindex="2" /> <:ifRequired billLastName:>*<:or:><:eif:>
    </td>
    <td nowrap="nowrap"><:error_img billLastName:></td>
  </tr>
  <tr>
    <th nowrap="nowrap" align="left">Organisation:</th>
    <td width="100%" nowrap="nowrap">
      <input type="text" name="billOrganization" value="<:last billOrganization:>" size="40" maxlength="127" tabindex="9" /><:ifRequired billOrganization:>*<:or:><:eif:>
    </td>
    <td nowrap="nowrap"><:error_img billOrganization:></td>
  </tr>
  <tr> 
    <th nowrap="nowrap" align="left">Address:</th>
    <td width="100%" nowrap="nowrap"> 
      <input type="text" name="billStreet" value="<:last billStreet:>" size="40" maxlength="127" tabindex="3" /> <:ifRequired billStreet:>*<:or:><:eif:>
    </td>
    <td nowrap="nowrap"><:error_img billStreet:></td>
  </tr>
  <tr> 
    <th nowrap="nowrap" align="left">Address 2:</th>
    <td width="100%" nowrap="nowrap"> 
      <input type="text" name="billStreet2" value="<:last billStreet2:>" size="40" maxlength="127" tabindex="3" /> <:ifRequired billStreet2:>*<:or:><:eif:>
    </td>
    <td nowrap="nowrap"><:error_img billStreet2:></td>
  </tr>
  <tr> 
    <th nowrap="nowrap" align="left">Suburb:</th>
    <td width="100%" nowrap="nowrap"> 
      <input type="text" name="billSuburb" value="<:last billSuburb:>" size="40" maxlength="127" tabindex="4" /> <:ifRequired billSuburb:>*<:or:><:eif:>
    </td>
    <td nowrap="nowrap"><:error_img billSuburb:></td>
  </tr>
  <tr> 
    <th nowrap="nowrap" align="left">State:</th>
    <td width="100%" nowrap="nowrap"> 
      <input type="text" name="billState" value="<:last billState:>" size="8" maxlength="40" tabindex="5" /> <:ifRequired billState:>*<:or:><:eif:>
    </td>
    <td nowrap="nowrap"> <:error_img billState:></td>
  </tr>
  <tr> 
    <th nowrap="nowrap" align="left">Postcode:</th>
    <td width="100%" nowrap="nowrap"> 
      <input type="text" name="billPostCode" value="<:last billPostCode:>" size="8" maxlength="40" tabindex="6" /> <:ifRequired billPostCode:>*<:or:><:eif:>
    </td>
    <td nowrap="nowrap"> <:error_img billPostCode:></td>
  </tr>
  <tr> 
    <th nowrap="nowrap" align="left">Country:</th>
    <td width="100%" nowrap="nowrap"> 
      <input type="text" name="billCountry" value="<:last billCountry:>" size="32" maxlength="127" tabindex="7" /> <:ifRequired billCountry:>*<:or:><:eif:>
    </td>
    <td nowrap="nowrap"><:error_img billCountry:></td>
  </tr>
  <tr> 
    <th nowrap="nowrap" align="left">Telephone:</th>
    <td width="100%" nowrap="nowrap"> 
      <input type="text" name="billTelephone" value="<:last billTelephone:>" size="32" maxlength="80" tabindex="8" /> <:ifRequired billTelephone:>*<:or:><:eif:>
    </td>
    <td nowrap="nowrap"><:error_img billTelephone:></td>
  </tr>
  <tr> 
    <th nowrap="nowrap" align="left">Facsimile:</th>
    <td width="100%" nowrap="nowrap"> 
      <input type="text" name="billFacsimile" value="<:last billFacsimile:>" size="32" maxlength="80" tabindex="9" /> <:ifRequired billFacsimile:>*<:or:><:eif:>
    </td>
    <td nowrap="nowrap"><:error_img billFacsimile:></td>
  </tr>
  <tr> 
    <th nowrap="nowrap" align="left">Mobile:</th>
    <td width="100%" nowrap="nowrap"> 
      <input type="text" name="billMobile" value="<:last billMobile:>" size="32" maxlength="80" tabindex="9" /> <:ifRequired billMobile:>*<:or:><:eif:>
    </td>
    <td nowrap="nowrap"><:error_img billMobile:></td>
  </tr>
  <!--//<tr> 
    <th nowrap="nowrap" align="left">Email:</th>
    <td width="100%" nowrap="nowrap"> 
      <input type="text" name="billEmail" value="<:last billEmail:>" size="32" maxlength="80" tabindex="10" /> <:ifRequired billEmail:>*<:or:><:eif:>
    </td>
    <td nowrap="nowrap"><:error_img billEmail:></td>
  </tr>//-->
  <tr> 
    <td height="20" colspan="3" align="left" valign="bottom" nowrap="nowrap">* indicates required fields</td>
  </tr>
</table>
<p align="right"><input type="submit" name="saveopts" value="Save changes" class="user-buttons" accesskey="s" title="AccessKey = s" tabindex="11" /></p>
</form>