<:wrap user/userbase.tmpl subtitle=>"Affiliate details" userpage=>"affiliate" :>
<h2><:param subtitle |h:></h2>
<form action="<:dyntarget user:>" method="post" enctype="multipart/form-data" class="siteuser"><:if Cgi r:>
<input type="hidden" name="r" value="<:cgi r:>"><:or Cgi:>
<input type="hidden" name="r" value="<:dyntarget user:>?userpage=1&amp;message=User+affiliate+details+saved+successfully" /><:eif Cgi:>
<input type="hidden" name="_t" value="affiliate" />

  <fieldset class="affiliate">
    <legend>Account</legend>
    <div class="input affiliate_name<:ifError_img affiliate_name:> error<:or:><:eif:>">
      <label for="affiliate_name"><:error_img affiliate_name:> <:cfg "affiliate" display_affiliate_name "Affiliate Name":>:<:ifRequired affiliate_name:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="affiliate_name" id="affiliate_name" size="40" value="<:last affiliate_name:>" title="<:cfg "affiliate" affiliate_name "Affiliate Name":>" class="<:ifRequired affiliate_name:>required<:or:><:eif:><:ifError_img affiliate_name:> error<:or:><:eif:>" />
      <span class="notes"><a href="<:ifCfg affiliate url:><:cfg affiliate url:><:or:><:cfg site url:><:eif:><:if Cfg affiliate mod_rewrite:><:ifUser affiliate_name:>/<:user affiliate_name:><:or:>/~<:user userId:><:eif:><:or Cfg:>/cgi-bin/affiliate.pl?<:ifUser affiliate_name:>co=<:user affiliate_name:><:or:>lo=<:user userId:><:eif:><:eif Cfg:>">View your public profile</a></span>
    </div>
  </fieldset>
  
  <:if Imagetemplates:>
  <fieldset class="images">
    <legend>Images</legend>
    <:iterator begin imagetemplates:>
    <:if Siteuser_image [imagetemplate id]:>
    <div class="image">
      <p><:imagetemplate description:>: (<a href='<:dyntarget user:>?saveopts=1&amp;id=<:user id:>&amp;image_<:imagetemplate id:>_delete=1&amp;r=<:dyntarget user:>%3Fshow_opts=1%26id=<:user id:>%26_t=affiliate%26m=Image%2Bdeleted%2Bsuccessfully' onclick="return window.confirm('Are you sure you want to delete this image?')">Delete</a>)</p>
      <img src="<:siteuser_image [imagetemplate id] url:>" width="<:siteuser_image [imagetemplate id] width:>" height="<:siteuser_image [imagetemplate id] height:>" alt="<:siteuser_image [imagetemplate id] alt:>" />
    </div>
    <:or Siteuser_image:>
    <div class="file image_<:imagetemplate id:>_file">
      <label for="image_<:imagetemplate id:>_file"><:imagetemplate description:>:</label>
      <input type="file" name="image_<:imagetemplate id:>_file" id="image_<:imagetemplate id:>_file" size="40" title="<:imagetemplate description:>" />
      <input type="hidden" name="image_<:imagetemplate id:>_alt" value="<:imagetemplate description:>" />
    </div>
    <!--<div class="input image_<:imagetemplate id:>_alt">
      <label for="image_<:imagetemplate id:>_alt"><:imagetemplate description:> alt:</label>
      <input type="text" name="image_<:imagetemplate id:>_alt" id="image_<:imagetemplate id:>_alt" size="40" value="<:siteuser_image [imagetemplate id] alt:>" title="<:imagetemplate description:> alt" />
    </div>//-->
  <:eif Siteuser_image:>
  <:error_img images:>
  <:iterator end imagetemplates:>
  </fieldset><:or Imagetemplates:><:eif Imagetemplates:>
  <p><span class="required">* Required.</span> <:cfg "site users" required_text "Please provide information for all marked fields.":></p>
  <p class="buttons"><input type="submit" name="saveopts" value="Save changes" accesskey="s" title="AccessKey = s" class="button" /></p>
</form>