<:wrap user/userbase.tmpl subtitle=>"Account details" userpage=>"account" :>
<h2><:param subtitle |h:></h2>
<form action="<:dyntarget user:>" method="post" class="siteuser"><:if Cfg "site users" nopassword:>
<input type="hidden" name="u" value="<:user id:>" />
<input type="hidden" name="p" value="<:user password:>" />
<input type="hidden" name="r" value="<:dyntarget user show_opts [user password] u [user id] message "User account details saved successfully":>" /><:or Cfg:><:if Cgi r:>
<input type="hidden" name="r" value="<:cgi r:>"><:or Cgi:>
<input type="hidden" name="r" value="<:dyntarget user show_opts message "User account details saved successfully":>" /><:eif Cgi:><:eif Cfg:>

<:if Partial_logon:><:or Partial_logon:>
  <fieldset class="account">
    <legend>Account</legend>
    <:if Cfg "site users" nopassword:><:or Cfg:>
    <div class="input old_password<:ifError_img old_password:> error<:or:><:eif:>">
      <label for="old_password"><:error_img old_password:> <:cfg "site users" display_old_password "Old Password":>:</label>
      <input type="password" name="old_password" id="old_password" size="40" value="<:old old_password:>" title="<:cfg "site users" display_old_password "Old Password":>" class="<:ifError_img old_password:>error<:or:><:eif:>" />
    </div>
    <div class="input password<:ifError_img password:> error<:or:><:eif:>">
      <label for="password"><:error_img password:> <:cfg "site users" display_new_password "New Password":>:</label>
      <input type="password" name="password" id="password" size="40" value="<:old password:>" title="<:cfg "site users" display_new_password "New Password":>" class="<:ifError_img password:>error<:or:><:eif:>" />
    </div>
    <div class="input confirm_password<:ifError_img confirm_password:> error<:or:><:eif:>">
      <label for="confirm_password"><:error_img confirm_password:> <:cfg "site users" display_confirm_password "Confirm Password":>:</label>
      <input type="password" name="confirm_password" id="confirm_password" size="40" value="<:old confirm_password:>" title="<:cfg "site users" display_confirm_password "Confirm Password":>" class="<:ifError_img confirm_password:>error<:or:><:eif:>" />
    </div>
    <:eif Cfg:>
    <:if Cfg "site users" nopassword:>
    <div class="input email<:ifError_img email:> error<:or:><:eif:>">
      <label for="email"><:error_img email:> <:cfg "site users" display_email "Email Address":>: <span class="required">*</span></label>
      <input type="text" name="email" id="email" size="40" value="<:old email user email:>" title="<:cfg "site users" display_email "Email Address":>" class="required<:ifError_img email:> error<:or:><:eif:>" />
    </div>
    <div class="input confirmemail<:ifError_img confirmemail:> error<:or:><:eif:>">
      <label for="confirmemail"><:error_img confirmemail:> <:cfg "site users" display_confirmemail "Confirm Email":>:</label>
      <input type="text" name="confirmemail" id="confirmemail" size="40" value="<:old confirmemail:>" title="<:cfg "site users" display_confirmemail "Confirm Email":>" class="<:ifError_img confirmemail:>error<:or:><:eif:>" />
    </div>
    <:or Cfg:><:eif Cfg:>
  </fieldset>

<:if Subscriptions:>
  <fieldset class="newsletter">
    <input type="hidden" name="checkedsubs" value="1" />
    <legend>Newsletter</legend>
    <:iterator begin subscriptions:>
    <div class="checkbox">
      <label><input type="checkbox" name="subscription" value="<:subscription id:>"<:ifSubscribed:> checked="checked"<:or:><:eif:> /> <:subscription name:>
        (<a href="<:dyntarget user subinfo id [subscription id] :>" target="_blank">info</a>)
      </label>
    </div>
    <:iterator end subscriptions:>
    <small>Confirmation will be sent to your email address.</small>
  </fieldset>
<:or Subscriptions:><:eif Subscriptions:>

<:if Filecats:>
  <fieldset class="notification">
    <input type="hidden" name="save_file_subs" value="1" />
    <legend>File Notification</legend>
    <:iterator begin filecats:>
    <div class="checkbox">
      <label><input type="checkbox" name="file_subscriptions" value="<:filecat id:>"<:ifFilecat subscribed:> checked="checked"<:or:><:eif:> /> <:filecat name:></label>
    </div>
    <:iterator end filecats:>
    <small>Receive email notification when file downloads are added to your account in the selected categories.</small>
  </fieldset>
<:or Filecats:><:eif Filecats:>
<:eif Partial_logon:>

  <fieldset class="name">
    <legend>Name</legend>
    <div class="input name1<:ifError_img name1:> error<:or:><:eif:>">
      <label for="name1"><:error_img name1:> <:cfg "site users" display_name1 "First Name":>:<:ifRequired name1:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="name1" id="name1" size="40" value="<:old name1 user name1:>" title="<:cfg "site users" display_name1 "First Name":>" class="<:ifRequired name1:>required<:or:><:eif:><:ifError_img name1:> error<:or:><:eif:>" />
    </div>
    <div class="input name2<:ifError_img name2:> error<:or:><:eif:>">
      <label for="name2"><:error_img name2:> <:cfg "site users" display_name2 "Last Name":>:<:ifRequired name2:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="name2" id="name2" size="40" value="<:old name2 user name2:>" title="<:cfg "site users" display_name2 "Last Name":>" class="<:ifRequired name2:>required<:or:><:eif:><:ifError_img name2:> error<:or:><:eif:>" />
    </div>
  </fieldset>

  <fieldset class="company">
    <legend>Company</legend>
    <div class="input organization<:ifError_img organization:> error<:or:><:eif:>">
      <label for="organization"><:error_img organization:> <:cfg "site users" display_organization "Organisation":>:<:ifRequired organization:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="organization" id="organization" size="40" value="<:old organization user organization:>" title="<:cfg "site users" display_organization "Organisation":>" class="<:ifRequired organization:>required<:or:><:eif:><:ifError_img organization:> error<:or:><:eif:>" />
    </div>
    <div class="input title<:ifError_img title:> error<:or:><:eif:>">
      <label for="title"><:error_img confirm_password:> <:cfg "site users" display_title "Title / Role":>:<:ifRequired title:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="title" id="title" size="40" value="<:old title user title:>" title="<:cfg "site users" display_title "Title / Role":>" class="<:ifRequired title:>required<:or:><:eif:><:ifError_img title:> error<:or:><:eif:>" />
    </div>
  </fieldset>

  <fieldset class="address">
    <legend>Address</legend>
    <div class="input address<:ifError_img address:> error<:or:><:eif:>">
      <label for="address"><:error_img address:> <:cfg "site users" display_address "Address":>:<:ifRequired address:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="address" id="address" size="40" value="<:old address user address:>" title="<:cfg "site users" display_address "Organisation":>" class="<:ifRequired address:>required<:or:><:eif:><:ifError_img address:> error<:or:><:eif:>" />
    </div>
    <div class="input delivStreet2<:ifError_img delivStreet2:> error<:or:><:eif:>">
      <label for="delivStreet2"><:error_img delivStreet2:> <:cfg "site users" display_delivStreet2 "Address 2":>:<:ifRequired delivStreet2:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="delivStreet2" id="delivStreet2" size="40" value="<:old delivStreet2 user delivStreet2:>" title="<:cfg "site users" display_delivStreet2 "Address 2":>" class="<:ifRequired delivStreet2:>required<:or:><:eif:><:ifError_img delivStreet2:> error<:or:><:eif:>" />
    </div>
    <div class="input city<:ifError_img addrecityss:> error<:or:><:eif:>">
      <label for="city"><:error_img city:> <:cfg "site users" display_city "Suburb":>:<:ifRequired city:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="city" id="city" size="40" value="<:old city user city:>" title="<:cfg "site users" display_city "Suburb":>" class="<:ifRequired city:>required<:or:><:eif:><:ifError_img city:> error<:or:><:eif:>" />
    </div>
    <div class="input state<:ifError_img state:> error<:or:><:eif:>">
      <label for="state"><:error_img state:> <:cfg "site users" display_state "State":>:<:ifRequired state:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="state" id="state" size="10" value="<:old state user state:>" title="<:cfg "site users" display_state "State":>" class="<:ifRequired state:>required<:or:><:eif:><:ifError_img state:> error<:or:><:eif:>" />
    </div>
    <div class="input postcode<:ifError_img postcode:> error<:or:><:eif:>">
      <label for="postcode"><:error_img postcode:> <:cfg "site users" display_postcode "Postcode":>:<:ifRequired postcode:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="postcode" id="postcode" size="10" value="<:old postcode user postcode:>" title="<:cfg "site users" display_postcode "Postcode":>" class="<:ifRequired postcode:>required<:or:><:eif:><:ifError_img postcode:> error<:or:><:eif:>" />
    </div>
    <div class="input country<:ifError_img country:> error<:or:><:eif:>">
      <label for="country"><:error_img country:> <:cfg "site users" display_country "Country":>:<:ifRequired country:> <span class="required">*</span><:or:><:eif:></label><:if Cfgsection "country selector":>
      <select name="country" id="country" title="<:cfg "site users" display_country "Country":>" class="<:ifRequired userid:>required<:or:><:eif:><:ifError_img country:> error<:or:><:eif:>">
        <option value="">Please select a country</option><:iterator begin dyncfgsection "country selector" sort=value:>
        <option value="<:uc [dyncfgentry key]:>"<:if Or [ifEq [old country user country] [uc [dyncfgentry key]]] [ifEq [old country user country] [uc [dyncfgentry value]]]:> selected="selected"<:or Or:><:eif Or:>><:dyncfgentry value:></option>
        <:iterator end dyncfgsection:>
      </select><:or Cfgsection:>
      <input type="text" name="country" id="country" size="40" value="<:old country user country:>" title="<:cfg "site users" display_country "Country":>" class="<:ifRequired country:>required<:or:><:eif:><:ifError_img country:> error<:or:><:eif:>" /><:eif Cfgsection:> 
    </div>
  </fieldset>

  <fieldset class="contact">
    <legend>Contact</legend>
    <div class="input telephone<:ifError_img telephone:> error<:or:><:eif:>">
      <label for="telephone"><:error_img telephone:> <:cfg "site users" display_telephone "Telephone":>:<:ifRequired telephone:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="telephone" id="telephone" size="20" value="<:old telephone user telephone:>" title="<:cfg "site users" display_telephone "Telephone":>" class="<:ifRequired telephone:>required<:or:><:eif:><:ifError_img telephone:> error<:or:><:eif:>" />
    </div>
    <div class="input facsimile<:ifError_img facsimile:> error<:or:><:eif:>">
      <label for="facsimile"><:error_img facsimile:> <:cfg "site users" display_facsimile "Facsimile":>:<:ifRequired facsimile:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="facsimile" id="facsimile" size="20" value="<:old facsimile user facsimile:>" title="<:cfg "site users" display_facsimile "Facsimile":>" class="<:ifRequired facsimile:>required<:or:><:eif:><:ifError_img facsimile:> error<:or:><:eif:>" />
    </div>
    <div class="input delivMobile<:ifError_img delivMobile:> error<:or:><:eif:>">
      <label for="delivMobile"><:error_img delivMobile:> <:cfg "site users" display_delivMobile "Mobile":>:<:ifRequired delivMobile:> <span class="required">*</span><:or:><:eif:></label>
      <input type="text" name="delivMobile" id="delivMobile" size="20" value="<:old delivMobile user delivMobile:>" title="<:cfg "site users" display_delivMobile "Mobile":>" class="<:ifRequired delivMobile:>required<:or:><:eif:><:ifError_img delivMobile:> error<:or:><:eif:>" />
    </div>
    <div class="input email<:ifError_img email:> error<:or:><:eif:>">
      <label for="email"><:error_img email:> <:cfg "site users" display_email "Email Address":>: <span class="required">*</span></label>
      <input type="text" name="email" id="email" size="40" value="<:old email user email:>" title="<:cfg "site users" display_email "Email Address":>" class="required<:ifError_img email:> error<:or:><:eif:>" />
    </div>
    <div class="checkbox textOnlyMail<:ifError_img textOnlyMail:> error<:or:><:eif:>">
      <input type="hidden" name="saveTextOnlyMail" value="1" /> 
      <label><input type="checkbox" name="textOnlyMail" value="1"<:ifOld textOnlyMail user textOnlyMail:> checked="checked"<:or:><:eif:> /> Plain text email (only)</label>
    </div>
  </fieldset>
<:include include/custom/user_options_custom.tmpl optional:>
  <p><span class="required">* Required.</span> <:cfg "site users" required_text "Please provide information for all marked fields.":></p>
  <p class="buttons"><input type="submit" name="saveopts" value="Save changes" accesskey="s" title="AccessKey = s" /></p>
</form>