<:wrap user/userbase.tmpl title=>"Order details" subtitle=>"Order details" userpage=>"orders" :>
<h2><:param subtitle |h:></h2>
<p><a href="<:dyntarget user userpage _t orders:>">Back to order history</a></p>

<div class="group">
<table class="vertical left">
  <caption>Order details</caption>
  <tbody>
    <tr>
      <th>Order No.:</th>
      <td><b><:order id |%06d:></b></td>
    </tr>
    <tr> 
      <th>Order Date:</th>
      <td><:date order orderDate:></td>
    </tr>
    <tr>
      <th>Order Status:</th>
      <td><:dyncatmsg [order stage_description_id]:></td>
    </tr><:ifOrder purchase_order:>
    <tr>
      <th>Purchase Order:</th>
      <td><:order purchase_order:></td>
    </tr><:or:><:eif:><:ifOrder freight_tracking:>
    <tr>
      <th>Tracking Code:</th>
      <td><:order freight_tracking:></td>
    </tr><:or:><:eif:><:ifOrder shipping_method:>
    <tr>
      <th>Shipping Method:</th>
      <td><:order shipping_method:></td>
    </tr><:or:><:eif:><!--<:ifOrder userId:>
    <tr>
      <th>Username:</th>
      <td><:order userId:></td>
    </tr><:or:><:eif:><:ifOrder affiliate_code:>
    <tr>
      <th>Referrer:</th>
      <td><:order affiliate_code:></td>
    </tr><:or:><:eif:>//-->
  </tbody>
</table>

<table class="vertical right">
  <caption>Payment details <span class="<:ifOrder paidFor:>paid<:or:>unpaid<:eif:>"><:ifOrder paidFor:>Paid<:or:>Unpaid<:eif:></span></caption>
  <tbody>
   <tr>
      <th>Payment Method:</th><:switch:>
      <:case Eq [order paymentType] "0":>
      <td><b>Credit Card</b></td>
    </tr>
    <:if Order ccOnline:><tr>
      <th>Receipt No.:</th>
      <td><:order ccReceipt:></td>
    </tr>
    <:or Order:><:eif Order:><tr>
      <th><:cfg shop display_cardHolder "Name on Card":>:</th>
      <td><:order ccName:></td>
    </tr>
    <tr>
      <th><:cfg shop display_cardType "Card Type":>:</th>
      <td><:order ccType:></td>
    </tr>
      <:case Eq [order paymentType] "1":>
      <td><b>Cheque</b></td>
    </tr>
    <tr>
      <th>Payee:</th>
      <td>
        <b><:cfg shop address1 |h:></b>
      </td>
    </tr>
    <tr>
      <th>Address:</th>
      <td>
        <:cfg shop address2 |h:><br />
        <:cfg shop address3 |h:><br />
        <:cfg shop address4 |h:>
      </td>
    </tr>
      <:case Eq [order paymentType] "10":>
      <td><b>EFT</b></td>
    </tr>
    <tr>
      <th>Name:</th>
      <td><:cfg shop accountname |h:></td>
    </tr>
    <tr>
      <th>BSB:</th>
      <td><:cfg shop bsb:></td>
    </tr>
    <tr>
      <th>Account:</th>
      <td><:cfg shop accountno:></td>
    </tr>
    <tr>
      <th>Reference:</th>
      <td><:order id |%06d:></td>
    </tr>
      <:case Eq [order paymentType] "2":>
      <td><b>Contact</b></td>
    </tr>
      <:case Eq [order paymentType] "4":>
      <td><b>PayPal</b></td>
    </tr>
    <tr>
      <th>Transaction Id:</th>
      <td><:order paypal_tran_id:></td>
    </tr>
      <:case default:>
      <td><b>None</b></td>
    </tr>
    <:endswitch:>
  </tbody>
</table>
</div>

<table class="items">
  <caption>Order items</caption>
  <thead>
    <tr> 
      <th class="col1">Item</th>
      <th class="col2">Qty</th>
      <th class="col3">Price</th>
      <th class="col4">Extended</th><!--//-->
    </tr>
  </thead>
  <tbody><:iterator begin items:>
    <tr> 
      <td class="col1"><:ifEq [item productId] -1:>
        <:item title:><:or:>
        <a href="<:product link:>"><:item title:></a><:eif:> <:ifOptions:><span><:options:></span><:or:><:eif:><:if And [item description] [cfg shop product_description 1]:>
        <div class="description"><:item description:></div><:or And:><:eif And:></td>
      <td class="col2"><:item units:> &times;</td>
      <td class="col3"><:cfg shop currency "$":><:number money [item price]:></td>
      <td class="col4"><:cfg shop currency "$":><:number money [extended price]:></td><!--//-->
    </tr><:iterator end items:>
  </tbody>
</table>

<div class="totals">
  <:switch:>
  <:case Order shipping_cost:>
  <p class="freight"><span>(<:order shipping_method:>)</span> <label>Freight:</label> <:cfg shop currency "$":><:number money [order shipping_cost]:></p>
  <:case Match [order shipping_name] ^contact$:>
  <p class="freight"><span>(<:order shipping_method:>)</span> <label>Freight:</label> TBA</p>
  <:case default:>
  <:endswitch:>
  <p class="total"><abbr><:cfg shop currency_code "AUD":></abbr> <label>Total:</label> <:cfg shop currency "$":><:number money [order total]:></p>
</div>

<div class="group">
<table class="vertical left">
  <caption>Shipping details</caption>
  <tbody>
    <tr> 
      <th>Name:</th>
      <td><b><:order delivFirstName:> <:order delivLastName:></b></td>
    </tr>
    <tr>
      <th>Address:</th>
      <td><:ifOrder delivOrganization:>
        <:order delivOrganization:><br /><:or:><:eif:>
        <:order delivStreet:><br /><:ifOrder delivStreet2:>
        <:order delivStreet2:><br /><:or:><:eif:>
        <:order delivSuburb:> <:order delivState:> <:order delivPostCode:><br /><:ifCfgsection "country selector":>
        <:cfg "country selector" [order delivCountry]:><:or:><:order delivCountry:><:eif:>
      </td>
    </tr>
    <tr> 
      <th><:cfg "site users" display_telephone "Telephone":>:</th>
      <td><:order telephone:></td>
    </tr>
    <:ifOrder facsimile:><tr> 
      <th><:cfg "site users" display_facsimile "Facsimile":>:</th>
      <td><:order facsimile:></td>
    </tr><:or:><:eif:>
    <:ifOrder delivMobile:><tr> 
      <th><:cfg "site users" display_delivMobile "Mobile":>:</th>
      <td><:order delivMobile:></td>
    </tr><:or:><:eif:>
    <:ifOrder billStreet:><:or:><tr>
      <th><:cfg "site users" display_email "Email":>:</th>
      <td><:order emailAddress:></td>
    </tr><:eif:>
    <!--<:ifOrder instructions:><tr> 
      <th>Instructions:</th>
      <td><:order instructions:></td>
    </tr><:or:><:eif:>//-->
  </tbody>
</table>

<:if Order billStreet:>
<table class="vertical right">
  <caption>Billing details</caption>
  <tbody>
    <tr> 
      <th>Name:</th>
      <td><b><:order billFirstName:> <:order billLastName:></b></td>
    </tr>
    <tr>
      <th>Address:</th>
      <td><:ifOrder billOrganization:>
        <:order billOrganization:><br /><:or:><:eif:>
        <:order billStreet:><br /><:ifOrder billStreet2:>
        <:order billStreet2:><br /><:or:><:eif:>
        <:order billSuburb:> <:order billState:> <:order billPostCode:><br /><:ifCfgsection "country selector":>
        <:cfg "country selector" [order billCountry]:><:or:><:order billCountry:><:eif:>
      </td>
    </tr>
    <:ifOrder billTelephone:><tr> 
      <th><:cfg "site users" display_telephone "Telephone":>:</th>
      <td><:order billTelephone:></td>
    </tr><:or:><:eif:>
    <:ifOrder billFacsimile:><tr> 
      <th><:cfg "site users" display_facsimile "Facsimile":>:</th>
      <td><:order billFacsimile:></td>
    </tr><:or:><:eif:>
    <:ifOrder billMobile:><tr> 
      <th><:cfg "site users" display_delivMobile "Mobile":>:</th>
      <td><:order billMobile:></td>
    </tr><:or:><:eif:>
    <tr> 
      <th><:cfg "site users" display_email "Email":>:</th>
      <td><:order emailAddress:></td>
    </tr>
  </tbody>
</table>
<:or Order:><:eif Order:>
</div>

<:if Orderfiles:>
<h3>Download files</h3>
<p>Your purchase includes file downloads, for your convenience they are available below. You can download your files later from the <a href="<:dyntarget user userpage _t files:>">File downloads</a> section of your account.</p>
<table class="items">
  <caption>Files available</caption>
  <thead>
    <tr>
      <th class="col1">Filename/Title</th>
      <th class="col2">Date</th>
      <th class="col3">Size</th>
    </tr>
  </thead>
  <tbody><:iterator begin orderfiles sort: -modwhen:>
    <tr>
      <td class="col1"><:ifFileAvail:><a href="<:orderfile url:>" title="<:orderfile description:>"><:orderfile displayName:></a><:or:><span><:orderfile displayName:></span><:eif:></td>
      <td class="col2"><:date orderfile whenUploaded:></td>
      <td class="col3"><:kb orderfile sizeInBytes:>b</td>
    </tr><:iterator end orderfiles:>
  </tbody>
</table>
<:or Orderfiles:><:eif Orderfiles:>