<:wrap base.tmpl:>
<div id="user" class="article user public">
<h1 class="pagetitle"><:param title |h:></h1><:switch:>
<:case Param nomessage:>
<:case Message:><p id="message" class="error"><:message:></p>
<:case default:><:endswitch:>
<:wrap here:>
</div>