Your seminar, <:seminar title:>, has been modified.

It will now be on <:date "%HH:%MM on %d/%m/%Y" session when_at:> at:

  <:old_location description:>
  <:old_location room:>
  <:old_location street1:>
  <:old_location street2:>
  <:old_location suburb:> <:old_location state:> <:old_location post_code:>

Originally your seminar was on <:date "%HH:%MM on %d/%m/%Y" old_when when_at:>
at:

  <:location description:>
  <:location room:>
  <:location street1:>
  <:location street2:>
  <:location suburb:> <:location state:> <:location post_code:>
