<:wrap user/pubbase.tmpl title=>"User Services" nomessage=>"1" :>
  <table width="350" align="center">
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td nowrap="nowrap"><img src="/images/basic/user/subs.gif" width="32" height="32" border="0" alt="Email Confirmations" />&nbsp;&nbsp;</td>
            <td width="100%"><h2>Email Confirmations</h2></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td colspan="2"> 
        <p>Three confirmation messages have already been sent to <b><:user email:></b>, or some similar email address.</p>
        <p>To prevent this system from being abused through continuously sending confirmation email messages to some user, it will not send more than three confirmation mesages to a given email address.</p>
        <p>If you have been blocked from subscribing to this site by this policy, we can only suggest that you create a <a href="http://www.hotmail.com">Hotmail</a> or <a href="http://mail.yahoo.com">Yahoo Mail</a> account and subscribe that account instead.</p>
      </td>
    </tr>
    <tr> 
      <td colspan="2"> <br />
        <a href="<:script:>?userpage=<:ifCfg "site users" nopassword:><:user password:>&amp;u=<:user id:><:or:>1<:eif:>">User account manager</a>
      </td>
    </tr>
  </table>