<:wrap user/userbase.tmpl subtitle=>"Order history" userpage=>"orders" :>

<h2><:param subtitle |h:></h2>
<table class="items orders">
  <caption>Orders</caption><:if Orders:>
  <thead>
    <tr>
      <th class="col1">No.</th>
      <th class="col2">Date</th>
      <th class="col3">Status</th>
      <th class="col4">Total</th>
    </tr>
  </thead>
  <tbody>
    <:iterator begin orders:><tr class="item">
      <td class="col1">
        <!--<a href="<:dyntarget user:>?a_orderdetail=1&amp;id=<:order id:>" target="_blank"><:order id |%06d:></a>//-->
        <a href="<:dyntarget user:>?userpage=1&amp;_t=orders&amp;id=<:order id:>"><:order id |%06d:></a>
      </td>
      <td class="col2"><:date order orderDate:></td>
      <td class="col3"><:switch:><:case Order complete:>Completed<:case Order filled:>Filled<:case Order paidFor:>Paid<:case default:>Processing<:endswitch:></td>
      <td class="col4"><:cfg shop currency "$":><:number money [order total]:></td>
    </tr>
    <:iterator end orders:>
  </tbody><:or Orders:>
    <tr class="item"> 
      <td colspan="4" class="noitems">You haven’t made any purchases</td>
    </tr><:eif Orders:>
</table>

<:iterator begin orders:><:switch:><:case Eq [cgi id] [order id]:>
<!-- BY ORDER ID //-->
<h2>Order details</h2>
<table class="items">
  <caption>Order <:order id:> items</caption>
  <thead>
    <tr> 
      <th class="col1">Item</th>
      <th class="col2">Qty</th>
      <th class="col3">Price</th>
    </tr>
  </thead>
  <tbody>
    <:iterator begin items:><tr class="item"> 
      <td class="col1"><:ifEq [item productId] -1:>
        <:item title:><:or:>
        <a href="<:url product:>"><:item title:></a><:eif:> <:ifOptions:><:options:><:or:><:eif:> <:if And [item description] [cfg shop product_description 1]:>
        <div class="i_description"><:item description:></div><:or And:><:eif And:>
      </td>
      <td class="col2"><:item units:> &times;</td>
      <td class="col3"><:cfg shop currency "$":><:number money [item price]:></td>
    </tr>
    <:iterator end items:>
  </tbody>
</table>
<div class="totals"><:if Or [cfg freight enabled] [cfg tryandbyte aufreight]:><:if Order shipping_cost:><p class="freight"><span>Freight:</span> <:ifOrder customInt1:>To be quoted<:or:><:cfg shop currency "$":><:number money [order shipping_cost]:><:eif:></p><:or Order:><:eif Order:><:or Or:><:eif Or:>
<p class="total"><span>Total:</span> <:cfg shop currency "$":><:number money [order total]:> <abbr><:cfg shop currency_code "AUD":></abbr></p></div>
<:endswitch:>
<:iterator end orders:>