<:wrap user/userbase.tmpl subtitle=>"Account summary" userpage=>"home" :>
<h2><:param subtitle |h:></h2>
<p>This section contains your personal account details. From here you can 
<:ifCfg subscriptions enabled:>manage your newsletter subscriptions,<:or:><:eif:>
<:ifCfg shop enabled:> monitor the current status or purchase history of your orders from our on-line store<:or:><:eif:>
<:ifOr [cfg shop enabled] [cfg subscriptions enabled]:> and<:or:><:eif:> modify your personal details, for example, your
<:ifCfg "site users" nopassword:><:or:>password, <:eif:>email and mailing addresses etc.
</p>
<p><span><:if Or [cfg custom user_auth] [cfg "site users" nopassword]:><:or Or:>
Last logged in: <:date user previousLogon:><br /><:eif Or:>
Registered since: <:date user whenRegistered:></span></p>
<:if Userfiles:><p>You have <:userfile_count:> user file<:ifEq [userfile_count] 1:><:or:>s<:eif:></p><:or Userfiles:><:eif Userfiles:>
<:if Paidfiles:><p>You have <:paidfile_count:> purchased file<:ifEq [paidfile_count] 1:><:or:>s<:eif:></p><:or Paidfiles:><:eif Paidfiles:>
<:if Orders:><p>You have <:order_count:> order<:ifEq [order_count] 1:><:or:>s<:eif:></p><:or Orders:><:eif Orders:>
<:if Wishlist:><p>You have <:wishlistentry_count:> wishlist item<:ifEq [wishlistentry_count] 1:><:or:>s<:eif:></p><:or Wishlist:><:eif Wishlist:>
<:if Subscriptions:><p>You have <:subscription_count:> subscription<:ifEq [subscription_count] 1:><:or:>s<:eif:></p><:or Subscriptions:><:eif Subscriptions:>
<:include include/custom/userpage_custom.tmpl optional:><:include include/userpage_custom.tmpl optional:>