<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Subscription Info</title>
<style type="text/css">
<!--
body {
	font-family: "Lucida grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #dddddd;
}
a {
	color: #666666;
	text-decoration: none;
}
a:hover {
	color: #333333;
	text-decoration: underline;
}
td.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}
td.body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #ffffff;
}
th.body {
	font-family: "Lucida grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	background-color: #eeeeee;
	color: #666666;
}
td.details {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #dddddd;
	color: #666666;
}
th.details {
	font-family: "Lucida grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	background-color: #dddddd;
	color: #666666;
}
table.body {
	background-color: #999999;
}
table.details {
	background-color: #cccccc;
}
-->
</style>
</head>
<body>
<:iterator begin subscriptions:><:ifEq [subscription subscription_id] [cgi subscription_id]:>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top" nowrap="nowrap"><img src="<:cfg site url:>/images/<:cfg theme name:>user/subscr_sml.gif" width="19" height="19" border="0" alt="Subscriptions" />&nbsp;</td>
    <td width="100%" class="header"><:subscription title:></td>
  </tr>
</table>
<br />
<div>
<table border="0" cellpadding="5" cellspacing="1" width="100%" class="body">
  <tr> 
    <td width="100%" class="body"><:bodytext subscription description:></td>
  </tr>
</table>
<br />
<table border="0" cellpadding="2" cellspacing="1" width="100%" class="details">
  <tr> 
    <th align="left" nowrap="nowrap" class="details"><b>Subscribed:</b></th>
    <td width="100%" class="details"><:date subscription started_at:></td>
  </tr>
  <tr> 
    <th align="left" nowrap="nowrap" class="details"><b>Expires:</b></th>
    <td width="100%" class="details"><:date subscription ends_at:></td>
  </tr>
  <tr> 
    <th align="left" nowrap="nowrap" class="details"><b>Renewal Period:</b></th>
    <td width="100%" class="details"><:subscription max_lapsed:> days</td>
  </tr>
</table>
</div><:or:><:eif:><:iterator end subscriptions:>
</body>
</html>