<:wrap user/userbase.tmpl subtitle=>"Personal files" userpage=>"files" :>
  <:if Userfiles:>
  <h2><:param subtitle |h:></h2>
  <table class="items files">
    <caption>Files available</caption>
    <thead>
      <tr>
        <th class="item file">Filename/Title</th>
        <th class="date">Date</th>
        <th class="size">Size</th>
      </tr>
    </thead>
    <tbody><:iterator begin userfiles sort: -modwhen:>
      <tr>
        <td class="item file"><a href="<:userfile url:>" title="<:userfile title:>"><!--<:ifUserfile title:><:userfile title:><:or:><:userfile display_name:><:eif:>//--><:userfile display_name:></a></td>
        <td class="date"><:date userfile modwhen:></td>
        <td class="size"><:kb userfile size_in_bytes:>b</td>
      </tr><:iterator separator userfiles:>
      <:iterator end userfiles:>
    </tbody>
  </table><:eif Userfiles:>
  <:if Paidfiles:>
  <h2>Purchased files</h2>
  <table class="items files">
    <caption>Files available</caption>
    <thead>
      <tr>
        <th class="item file">Filename/Title</th>
        <th class="date">Date</th>
        <th class="size">Size</th>
      </tr>
    </thead>
    <tbody><:iterator begin paidfiles sort: -modwhen:>
      <tr>
        <td class="item file"><a href="<:paidfile url:>" title="<:paidfile description:>"><!--<:ifPaidfile description:><:paidfile description:><:or:><:paidfile displayName:><:eif:>//--><:paidfile displayName:></a></td>
        <td class="date"><:date paidfile whenUploaded:></td>
        <td class="size"><:kb paidfile sizeInBytes:>b</td>
      </tr><:iterator end paidfiles:>
    </tbody>
  </table><:eif Paidfiles:>