<:wrap user/userbase.tmpl subtitle=>"Subscriptions" userpage=>"subs" :>
<h2><:param subtitle |h:></h2>
<table class="items subscriptions">
  <caption>Subscriptions</caption><:if Subscriptions:>
  <thead>
    <tr>
      <th class="title">Title/Summary</th>
      <th class="date started">Started</th>
      <th class="date expires">Expires</th>
    </tr>
  </thead>
  <tbody><:iterator begin subscriptions:>
    <tr>
      <td class="title">
        <:subscription title:><:ifSubscription description:>
        <div class="description"><:subscription description:></div><:eif:>
      </td>
      <td class="date started"><:date subscription started_at:></td>
      <td class="date expires"><:date subscription ends_at:></td>
    </tr><:iterator end subscriptions:>
  </tbody><:or Subscriptions:>
  <tbody>
    <tr>
      <td colspan="3" class="noitems">You haven’t subscribed to anything</td>
    </tr>
  </tbody><:eif Subscriptions:>
</table>