<:wrap base.tmpl:>
<div id="user" class="article user">
<h1 class="pagetitle"><:param title |h:></h1><:switch:><:case Param nomessage:>
<:case Match [script] "aza":><:ifMsg:><p id="message" class="error"><:msg:></p><:or:><:eif:>
<:case Match [script] "user":><:ifMessage:><p id="message" class="error"><:message:></p><:or:><:eif:>
<:case default:><:endswitch:>
<:wrap here:>
</div>