<:wrap user/userbase.tmpl subtitle=>"Order history" userpage=>"orders" :>

<h2><:param subtitle |h:></h2>
<table class="items orders">
  <caption>Orders</caption><:if Orders:>
  <thead>
    <tr>
      <th class="item number">No.</th>
      <th class="date">Date</th>
      <th class="status">Status</th>
      <th class="payment">Payment</th>
      <th class="total">Total</th>
    </tr>
  </thead>
  <tbody><:iterator begin orders:>
    <tr>
      <td class="item number">
        <a href="<:target user orderdetail id [order id] |h:>"><:order id |%06d:></a>
        <!--<a href="<:target user userpage _t orders id [order id] |h:>#order_<:order id:>"><:order id |%06d:></a>//-->
      </td>
      <td class="date"><:date order orderDate:></td>
      <td class="status"><:dyncatmsg [order stage_description_id]:></td>
      <td class="payment"><span class="<:ifOrder paidFor:>paid<:or:>unpaid<:eif:>"><:ifOrder paidFor:>Paid<:or:>Unpaid<:eif:></span></td>
      <td class="total"><:cfg shop currency "$":><:number money [order total]:></td>
    </tr><:iterator end orders:>
  </tbody><:or Orders:>
  <tbody>
    <tr>
      <td colspan="4" class="noitems">You haven’t purchased anything</td>
    </tr>
  </tbody><:eif Orders:>
</table>

<:iterator begin orders:><:switch:><:case Eq [cgi id] [order id]:>
<!-- BY ORDER ID //-->
<h2 id="order_<:order id:>">Order summary</h2>

<table class="items">
  <caption>Order <:order id |%06d:> items</caption>
  <thead>
    <tr>
      <th class="item">Item</th>
      <th class="code">Code</th>
      <th class="quantity">Qty</th>
      <th class="price">Price</th>
      <th class="extended">Extended</th>
    </tr>
  </thead>
  <tbody><:iterator begin items:>
    <tr>
      <td class="item"><:ifEq [item productId] -1:>
        <:item title:><:or:>
        <a href="<:url product:>"><:item title:></a><:eif:> <:ifOptions:><span><:options:></span><:eif:><:if And [item description] [cfg shop product_description 1]:>
        <div class="description"><:item description:></div><:eif And:></td>
      <td class="code"><:item product_code:></td>
      <td class="quantity"><:item units:> &times;</td>
      <td class="price"><:cfg shop currency "$":><:number money [item price]:></td>
      <td class="extended"><:cfg shop currency "$":><:number money [arithmetic [item units] * [item price]]:></td>
    </tr><:iterator end items:>
  </tbody>
</table>

<div class="totals">
  <:switch:>
  <:case Order shipping_cost:>
  <p class="freight"><span>(<:order shipping_method:>)</span> <label>Freight:</label> <:cfg shop currency "$":><:number money [order shipping_cost]:></p>
  <:case Match [order shipping_name] ^contact$:>
  <p class="freight"><span>(<:order shipping_method:>)</span> <label>Freight:</label> TBA</p>
  <:case default:>
  <:endswitch:>
  <p class="total"><abbr><:cfg shop currency_code "AUD":></abbr> <label>Total:</label> <:cfg shop currency "$":><:number money [order total]:></p>
</div>
<:endswitch:>
<:iterator end orders:>