<:uc [cfg site name]:> ACCOUNT SERVICES.

Hello <:order delivFirstName:>,

Your order has been shipped<:ifMatch [order shipping_name] ^contact$:><:or:> via <:order shipping_method:><:eif:>.

ORDER DETAILS:

Order No.       : <:order id |%06d:>
Order Date      : <:date order orderDate:><:ifOrder purchase_order:>
Purchase No.    : <:order purchase_order:><:or:><:eif:><:ifOrder freight_tracking:>
Tracking Code   : <:order freight_tracking:><:or:><:eif:>
Shipping Method : <:order shipping_method:>


Item                                       Code         Qty     Price   Extended
--------------------------------------------------------------------------------
<:iterator begin items:><:item title |40:>   <:item product_code |12:> <:item units |%3d:> <:item price |m9:> <:extended price |m10:><:ifOptions:>
   <:options:><:or:><:eif:>
<:iterator end items 
:>--------------------------------------------------------------------------------
<:if Cfg shop shipping
:>                                                             Freight: <:switch:><:case Order shipping_cost:><:order shipping_cost |m10:><:case Match [order shipping_name] ^contact$
:>       TBA<:case default
:>      None<:endswitch:>
<:or Cfg:><:eif Cfg
:>                                                               Total: <:order total |m10:>

SHIPPING DETAILS:

Shipping     : <:order delivFirstName:> <:order delivLastName:><:ifOrder delivOrganization:>
               <:order delivOrganization:><:or:><:eif:>
               <:order delivStreet:><:ifOrder delivStreet2:>
               <:order delivStreet2:><:or:><:eif:>
               <:order delivSuburb:> <:order delivPostCode:> <:order delivState:><:ifCfgsection "country selector":>
               <:cfg "country selector" [order delivCountry]:><:or:>
               <:order delivCountry:><:eif:>
Telephone    : <:order telephone:><:ifOrder delivMobile:>
Facsimile    : <:order facsimile:><:or:><:eif:><:ifOrder delivMobile:>
Mobile       : <:order delivMobile:><:or:><:eif:><:ifOrder emailAddress:>
Email        : <:order emailAddress:><:or:><:eif:><:ifOrder instructions:>

<:with begin wrap 80:>Instructions : <:order instructions:><:with end wrap:><:or:><:eif:><:ifOrder userId:>

This order is available in your account manager, you can review more details 
in your order history.

ORDER DETAIL LINK:
  <:target user orderdetail id [order id]:>
<:or:>

You can review details of this order and track its status online.

ORDER DETAIL LINK:
  <:target user oda id [order randomId]:>
<:eif:>


Regards
The team at <:cfg site name:>
(<:cfg site url:>)
