<:wrap email/base.tmpl title=>"Order shipped" :>

<p>Hi <:order delivFirstName |h:>,</p>

<p>Your order has been shipped<:ifMatch [order shipping_name] ^contact$:><:or:> via <:order shipping_method |h:><:eif:>.</p>

<div class="group">
<table class="vertical left">
  <caption>Order details</caption>
  <tbody>
    <tr>
      <th>Order No.:</th>
      <td><b><:order id |%06d:></b></td>
    </tr>
    <tr>
      <th>Order Date:</th>
      <td><:date order orderDate:></td>
    </tr><:ifOrder purchase_order:>
    <tr>
      <th>Purchase Order:</th>
      <td><:order purchase_order |h:></td>
    </tr><:eif:><:ifOrder freight_tracking:>
    <tr>
      <th>Tracking Code:</th>
      <td>
        <:- if Cfg "shipping tracking urls" [order shipping_name]:>
        <a href="<:cfg "shipping tracking urls" [order shipping_name] |h:><:order freight_tracking |h:>"><:order freight_tracking |h:></a>
        <:- or Cfg:>
        <:order freight_tracking |h:>
        <:- eif Cfg:>
      </td>
    </tr><:eif:><:ifOrder shipping_method:>
    <tr>
      <th>Shipping Method:</th>
      <td><:order shipping_method |h:></td>
    </tr><:eif:>
  </tbody>
</table>
</div>

<table class="items">
  <caption>Order items</caption>
  <thead>
    <tr>
      <th class="item">Item</th>
      <th class="code">Code</th>
      <th class="quantity">Qty</th>
      <th class="price">Price</th>
      <th class="extended">Extended</th>
    </tr>
  </thead>
  <tbody><:iterator begin items:>
    <tr>
      <td class="item"><:item title |h:><:ifOptions:> <span><:options |h:></span><:eif:></td>
      <td class="code"><:item product_code |h:></td>
      <td class="quantity"><:item units:> &times;</td>
      <td class="price"><:cfg shop currency "$":><:number money [item price]:></td>
      <td class="extended"><:cfg shop currency "$":><:number money [extended price]:></td>
    </tr><:iterator end items:>
  </tbody>
</table>

<div class="totals">
  <:- if Order coupon_code:>
  <p class="discount"><span>(<:order coupon_code_discount_pc:>% Coupon) </span> <label>Discount:</label> &minus;<:cfg shop currency "$":><:number money [order product_cost_discount]:></p>
  <:- eif Order:>
  <:- if Order shipping_cost:>
  <p class="freight"><span>(<:order shipping_method |h:>) </span> <label>Freight:</label> <:cfg shop currency "$":><:number money [order shipping_cost]:></p>
  <:- eif Order:>
  <p class="total"><abbr><:cfg shop currency_code "AUD":> </abbr> <label>Total:</label> <:cfg shop currency "$":><:number money [order total]:></p>
</div>

<div class="group">
<table class="vertical left">
  <caption>Shipping details</caption>
  <tbody>
    <tr>
      <th>Name:</th>
      <td><b><:order delivFirstName |h:> <:order delivLastName |h:></b></td>
    </tr>
    <tr>
      <th>Address:</th>
      <td><:ifOrder delivOrganization:>
        <:order delivOrganization |h:><br /><:eif:>
        <:order delivStreet |h:><br /><:ifOrder delivStreet2:>
        <:order delivStreet2 |h:><br /><:eif:>
        <:order delivSuburb |h:> <:order delivState |h:> <:order delivPostCode |h:><br /><:ifCfgsection "country selector":>
        <:cfg "country selector" [order delivCountry] |h:><:or:><:order delivCountry:><:eif:>
      </td>
    </tr>
    <tr>
      <th><:cfg "site users" display_telephone "Telephone" |h:>:</th>
      <td><:order telephone |h:></td>
    </tr>
    <:ifOrder facsimile:><tr>
      <th><:cfg "site users" display_facsimile "Facsimile" |h:>:</th>
      <td><:order facsimile |h:></td>
    </tr><:eif:>
    <:ifOrder delivMobile:><tr>
      <th><:cfg "site users" display_mobile "Mobile" |h:>:</th>
      <td><:order delivMobile |h:></td>
    </tr><:eif:>
    <:ifOrder emailAddress:><:or:><tr>
      <th><:cfg "site users" display_email "Email Address" |h:>:</th>
      <td><:order emailAddress |h:></td>
    </tr><:eif:>
    <:ifOrder instructions:><tr>
      <th>Instructions:</th>
      <td><:order instructions |h:></td>
    </tr><:eif:>
  </tbody>
</table>
</div>

<:ifOrder userId:>
<p>This order is available in your <a href="<:target user |h:>">account manager</a>, you can review more details in your <a href="<:target user userpage _t orders |h:>">order history</a>.</p>
<p class="bse-buttons"><a href="<:target user orderdetail id [order id] |h:>" class="bse-button">Order details</a></p><:or:>

<p>You can review details of this order and track its status online.</p>
<p class="bse-buttons"><a href="<:target user oda id [order randomId] |h:>" class="bse-button">Order details</a></p><:eif:>