<:wrap base.tmpl:><:embed start:>
<!-- START ID: <:article id:> - TEMP: <:article template:> --><:if Embedded:><:admin article_mini:><:or Embedded:><:admin:><:eif Embedded:>
<div id="article_<:article id:>" class="article shop catalog"><:switch:><:case Match [article flags] "T":>
<h1 id="title_<:article id:>" class="hidden"><:article title:></h1><:case Embedded:>
<h1 id="title_<:article id:>" class="embedtitle"><:article title:></h1><:case default:>
<h1 id="title_<:article id:>" class="pagetitle"><:title:></h1><:endswitch:><:if Or [article body] [ifImages]:>
<div id="body_<:article id:>" class="body">
<:body:>
</div><:or Or:><:eif Or:><:if Dynamic:><:switch:><:case Dynallprods:><:include include/sortallkids.tmpl:>
<form id="add_multiple_form_<:article id:>" action="/cgi-bin/shop.pl" method="post">
<input type="hidden" name="r" value="<:url top:>" />
<table class="items">
  <caption>Select Order Items</caption>
  <thead>
    <tr>
      <th class="col1">Item:</th>
      <th class="col2">Qty:</th>
      <th class="col3">Price:</th>
      <th class="col4">&nbsp;</th>
    </tr>
  </thead>
  <tbody><:iterator begin dynallprods:>
    <tr class="item">
      <td class="col1"><:ifDynallprod thumbImage:><a href="<:url dynallprod:>" class="thumbnail"><:thumbnail dynallprod:></a> <:or:><:eif:><a href="<:url dynallprod:>" class="itemtitle"><:dynallprod title:></a><:if And [dynallprod description] [cfg shop product_description 1]:>
        <div class="i_description"><:dynallprod description:></div><:or And:><:eif And:>
      </td>
      <td class="col2"><:ifAnyProductOptions dynallprod:><:or:><input type="text" id="qty<:dynallprod id:>" name="qty<:dynallprod id:>" size="2" tabindex="<:dynallprod_number:>" /><:eif:></td>
      <td class="col3"><:ifDynallprod retailPrice:><:cfg shop currency "$":><:money dynallprod retailPrice:><:or:>NA<:eif:></td>
      <td class="col4"><:switch:><:case AnyProductOptions dynallprod:><a href="<:url dynallprod:>" title="View this item"><img src="/images/basic/store/buttons/add.gif" /></a><:case Dynallprod retailPrice:><input type="image" name="a_addsingle<:dynallprod id:>" id="a_addsingle<:dynallprod id:>" src="/images/basic/store/buttons/add.gif" title="Add this item" class="shop_addsingle" /><:endswitch:><:include admin/adminmenu/dynallprod_mini.tmpl:></td>
    </tr><:iterator end dynallprods:>
  </tbody>
</table>
<p class="buttons">
  <input type="submit" id="addmultiple<:article id:>" name="a_addmultiple" value="Add items to <:cfg shop cart_name cart:>" accesskey="a" title="AccessKey = a" tabindex="10000" class="shop_addmultiple" />
  <input type="submit" name="cart" value="View <:cfg shop cart_name cart:>" accesskey="v" title="AccessKey = v" tabindex="11000" />
</p>
</form><:endswitch:><:switch:><:case Dynallcats:>
<div class="children">
  <ul><:iterator begin dynallcats:>
    <li<:ifDynallcat thumbImage:> class="thumbnail"<:or:><:eif:>>
    <div class="child"><:include admin/adminmenu/dynallcat_mini.tmpl:><:ifDynallcat thumbImage:><div class="thumbnail"><a href="<:url dynallcat:>"><:thumbnail dynallcat:></a></div><:or:><:eif:><div class="childtitle"><a href="<:url dynallcat:>"><:dynallcat title:></a></div><:switch:>
      <:case Dynallcat summary:><div class="summary"><:dynallcat summary:></div><:case Dynallcat summaryLength:><div class="summary"><:summary dynallcat:></div><:endswitch:></div>
    </li><:iterator separator dynallcats:><:iterator end dynallcats:>
  </ul>
</div><:endswitch:><:if Or [ifEmbedded] [cfg basic hide_stepparent_list]:><:or Or:><:if Dynstepparents:>
<div class="relatedsections">
  <p><strong>Related sections:</strong></p>
  <ul><:iterator begin dynstepparents:>
    <li><a href="<:url dynstepparent:>"><:dynstepparent title:></a></li><:iterator end dynstepparents:>
  </ul>
</div><:or Dynstepparents:><:eif Dynstepparents:><:eif Or:><:or Dynamic:>
<!-- STATIC CONTENT -->
<p>This template requires dynamic mode</p><:eif Dynamic:><:if Files:><:if Or [cfg basic hide_file_list] [ifMatch [article flags] "H"]:><:or Or:>
<:include include/files.tmpl:><:eif Or:><:or Files:><:eif Files:>
</div>
<!-- END ID: <:article id:> - TEMP: <:article template:> -->
<:embed end:>